<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- DBFlag: Point to dbEVS (Query & Update Record)-->
    <add key="DBFlag" value="ConnectionString_hocmissv02_dbEVS_hcvuappuser" />
    <add key="DBFlag_dbEVS_InterfaceLog" value="ConnectionString_dbEVS_InterfaceLog_DEV"/>

    <add key="ConnectionString_hocmissv02_dbEVS_hcvuappuser" value="DRDG8Dt43AA//oETq27QWx9EI82uDWwMMD17DihPd8hhsAwiQAK2woUsZQxmKfNu7fGgNDvvxcVjrGrVKUCiyijYlgrmCcpePm7rLOTuxBgOj7TBNcHZaWlZxPOyurj9bRDLj2+blUJvhc61EzuQwf2lbXs+Vf0JWmEsy6QxPzanZtG1karnnWtdc2VjSTT0GTysrmveYKIs1MvNlr9G+dVqZItWT2i8Tsn0ZTDpUXo=" />

    <add key="ConnectionString_dbEVS_InterfaceLog_DEV" value="DgQZ+JXdPVyJz7oLvVNnpS7kvPe92f7XRLCA1i9Dl4w91dDM6DAXt/Ec2+MXcoE0xR5ZyKFVqtaYNanrZkvp9Fr5XIVpoi5GlaoRJmJ5UPdYtzUnzHqvmli2lIpRlgU5V32cTNTHtmK2y32ddqzn/hhJy3CnehgxhEQHQcO5R5D4wHJt702BcNSC2Wl2E0zRPFhpVgm9TwgIiHZoMUk5IHcXQrZRSaPrWM224gbZR8XmaZ5gDp1M2w==" />

    <add key="CommandTimeout"  value="300"/>
    <add key="ConnectionTimeout" value="300"/>

    <add key="Platform" value="01"/>
    <add key="CacheFile" value="C:\EVS\CachePath\HCVU_SmartID_DEV\"/>
    
    <add key="ScheduleJobActiveServer" value="dc4evsis01x" />

    <!--<add key="ScheduleJobActiveServer" value="CS5-TOMMYTSE" />-->
    
  </appSettings>

  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
</configuration>
