<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- === Platform setting [start] === -->
    <add key="ScheduleJobActiveServer" value="EH5-MARTINTANG" />
    <add key="Platform" value="01" />
    <add key="DBFlag" value="ConnectionStringHCVU_EHSDB_PRI_1" />



    <add key="ExportFolderPath" value="..\..\Export\"  />
    <add key="BackupFolderPath" value="..\..\Export\Backup\"  />
    <!--D = daily, H = hourly, Q = 15mins (00, 15, 30, 45) M = mins-->
    <add key="TimeInterval" value="M"  />
     <!--A = Normal + Fail, N = Normal case only, F = Fail case only, R = 'Regenerate specific file id only-->
    <add key="GenerateMode" value="A"  />
    <!--only active when GenerateMode='R'-->
    <add key="RegenerateFileID" value="CVP-EHS-VAC-20210122-115316"  />

    <!-- === Platform setting [end] === -->
    <!-- =========================================================================================================-->
    <!-- Connection String Pool start -->
    <add key="ConnectionStringHCSP_EHSDB_PRI" value="JtXIKlyit5ju4eBXzkIFkk7GiRU3skSVInDGvpr2vniaCZSln3NhKtuq4GFzhgoOK4xEERXR8pkp2ljtimQv0G6Cecn2Ai43NP5z6zFjrSA5eaT3IaYa/h3fOLhh9Lqo0uk+QG9asEMxa8NtwBD5OAPeBTAGmSN51xxbTQuWQIoqemBCE5ZLTqLa792xrBiAUlAYdGy02ZI0cjT8ARwfBysIt6x++y8ZNPfUlPM79Hw=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog" value="Eo3norgS0Wc8t1BA/whp5b6tdwpejOtyLw07xv8Sq0vGldqi/DPP5K/TcdSOS4tzzBFhOXvRUOBXY/05+rYbeH0SUCpOjgf1Xakz4Y4EteqJ07WkidRQe5oqoyda+GXeYYtDIyFsV//jH/fpeOAoNYJOW+qtNV7Cg9K0EbZb4Z+yNzTV8Of/5b4aHQcVgoQ3GCjd8+nKeHQBzU74hKtL1JFEbLosVTPhNmsrbUjqP1QYAuiaFjXSv6pYfZfBeUrf" />
    <add key="ConnectionStringHCVU_EHSDB_PRI" value="i6GZ3wAni8IpS0uc0ByVmvSn2kDf1FB2TlIXY8Vzr9Xnaa8OGyWgIbYsY8gx5bjVNwODzHL6/KF2gntQCS2igKSHJIFAe1CdNaIijZaSz/PwvH8UjtimNyaNJU6IpSD16Hb2MTTHFia3lQ9i19r9LJf93HzQatTTTYjOuIrcfuDkSQh9aM0wA9IGzAn5itgLxhzLHCC7mJTc8Jo0T3/lkvMSXuzYv7SzceGJPK9ODMk=" />
    <add key="ConnectionStringHCVU_EHSDB_REP" value="arU6H0G3n1AZNrfnUlkvTMe+sgjlL/SFPryB5Xr1Bsr8tt3+UgSWH1VMJiNfeFHhAf3dW+ykkK8/tI1110jx52GyToTP2UArHBvQ4ws2sMISvgp3wTPwW+Yp7rm7IUU4KrRF3tgY7UunCWDz2hranVeoa6i60nFKcxevwPRxli7S1RMWdWCy9Gc7UtpkxdabJcz1ASo4UVxNi+9Po9Ihov0EQTwg8IAySAWTzBmxFGGkkxvoWS1nVGmh9u8vUpFw" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog" value="pzmS4aA3D0CtFKc+NYCgEN69fCIrEl4ptzGa/i77KKvgCd7jWYTuO3J0QPvTWHrkfsMdO5oYgYy1CUfr5680gGNll1+W5s25rFevmgPAJXoGTSQY+yHqoeQP1rBdi+bg+BvHmRa7KcCY93kgGbFPo+1/b7ANt+KAR4ZnCVveXpkNI7tqfPxnbpdRaATiKvyQgGlEpNPZmdiI1n9DmerPQtjCNl9+GrUQ8TZa1WeM1v8Srgjmm1987Oea0+UMlpcI" />
    <add key="ConnectionStringHCVU_EHSDB_REP_InterfaceLog" value="0EZoPVEwQ1VFLtPJvmnV9gXRoAC3zXz0tVOh1Uv0sgtWpsmMVCEA+oScW5sGlcpPa8xkgVPDzQKdPviNt+W71BPUfPkOQzSltPavHZfiuSLyGrpr27lUhZFgSoeAntlICaYZ0N+mrieNZMptVmn5I4ThdqzHmsusdTcS6JUN1VKyrKt+s8voD3Npo4LIR1zrR/u3iXlndqrgh03Ws08NhZtKXSJH7IZMjEaF4bTC0zvDS5On0LLV/mJ66FfJndbq/eSf/8QxiSkf0OYWvCliLQ==" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry" value="IYYL9/+RpO7lgnb7XbLUFu9+rvG3COC3HlfjdmpKC9MDdRj+kGy+JxYt08AUIzvMB5hTb9roqP+JxAEcJxdDqL8RKCep7/RZJwHU0PQ/zMSOywOMeEAlVIG7fdQRcSFC78Pk3wNFLTBNM0IOzlZeUTcgAkFuXkG3KHOVpX7u2wwvEIk4ztwl79gaL0Ynny0d0jkv4NzHgHxvCIQwQMoGpJelP2Ck1/t03Rpsbwt0lX6C0gcml1MCJz5GuQTabsOM" />
    <add key="ConnectionStringPublic_EHSDB_PRI" value="i6GZ3wAni8IpS0uc0ByVmvSn2kDf1FB2TlIXY8Vzr9Xnaa8OGyWgIbYsY8gx5bjVNwODzHL6/KF2gntQCS2igKSHJIFAe1CdNaIijZaSz/PwvH8UjtimNyaNJU6IpSD1OqSafk42mIBA6l1YiWejMAh84a8xrDXa+WicYZvk1khU6KfM1seaEYwMpF8gLFD0PBcgzMXuNZlkUU7Dt1/X+b8bS5sdDaQiWDWBNvoToec=" />
    <add key="ConnectionStringPublic_EHSDB_REP" value="arU6H0G3n1AZNrfnUlkvTMe+sgjlL/SFPryB5Xr1Bsr8tt3+UgSWH1VMJiNfeFHhAf3dW+ykkK8/tI1110jx52GyToTP2UArHBvQ4ws2sMISvgp3wTPwW+Yp7rm7IUU4KrRF3tgY7UunCWDz2hranU71F/JlAcYUeq9uAED7D56EMe8k6Wi+atZzBiQMdhw5wRPm1vzjSggHzOVB4Soy3VTssgE457SJ6yMNfsoknu/httR/8HwVPuoV4bxo1aFb" />
    <add key="ConnectionStringSSOP_EHSDB_PRI" value="A9FotkvG6BOVGgWbKeNHF9BqWRfUw0MJNhlfz/Q+nfbmObhpYl3GEU7Es2reVaPSEn5s1BWPre2Jxvsf+OzaM1O1Yd2LTB1F5kT0BSaY+DAHp6A+R8CKBxbN+FsfgU/lsbRSqGBwZ5i/A6t9EMnNnny2puI9aEBXX5dJK1cC1jPrTX66PDLTPDm1hoT5Y0S0oH9D/LlpEHT21Yl9FPqboquGxNVg4d+V7sGW5yIUeu0=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI" value="9jx4/cc0hPcOdDMATNPM5OBwN/8IYxwYMJO4AUQXx2GTGwIo34eK13UfUxiuiNbAH25XOLEdK6PDaSusSShS2dyV3I6XMT1T05oHa9nstnBXE+7ifjrbTbgDn3m/XZ07hqzwo4cPxENo8w2qXs/Vlp0qTkaFehlz883oZAJMCE4lc03VSkRIMMdABErBjZT+0Eu122PAZOsR/Jk0/Y5mTDa3OokvYuVJdgKrte+bUIc=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog" value="EVnMxrMtx7yqHXIBiM6xIRHY4VkfsrFI0awHSGDChOAJilbw952OmkHn0gh85CeU6qNwB93MEGVvP5m/HXt7fzigE/oC8iqSc36OSi1BgUA+OxVLtv/Kzy0MFUpUo7RKpJjU5L0XEMgpt2gtaD+02slY6kFxZDYlvCH+SuJbT3unKKd1p4YebI8ep5CylPQsFOOBbA5iUl9XtePSSIMCroHKUxDJ3boJy8mT7QlwPN/t0d7F7eryuIVPUsVVxz5e" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI" value="9jx4/cc0hPcOdDMATNPM5OBwN/8IYxwYMJO4AUQXx2GTGwIo34eK13UfUxiuiNbAH25XOLEdK6PDaSusSShS2dyV3I6XMT1T05oHa9nstnBXE+7ifjrbTbgDn3m/XZ07pKDT7IpsCl10TBIi9krBW2T8L+7WObDakA8S9QzsOiFGzyGDR0WkIyl/LyDOd05EKA3482zrP7rI5Myyl1o1RrYMJETpk1lEzk+L7oLwIDc=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog" value="EVnMxrMtx7yqHXIBiM6xIRHY4VkfsrFI0awHSGDChOAJilbw952OmkHn0gh85CeU6qNwB93MEGVvP5m/HXt7fzigE/oC8iqSc36OSi1BgUA+OxVLtv/Kzy0MFUpUo7RKpJjU5L0XEMgpt2gtaD+02k4nJ/PqsKeBm1TDCtMPWkzoxNSweG3lcEuKdnacQPoAolx0hBZ3eLPhzW/eF/G9gp7pb09Qn0j8nCtQL861gHFLzA4/OBv9qNJNW0FRzT5i" />
    <add key="ConnectionStringWsintuser_EHSDB_REP" value="mSGzZ7dABZpyy/++ItOlk+QLEe3Q4UIMEOLlCe9L7lU7Sb9D3AE1y32Wwij0PXeNcAHZGUdosIV/hhOYLUQYA4zIRr7e0umxbQX8ZXNbZa1JaXtKfTJXpUZG0fKdww5ZDa6ax0nt9Fj+p7UwZAGnRNcoqyz3y7ZR5Ao1gsbZYu6BJ06sbIipAv1oLZXsEoIcu+zFU7EOl42qoA61APCuv1T55UiJFjQhbhfD/t1pJX4tXjMgXopEdBGqA4iwJR0q" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog" value="smskTi7tDJsPQG3O7ythuy8zaPPGermSxMqBSW5B9OOiqnqfNIBmraIzFXMHl/FXX8Z6HnV8GjBtHwfruWqnk+Xfpd2gQQ7jmro8Tw27pA0os+smvYab273pZFVoeREutiCDUtTi8VS7Lxq0I2CSGJp1FzpTBxCTWfpGojWKReL/o0rcOB+YGS6fJ6FX5v71hmFEIDM10nTiZFvo6ib7n+76T/MSf25ZpK99gOwsaOsAhdhgNtRv0Op6cDO/15DPiRrPAIa0QhSVpBmR0OKBWQ==" />
    <!-- === Connection String Pool [end] === -->

    <!-- [dbEVS_Dev_1] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_1" value="i6GZ3wAni8IpS0uc0ByVmhGgSvcBxJqd6mehUr+iasmUuee0K3ChCuNNrO9me3xq4EesLlq+qlfSThkRbDKLqAElXKQk9krvZ/1S925jAPbv9l8OxIj77jnUK6zkmVmp6rnIGTq6QidtljW2sC2bJwTzle7AtwZwpqFwpbfXrpl4hUrNrBnQ9e+nyZuaplWuUefunbRDL2crB2Jh5E5OAsgs1bwjrZ6R+qYrHDD0ITI=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_1" value="pzmS4aA3D0CtFKc+NYCgEE0z9mhVR02f5Q5i51FQLubEXAlwLiLxM2VlpaPHezBY9Dccle0bSYuy4Rx5wHk1YlDAhOCKiPL1s3reFIXauSWXlrBqG+zVm4e72NenMW1InFkDMbhjfkGDqthpR/u6S3hrFHzQop3lti6q+yh+1wqDwc0CklUaQdt17ceYO7svVUYWfe6MOLpu+uC8SEOouBptau8Qz0nIbt+4lhIixmEul1/U2GBe4BPxOW2h7VrX" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_1" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iNE7+EzdZnFMs3Ari/3XnsDtdEispuzj4KNNC2Kmf1isXkY4pgA2owXPfKZJJeWWt+p8YaW9GEH3j/2shNw4R4XqooH4khhJ4g8fvqYjgySeXHlpdda532ByYN1yJJQihTFwT8wQizZYLZ/IkYv8DGI=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_1" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36ydqbvWb9q59JCRZoHrj4xOtFmXxf+p952jsoq8qM729F1iYkPslEF81ZTqxSsDYol/pBLIQmjVyhy2lE8dAQYbQXMod0wwXv2X2I6XLAbGLI4Mz18RyQoymsf0ffIwJswTcxl/coFaQBMhXLL+7wITZXwBUm+sxr/08sSduKApIe" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_1" value="fsBDUEaIyrrE9VDz6Te555lOOabqQkAyKo/dil0/hSOcBkpTlOEnKNy+Og01FgHSm3HwUxDf8Vn31tWWjxokIn7rI0In/w3keZfa/9fGSMsd60YchkuGe5vx6hHUqyMzj+ySXAOBsO51W2jKmk1XvlgjqJSCKF+M/ab7wJE4QUm//1x6gSA+bi1nAcqO36YMMIGkEeistiZ4p2r+xcmTUlesDdYvIrCA71ViCfYa2JY6iEJ/YUFgIvQ4PPHoY8F5" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_1" value="rldRYwW6RmA4Jn5H4UaFK44+7hOgv4s8ScxN3tof2Vt/oYia3HihTw9PLUCckFNsekGtRYIhfg2z36G7aR6DjgdX6p0DA09W+OUAeCPhMSyzwMHcT+l5UDDwA5p2bhJCXHeRDB+8hsRiHBGLx3vFwUbn+/z2lpsrlf520hwGIE0eYKNEMtTExXfjFX2bbaXv8lBz3rlYkmyVmceYTbevI7GRU5iCC24yJgNcF5wSmhX78m1Cf9ehHnNVtqKvvMQa" />

    <add key="ConnectionStringPublic_EHSDB_PRI_1" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iNE7+EzdZnFMs3Ari/3XnsDtdEispuzj4KNNC2Kmf1isG6Qa1CrF5ybybYHQwX3fL+0GClBKVaD2rFrOQNMajK++q4cApnvNyzRDMNCjpJMbPvNNava7ekY+g77CrJG1v5jUSF06iHxiqO4SwYBtmG4=" />
    <add key="ConnectionStringPublic_EHSDB_REP_1" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36ydqbvWb9q59JCRZoHrj4xOtFmXxf+p952jsoq8qM729F1iYkPslEF81ZTqxSsDYol9TzjdBImuFqhH2C2OZngxo4wFqi+BtIk3mX4JHGOySopEsgVKynoAmgfxK5ATB3Hnz2kxqRMPdlTDS8muKhIgeroBXn+nJmgT4LJxwjDT77" />

    <add key="ConnectionStringSSOP_EHSDB_PRI_1" value="XtV1fXKPuZYYKoWTKa6ob6/8h2s1KbmcEJYdQE9TlxdyVmqUqGjAiFBFviDmee/wmKwxIidJ7KD5pnS4nKiE7lklQaFwVmwm4LM6X72qRK46YdzJSB8Ae4lkGPjbYDWMV9veW1T43U9kpu3jlzwZ0eGUczVVCmzYKln4DMXaYLBTSRq9lVfpVq6mO6yo4nZvC1AYXMnXknafcn70ujWBPt6lopk5lFwo+hBM64Jd/jQ=" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_1" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVMT7/1fN3vnpBtyzOehmL6qmIEYfwO0uNOzmO8E4gacRL6XEV247xbr3G78NKjLLKnc+IwFgzMRCjJe/FFKogpdf2kvb+nM5uc2FM91VP6CZ2zZn2T0aIcepxl6GwFhtWQAAOtgouo0zlFAYLr+e2rM=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_1" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAPLIFkWqKnESoIKT6MwsM9NDofgJI3vDJ8ngIuZeKEK4Um60F089nxUAXi+kRdl1NgR0Nq4e5ZCiyvnAVkpIDj9qOBdmBDKFvlk022v/xJ4qgYL9hutuQowwXDedPoZ54IQFLi+fzfllJUDTmroZG6sqfF4UcDB1vTxoOcwBby/Q" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_1" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVMT7/1fN3vnpBtyzOehmL6qmIEYfwO0uNOzmO8E4gacRBKUTtkmyzy05xjMgMOk2Rv0TAVaWrxoP9EQXmyeZCwUV/qLHPFLazYd6d42JLghYONA8dTJ/ThBN7EbT1yzx0Zu79dRjXpF27vQ5PS3qs/I=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_1" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAPLIFkWqKnESoIKT6MwsM9NDofgJI3vDJ8ngIuZeKEK4Um60F089nxUAXi+kRdl1NpCjtd+M7oSlsLQVCHzBjtMN4QZoFMZUVSO0KrHc0Jyyk4ow5YOsLnsGUpT5wHn47TgaxpVuMy21oOLx+XF+0aiShbeh+DOg11hMDDpvo4Nj" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_1" value="BRAcZXh3/SglDUrMee5ZzfjB0Jj8utEUIOb+4Y/dqiZkfj7K6PEYTfAOA6txaEr4GL/SvekKDyes+aNm3J6yxu0NIbqs7CE2jIVQiitqOOXZjUGgKD1DJBgsgpiR+1w5qSaNhhboO5yW+hNXuwFwZPb3pUAkFm5mlol4wKR66mz8/YH85pnnAU0uVStxO8u1BUsBeonqUvqOM19cehCVFzHCbolIuemaxxCWY3+Pb9qkXLFvb4shw0kfm2zWVOvm" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_1" value="N0kh3tNU8YJgSt2NZQM70jw04Aq0pemfe8B9lsv3FZAlD7lfniTYVgRLY/bymOkE39jIQYr0tT6K5Yp0IG4mDmJ7N9kDo25dtwtS497DDXrQB4a3zqnt8hQEG0zJFDulvPvpJ6YJf2wPpO1u+DJoTEMh/e4UX4t/c523iqmZg2fcI7x3wm0X1nYAOgdIVwmF1jrU+dg7m+3av7rLbov5Yo4IZjbrFu93X7gwjtXW7c/2Hsts629LkjbUzcQC9QRjtxeXOMFKhHtjHpb6VjwhXQ==" />
    <!-- === Connection String Pool [end] === -->

    <!-- [dbEVS_Dev_3] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_3" value="i6GZ3wAni8IpS0uc0ByVmhGgSvcBxJqd6mehUr+iasmUuee0K3ChCuNNrO9me3xq4EesLlq+qlfSThkRbDKLqBghZxki0+Agr0xtq5gJFWNXnoiC6GcDgOzypsD4O4zmueZx5DH/VnX/FbLNJq00+4/7GpKKjnmL4lV8PbUUILF23VjFlitBEKPsFMse/nNzTqWYwWAAP15eKHKpqSiTElfHOSJQDD6TR4V5+4R12iE=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_3" value="pzmS4aA3D0CtFKc+NYCgEE0z9mhVR02f5Q5i51FQLubEXAlwLiLxM2VlpaPHezBY9Dccle0bSYuy4Rx5wHk1YmbrZlnWREiuz17a9RnhX2WAmUkZReyWAa1TsoAe2GnOepP1cpx28/H26Kr9s/ha4+q1E+Mhu8UPOSylqaJyKDQbB5U+UzCKEU6sbOFQt8T3H5X0AlWUv2UtNel+TMr12fFH+i9E3rMsaEHMU4kvy04JSAWflnw9/bcfNDfHgBkD" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_3" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iPBSS8+UME+d8Nu3r99K8WdjTrCv6+XabPKfT+PcaOoXY4v215OCXLPjGrZ+VovzIuGLcODCLX1EhcGgSB6IjpWOZFJOrnGVFuzTZXAzzW0Vgqq+FYQ8MZkr6bjYhh8L4GlAb3AkYXFM4gAdy/3+VNA=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_3" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36ydwlc/YXFfPIycEE21clNatR2pEaNKc7O5EiLX6LgEmQkaYsDxUBnBrhm9yNRzM0cw58pKUoFA7hqM1kOpt2UzG+MtDGqbBtAp6FD9eGDK2egdtW1dUwBa55UY1qncN21A9ZZnIJdrg4R9KBUTO5ktmSi9VU+8ajXcCgBFq0kBMg" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_3" value="fsBDUEaIyrrE9VDz6Te555lOOabqQkAyKo/dil0/hSOcBkpTlOEnKNy+Og01FgHSm3HwUxDf8Vn31tWWjxokItnM/Y4xHMO5hM7JmMhKlm8EmcTgNaQ+V91Ofvax0E5/v4m0mZG8nNstbwL2tDh2QX/pJydD484kyOXOUIuGC8WSFlgZ9QLmCAQziXEmsPZr0HwqI6fCOyhbFGLU6y4K0mOwfJUFao6QZc7LChwcBTMdcEjsKAXUANs8ksaMZirg" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_3" value="rldRYwW6RmA4Jn5H4UaFK44+7hOgv4s8ScxN3tof2Vt/oYia3HihTw9PLUCckFNsekGtRYIhfg2z36G7aR6DjorX/YpYyKvM0spZXzZ42Gi9afT1ww/4ZouVypkT1/sg1CebV+M5aYsxTzfKKjOqJE9CwSGht/XWh0gzfcR7tlarM6z5c07jYgR9rsSX7SCR7GHQPxfIseKftv1H3XKJl/uSHyNNNEVqskgjkjLZprWo2UxiOeq76i8GI2hDzxtL" />

    <add key="ConnectionStringPublic_EHSDB_PRI_3" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iPBSS8+UME+d8Nu3r99K8WdjTrCv6+XabPKfT+PcaOoXC+4tfAKRlOG5Xx21pqtZbB1JdaQmVD/q0OBWkH8hyD046emGnLwKlzNVDtKc7M3sOAdt//XX9flX7+TC9MA7yh208QIVGXqxhQe7Qj6gmPI=" />
    <add key="ConnectionStringPublic_EHSDB_REP_3" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36ydwlc/YXFfPIycEE21clNatR2pEaNKc7O5EiLX6LgEmQkaYsDxUBnBrhm9yNRzM0c8ijxT3m06CG6y2U0+nHeg4K0kavpMXtuL3a/OQYyHmpTZv+B380sN/Q3uvhM5n72AMt6b78cV7xS3xApBkrCnssKETyErBdI5H9RFve0sQo" />

    <add key="ConnectionStringSSOP_EHSDB_PRI_3" value="XtV1fXKPuZYYKoWTKa6ob6/8h2s1KbmcEJYdQE9TlxdyVmqUqGjAiFBFviDmee/wmKwxIidJ7KD5pnS4nKiE7mf2Oj5Jf5qcJvKeoZmPi4PLaBtV16IDg17a8zsQhs2oJaYCZYLVGkn5bJYU4ZYwPM/v/xvb7wwe3GTRP04mv4OMBC4OK6Vf8DIpSHqShD4wtD6xlbKGNW81qoiCyAFTArs6RssFRIIk88/eK2+w+xU=" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_3" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVO49sUasAIST/67tC/gIlh4LymUz/Wj+sp0maIiB538hh1nk1xz8flgQOP3N9g+wJz+kq+9imeCn/RC6jIw+hekDHR3li1enNV2VnTCBpAoEeBsAZneV4dYP31oL3fMOKj92MFWX69m+VGzvKqQSqj0=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_3" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAGHXIXSWhpvrdNrCKaYITVCSGy+6wFM9QzEQq6dEhGHubFwtuPqs0pOFdz1PVakoMuAYmmfEADuSW9uDEkkXSd1ZTLXxZMkfgEZjTcE+6DQgRdf2z5TiXnls3oqFahFCVbQK53eIInQ/3/JFVpmdLnQaceUAEn2EE5TfjW3Ja/6Z" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_3" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVO49sUasAIST/67tC/gIlh4LymUz/Wj+sp0maIiB538h8kp7lVM7iUvDH0ssqW9NlYmmXlxl6u47XaN+fzR4QmorMxERj3ve16QkFetQw97WL7/Qv1lr8FVtMCFrFVZzwotpJCtu7H7ol7cIYobTpXk=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_3" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAGHXIXSWhpvrdNrCKaYITVCSGy+6wFM9QzEQq6dEhGHubFwtuPqs0pOFdz1PVakoMiUDC2KHPv1VEz/ZlQN4jWlhnKn7oVsL80Ngg4axdagde4d/Z31FZwpkWuxXyhqjGj6Kwk/w53F3mCUTkQyGt2Td1N8uxSek9Vd2ubYKdAZT" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_3" value="BRAcZXh3/SglDUrMee5ZzfjB0Jj8utEUIOb+4Y/dqiZkfj7K6PEYTfAOA6txaEr4GL/SvekKDyes+aNm3J6yxp/2IDcn1Dx8rp1y4xFZYatKUU8tma78yJalTQtGN6HC7HtBGl05GeAUnW9WA7tsbpJ9+nfGKYP3ikB/IhOC1OqcJvw4G2FV5DdMRJ6QQHtZR28sh/MLx4dt4ib8NFaFkXaBnRUjzOTR+sggD9mBUdzHVw/6+ElV0bwgLhfJKQSi" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_3" value="N0kh3tNU8YJgSt2NZQM70jw04Aq0pemfe8B9lsv3FZAlD7lfniTYVgRLY/bymOkE39jIQYr0tT6K5Yp0IG4mDmHDA5D+gX6Whk8iYIK0Eqft1PYPcbMdF7E/RrPIJbr6n7IxlYpLvO5w8hYZNGM6q2WhcR8F9v9xOuqU6krI80451S+tzM3oEyt4JUj5XZS64dllowr+c69gXAWN8khC5nfD/KxIxOXdAfDrC1EzyvX0gktvTkePz8EnYTB8rFfyEHS2YoJ5BdaJCIW1sRwX2Q==" />
    <!-- === Connection String Pool [end] === -->


    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>