<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- === Platform setting [start] === -->
    <add key="ScheduleJobActiveServer" value="EH5-WINNIESUEN"/>
    <add key="Platform" value="01"/>
    <add key="CacheFile" value="C:\EVS\CachePath\HCVU_DEV\" />
    <add key="TemplatePath" value="C:\Project\EHS2015\ExcelGenerator\Template"/>
    <add key="BackupPath" value="C:\Project\EHS2015\ExcelGenerator\Backup\"/>

    <!-- =================================================================================================== -->
    <!-- ====== Below is the setting of  "FileID" and "BackupPathFileID" under different schedule job ====== -->
    <!-- ======                    (Please use the correct setting for your testing)                  ====== -->
    <!-- =================================================================================================== -->

    <!-- ExcelGenerator_Hourly -->
    <!-- ======================================  -->
    <!--File ID list will be process in this instance-->
    <!--<add key="FileID" value ="eHSD0014,PPC0001,eHSVF000,eHSVF001,eHSVF002,eHSVF003,eHSVF004,eHSVF005,eHSVF006"/>-->

    <!-- ExcelGenerator_Reimbursement -->
    <!-- ======================================  -->
    <!--File ID list will be process in this instance-->
    <!--<add key="FileID" value ="SUPER,SUPERRMB"/>-->

    <!-- ExcelGenerator_Report-->
    <!-- ======================================  -->
    <!--File ID for File need to be back up-->
    <!--<add key="BackupPathFileID" value="VaccineClaim,VaccineClaim_RVP,VoucherClaim,eHSD0015,eHSD0016,eHSW0001,eHSW0002"/>
    -->
    <!--File ID list will be process in this instance-->
    <!--<add key="FileID" value="eHSD0015,eHSD0016,eHSD0029,eHSD0030,eHSW0001,eHSW0002,eHSW0003,eHSW0004,eHSW0005,eHSM0003,eHSM0004,eHSM0005,eHSM0006,eHSM0007,eHSM0008,eHSM0009,eHSM0010,eHSM0011,eHSU0001,eHSU0002,eHSU0003,eHSU0004,eHSU0005,eHSU0006,eHSU0007,eHSU0008,eHSU0009,eHSU0010,eHSU0011,eHSU0012,RR01,PPC0002,PPC0003"/>
    -->
    <!--File Type supported by [ExcelGenerator]-->
    <add key="FileType" value="XLS,XLSX"/>

    <!-- ExcelGenerator -->
    <!-- ======================================  -->
    <!--File ID list will be process in this instance-->
    <!--<add key="FileID" value ="BNC,PreAuthorizationCheck,PreAuthorizationCheckRMB"/>-->

    <!-- GenerateVoucherStat -->
    <!-- ======================================  -->
    <!--File ID for File need to be back up-->
    <!--<add key="BackupPathFileID" value ="eHSD0001,eHSD0004,eHSD0028,eHSD0032,eHSD0033"/>-->
    <!--File ID list will be process in this instance-->
    <!--<add key="FileID" value ="eHSD0001,eHSD0004,eHSD0028,eHSD0032,eHSD0033"/>-->

    <!-- All for development -->
    <!-- ======================================  -->
    <!--File ID for File need to be back up-->
    <add key="BackupPathFileID" value ="eHSD0001,eHSD0004,eHSD0028,eHSD0032,eHSD0033"/>
    <!--File ID list will be process in this instance-->
    <!--<add key="FileID" value ="eHSVF000,eHSVF001,eHSVF002,eHSVF003,eHSVF004,eHSVF005,eHSVF006"/>-->
    <add key="FileID" value ="BNC,PreAuthorizationCheck,PreAuthorizationCheckRMB,SUPER,SUPERRMB,eHSD0001,eHSD0004,eHSD0015,eHSD0016,eHSD0028,eHSD0029,eHSD0032,eHSD0033,eHSW0001,eHSW0002,eHSW0003,eHSW0004,eHSW0005,eHSM0003,eHSM0004,eHSM0005,eHSU0001,eHSU0002,eHSU0003,eHSU0004,eHSU0005,eHSU0006,eHSU0007,eHSU0008,eHSU0009,eHSU0010,eHSU0011,eHSU0012,RR01,PPC0001,PPC0002,PPC0003,eHSM0006,eHSD0014,eHSVF000,eHSVF001,eHSVF002,eHSVF003,eHSVF004,eHSVF005,eHSVF006,eHSM0009,eHSM0010,eHSM0011"/>
   
        
    <!--<add key="DBFlag" value="ConnectionStringC"/>
    <add key="DBFlagP" value="ConnectionStringC"/>
    <add key="DBFlag2" value="ConnectionStringC"/>
    <add key="DBFlagRead" value="ConnectionStringC"/>
    <add key="DBFlagS" value="ConnectionStringC"/>
    <add key="DBFlagR" value="ConnectionStringC"/>-->

    <add key="DBFlag" value="ConnectionStringHCVU_EHSDB_PRI_2"/>
    <add key="DBFlagP" value="ConnectionStringHCVU_EHSDB_PRI_2"/>
    <add key="DBFlag2" value="ConnectionStringHCVU_EHSDB_PRI_2"/>
    <add key="DBFlagRead" value="ConnectionStringHCVU_EHSDB_PRI_2"/>
    <add key="DBFlagS" value="ConnectionStringHCVU_EHSDB_PRI_2"/>
    <add key="DBFlagR" value="ConnectionStringHCVU_EHSDB_PRI_2"/>
    <!-- === Platform setting [end] === -->

    <!-- =========================================================================================================-->


    <!-- =========================================================================================================-->
    <!-- Connection String Pool start -->
    <add key="ConnectionStringHCSP_EHSDB_PRI" value="JtXIKlyit5ju4eBXzkIFkpKCaUC3Zi97hDN16UgpSx1yZYYQ82xDV8V9oBXydBpB8eXscjeU6juqMlPmd8xIz9nS958KHGYxtbjTtjS32Ndt61aoKMVZPIEr2jnnISUo49d4jLLkFS3nstdjRV2zFX1CjBb+BqsK8yrQTrFy+Ug/2gzSYRYmoEGRaOF2tVTBYT+k7jLsB5oTV7/AbTv3mtSiCx7oYM4rpj4f6UP986w=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog" value="Eo3norgS0Wc8t1BA/whp5cFHvVZUnG72ZoV+B4lvDCDKGXO7CM1u5B+lB2gT8uQxm1HfXfjh8A5qgFE7TfdkR0OilEqy+esZ4vdSKbq+iEdI5Tvw+hdb2XQ5aA+uP/h68QaXme6GYGvTXoP9F5VJkcyop/EOsmvZrGsPfWhht+taODSyuvwnIzynjb1ICvuaQbJeayyCikZLnRS2m0C5uAVvSJB8uxV4LZhB/+qsjJIff7AZQX26+UjodfZBkvZ2" />

    <add key="ConnectionStringHCVU_EHSDB_PRI" value="i6GZ3wAni8IpS0uc0ByVmhGgSvcBxJqd6mehUr+iasmUuee0K3ChCuNNrO9me3xq4EesLlq+qlfSThkRbDKLqLoen9cu9kVg/YeTzdQoc8Bl79BinkO5psJcOZHS2CucUL1jEokBPpa85au8PcGTAISQrqQh0OfYL83/MYCrMd2qZfUwnLQB1uf47fRSmMcgcig2UcXZWYicHrZO4snvJWYn2kx9ZwiPEf/qFZWidRw=" />
    <add key="ConnectionStringHCVU_EHSDB_REP" value="arU6H0G3n1AZNrfnUlkvTDfg7mhjm3SLBOLWeSE4f+tDuDUJoTU/1Ij35ZVj+eszM0RBciUr4sLgswEvfGiFc6+sJZB1FlUeUbVQNhKZe8TvPeFnGSnHfj25kZRKPvXF8gbMaWXoPQ6ZjYfqAbuzbzhCiakC28v3cOJPbapFUxYeDpC/J1nHdgBoKGI7FBsedC7de2dQxTWv5v62BVbIa60yt9SLAI6+dwLWXXehsBYxXQ4eZZ7O5vT64EqKGthf" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog" value="pzmS4aA3D0CtFKc+NYCgEE0z9mhVR02f5Q5i51FQLubEXAlwLiLxM2VlpaPHezBY9Dccle0bSYuy4Rx5wHk1YmPya1L6upYJQ+4M3u1iouLHuCdfGJBRQVNTwulfcd3KFslYmqGgV+/eDwrbguDUsPaQN0DWxwXlGi9pa3ZoWbqn0pV4kND8N2QRXD4M7SkckQAigrphf7kqyRu/lPPWv/HHOKwO8Y4XrJmmtqriNB+KvI9XuDqOVtO7S548cdc9" />
    <add key="ConnectionStringHCVU_EHSDB_REP_InterfaceLog" value="0EZoPVEwQ1VFLtPJvmnV9nddCcwpHZL2sfAboggJjBmVTDCXNWYB5ZY2dyp+54K8M0x93vYn2di/XKMpHVfM3dhcitLCeMjJluefDpZ8Dp6YvT2H/WNc/VuaO4S13aw7g5cWm82xvg3vo0ccT1aP+6v770n7fdJ2ET3yJAVhuTfxwln9db/UyLD5fFFXrslCu4oER/yKiujNh6QhcUGG/y0ml7/2eMz82Q6PtLTMiMVVBdqM5VIuwONO8vaBHxS/nVAO/BQRXDbkE4exqMT6hw==" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry" value="IYYL9/+RpO7lgnb7XbLUFmOhPTcDnwpspt2drI/lEOFQYEy6JO3Bm5YZnFiH6Ufwpb3HFg13SCGjojtw0cHSn0idjGelvfVHXBbgnPD0uTtzooBhetiARrDgbngztzAffwWq5hDLTuIT+HxT8xwgsyYQvyO+TCZPxPm+EDhJLmZ2F6Q5RkX+STKSWw51wSnkAxS2C7Y3LvGDI6HDPOg3+Fql90K/qBV4mUsWtVQDdXv2BEhdb0cKoaJmH6VWz6y2" />

    <add key="ConnectionStringPublic_EHSDB_PRI" value="i6GZ3wAni8IpS0uc0ByVmhGgSvcBxJqd6mehUr+iasmUuee0K3ChCuNNrO9me3xq4EesLlq+qlfSThkRbDKLqLoen9cu9kVg/YeTzdQoc8Bl79BinkO5psJcOZHS2CuciAlRniZ+0pEWO2o3jeM/37vb0DTDcVMnszIzBzgXdgkNgRk55CIw8dTycflzXHrYpEhU7OkgqQPG1+dQL1qqnnR3yNNmmRd5Omlz25MM/xc=" />
    <add key="ConnectionStringPublic_EHSDB_REP" value="arU6H0G3n1AZNrfnUlkvTDfg7mhjm3SLBOLWeSE4f+tDuDUJoTU/1Ij35ZVj+eszM0RBciUr4sLgswEvfGiFc6+sJZB1FlUeUbVQNhKZe8TvPeFnGSnHfj25kZRKPvXF8gbMaWXoPQ6ZjYfqAbuzbx5N07o8fybc9K68TVmVqRoYbpTxlMe1h776mClHOSXUr0ZS0sP3F2Mzi8KenjG8rZbJL5AQJF3Tyd0rADbInZL3C4bt0SgpJlkqFYeFcCuU" />

    <add key="ConnectionStringSSOP_EHSDB_PRI" value="A9FotkvG6BOVGgWbKeNHFzuahy/YAa07vu4Fk/iC5ZYv1rtWiUJtvI0y2Z/Mr/4Yr8dIRkbKtak3at+2fIzZZ3nouD1HE0xy6GgRxVkrEelLHkDPmvxmmqtYi98uNQSYOst8XU1B8zjsqb0Ykvdz7lGpTE9IsFHnZvez0y3djC13y/NYF5QLsZqoF2oZNpXrZVrbr+1IPWtZQy7DbwyOukM4hBdCtkox2m5VbsmHEUc=" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI" value="9jx4/cc0hPcOdDMATNPM5HBLNC6Q2IfuCmZXzf9ioYgtuBOxkTgIT5+IDw2TVzoBobnI46ivWyDdGw+IMZiqTBLerb6F0hlsueYOKbGHzctLPH2q2sseoL+d3noGF8fKmtWvr+sZTOjgN9bUBe9rb8puXkqCZ+35nz2f3DlrERkV44Xdid8DmcX+6yuU2Il49Vr+0R4UUZSxr34sd2yFhfSLpAz6bZEgF3qBPKwkVOE=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog" value="EVnMxrMtx7yqHXIBiM6xIb2kt2l7ty058aR1dsGplk/p2IHbwevjPpQ5kc2GMkIFfnEX4zi+UoE6t6071UU/OdDfr1G6iMErvGV9QHjzVlp3m0S1eYqUdBOYoxLdp13RSKb279P7/S3ZGvn5PDhN0aK6sBEX8Hof7Ryt9BWx2aR6/Hghvl4r5xT+RF4yQm6oDTEWh5rIi+SAOcQGjfNNHD3avCKmcrnAVQHezD+tybs/bLVyIQZ8K0mGJhA9uUNg" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI" value="9jx4/cc0hPcOdDMATNPM5HBLNC6Q2IfuCmZXzf9ioYgtuBOxkTgIT5+IDw2TVzoBobnI46ivWyDdGw+IMZiqTBLerb6F0hlsueYOKbGHzctLPH2q2sseoL+d3noGF8fK6jr2lrvHvx2XGzDawslLrCaVCdxVFHKSM59f8bDSL7ASF5cY8huwPh5h3jtXDUANtXV5QZecKMYWG/Y3QejOPkzIEniggDwXDmLv8LW72HM=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog" value="EVnMxrMtx7yqHXIBiM6xIb2kt2l7ty058aR1dsGplk/p2IHbwevjPpQ5kc2GMkIFfnEX4zi+UoE6t6071UU/OdDfr1G6iMErvGV9QHjzVlp3m0S1eYqUdBOYoxLdp13RSKb279P7/S3ZGvn5PDhN0ew7s4SiHp3GDcuZaFo4CcHPnAxLqgmKvvGy1z3tEhQxwU8bGKiU4PgH8UnzOAl8KkIaRLAT+Ko57Q1B5oyGTvDZgP+dLF8A5YnP+lSpiLS7" />
    <add key="ConnectionStringWsintuser_EHSDB_REP" value="mSGzZ7dABZpyy/++ItOlk1iqo9oBrlsNsgP2OUieN5f9Rao+uOLPvFxIabQw3cOxwDRuYQitoE/Dao2H4ypweRcUpHpweDioAw7W9ZMg1kcOcAEw40vgHdrXz0ss4pESqkgDUBn2cf2cC1pxz2Vc+ZPABSaIgRinf2BRASV8ufMefyk+kmV/MoWbEG9XdgZrLHjTvM6nqOT2zjd522FIL52/ZXQBbxyjoTwvftk+HzbQ0TO1l+8IidiILIHykdE7" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog" value="smskTi7tDJsPQG3O7ythu18Olpg6k/P55lqxyX+rUWZ4TgOXBChcd/gH0ULOFuegdUWVERfHK6wWXEQLfzpvdrJ98KZo+EY7GP8psRczI9wikhkxCqrko3D9gJEzhJOKZC+5/ltIcf3Y4Y/XB3pER75Cigjr4bvF3ds7mZ8RItPTdYOrHHBXGFKis6Bm0SyoKUsn1y86FhiOE1H7ON0PhxKaVx+5UrpskSIMeNg3hBRJjQKa8XjlouIgNYQAkD0lOFjl6K5FmeUv9Z7DpkeDvg==" />
    <!-- === Connection String Pool [end] === -->

    <!-- [dbEVS_Dev_1] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_1" value="i6GZ3wAni8IpS0uc0ByVmhGgSvcBxJqd6mehUr+iasmUuee0K3ChCuNNrO9me3xq4EesLlq+qlfSThkRbDKLqAElXKQk9krvZ/1S925jAPbv9l8OxIj77jnUK6zkmVmp6rnIGTq6QidtljW2sC2bJwTzle7AtwZwpqFwpbfXrpl4hUrNrBnQ9e+nyZuaplWuUefunbRDL2crB2Jh5E5OAsgs1bwjrZ6R+qYrHDD0ITI=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_1" value="pzmS4aA3D0CtFKc+NYCgEE0z9mhVR02f5Q5i51FQLubEXAlwLiLxM2VlpaPHezBY9Dccle0bSYuy4Rx5wHk1YlDAhOCKiPL1s3reFIXauSWXlrBqG+zVm4e72NenMW1InFkDMbhjfkGDqthpR/u6S3hrFHzQop3lti6q+yh+1wqDwc0CklUaQdt17ceYO7svVUYWfe6MOLpu+uC8SEOouBptau8Qz0nIbt+4lhIixmEul1/U2GBe4BPxOW2h7VrX" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_1" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iNE7+EzdZnFMs3Ari/3XnsDtdEispuzj4KNNC2Kmf1isXkY4pgA2owXPfKZJJeWWt+p8YaW9GEH3j/2shNw4R4XqooH4khhJ4g8fvqYjgySeXHlpdda532ByYN1yJJQihTFwT8wQizZYLZ/IkYv8DGI=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_1" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36ydqbvWb9q59JCRZoHrj4xOtFmXxf+p952jsoq8qM729F1iYkPslEF81ZTqxSsDYol/pBLIQmjVyhy2lE8dAQYbQXMod0wwXv2X2I6XLAbGLI4Mz18RyQoymsf0ffIwJswTcxl/coFaQBMhXLL+7wITZXwBUm+sxr/08sSduKApIe" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_1" value="fsBDUEaIyrrE9VDz6Te555lOOabqQkAyKo/dil0/hSOcBkpTlOEnKNy+Og01FgHSm3HwUxDf8Vn31tWWjxokIn7rI0In/w3keZfa/9fGSMsd60YchkuGe5vx6hHUqyMzj+ySXAOBsO51W2jKmk1XvlgjqJSCKF+M/ab7wJE4QUm//1x6gSA+bi1nAcqO36YMMIGkEeistiZ4p2r+xcmTUlesDdYvIrCA71ViCfYa2JY6iEJ/YUFgIvQ4PPHoY8F5" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_1" value="rldRYwW6RmA4Jn5H4UaFK44+7hOgv4s8ScxN3tof2Vt/oYia3HihTw9PLUCckFNsekGtRYIhfg2z36G7aR6DjgdX6p0DA09W+OUAeCPhMSyzwMHcT+l5UDDwA5p2bhJCXHeRDB+8hsRiHBGLx3vFwUbn+/z2lpsrlf520hwGIE0eYKNEMtTExXfjFX2bbaXv8lBz3rlYkmyVmceYTbevI7GRU5iCC24yJgNcF5wSmhX78m1Cf9ehHnNVtqKvvMQa" />

    <add key="ConnectionStringPublic_EHSDB_PRI_1" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iNE7+EzdZnFMs3Ari/3XnsDtdEispuzj4KNNC2Kmf1isG6Qa1CrF5ybybYHQwX3fL+0GClBKVaD2rFrOQNMajK++q4cApnvNyzRDMNCjpJMbPvNNava7ekY+g77CrJG1v5jUSF06iHxiqO4SwYBtmG4=" />
    <add key="ConnectionStringPublic_EHSDB_REP_1" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36ydqbvWb9q59JCRZoHrj4xOtFmXxf+p952jsoq8qM729F1iYkPslEF81ZTqxSsDYol9TzjdBImuFqhH2C2OZngxo4wFqi+BtIk3mX4JHGOySopEsgVKynoAmgfxK5ATB3Hnz2kxqRMPdlTDS8muKhIgeroBXn+nJmgT4LJxwjDT77" />

    <add key="ConnectionStringSSOP_EHSDB_PRI_1" value="XtV1fXKPuZYYKoWTKa6ob6/8h2s1KbmcEJYdQE9TlxdyVmqUqGjAiFBFviDmee/wmKwxIidJ7KD5pnS4nKiE7lklQaFwVmwm4LM6X72qRK46YdzJSB8Ae4lkGPjbYDWMV9veW1T43U9kpu3jlzwZ0eGUczVVCmzYKln4DMXaYLBTSRq9lVfpVq6mO6yo4nZvC1AYXMnXknafcn70ujWBPt6lopk5lFwo+hBM64Jd/jQ=" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_1" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVMT7/1fN3vnpBtyzOehmL6qmIEYfwO0uNOzmO8E4gacRL6XEV247xbr3G78NKjLLKnc+IwFgzMRCjJe/FFKogpdf2kvb+nM5uc2FM91VP6CZ2zZn2T0aIcepxl6GwFhtWQAAOtgouo0zlFAYLr+e2rM=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_1" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAPLIFkWqKnESoIKT6MwsM9NDofgJI3vDJ8ngIuZeKEK4Um60F089nxUAXi+kRdl1NgR0Nq4e5ZCiyvnAVkpIDj9qOBdmBDKFvlk022v/xJ4qgYL9hutuQowwXDedPoZ54IQFLi+fzfllJUDTmroZG6sqfF4UcDB1vTxoOcwBby/Q" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_1" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVMT7/1fN3vnpBtyzOehmL6qmIEYfwO0uNOzmO8E4gacRBKUTtkmyzy05xjMgMOk2Rv0TAVaWrxoP9EQXmyeZCwUV/qLHPFLazYd6d42JLghYONA8dTJ/ThBN7EbT1yzx0Zu79dRjXpF27vQ5PS3qs/I=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_1" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAPLIFkWqKnESoIKT6MwsM9NDofgJI3vDJ8ngIuZeKEK4Um60F089nxUAXi+kRdl1NpCjtd+M7oSlsLQVCHzBjtMN4QZoFMZUVSO0KrHc0Jyyk4ow5YOsLnsGUpT5wHn47TgaxpVuMy21oOLx+XF+0aiShbeh+DOg11hMDDpvo4Nj" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_1" value="BRAcZXh3/SglDUrMee5ZzfjB0Jj8utEUIOb+4Y/dqiZkfj7K6PEYTfAOA6txaEr4GL/SvekKDyes+aNm3J6yxu0NIbqs7CE2jIVQiitqOOXZjUGgKD1DJBgsgpiR+1w5qSaNhhboO5yW+hNXuwFwZPb3pUAkFm5mlol4wKR66mz8/YH85pnnAU0uVStxO8u1BUsBeonqUvqOM19cehCVFzHCbolIuemaxxCWY3+Pb9qkXLFvb4shw0kfm2zWVOvm" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_1" value="N0kh3tNU8YJgSt2NZQM70jw04Aq0pemfe8B9lsv3FZAlD7lfniTYVgRLY/bymOkE39jIQYr0tT6K5Yp0IG4mDmJ7N9kDo25dtwtS497DDXrQB4a3zqnt8hQEG0zJFDulvPvpJ6YJf2wPpO1u+DJoTEMh/e4UX4t/c523iqmZg2fcI7x3wm0X1nYAOgdIVwmF1jrU+dg7m+3av7rLbov5Yo4IZjbrFu93X7gwjtXW7c/2Hsts629LkjbUzcQC9QRjtxeXOMFKhHtjHpb6VjwhXQ==" />
    <!-- === Connection String Pool [end] === -->

    <!-- [dbEVS_Dev_2] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_2" value="i6GZ3wAni8IpS0uc0ByVmhGgSvcBxJqd6mehUr+iasmUuee0K3ChCuNNrO9me3xq4EesLlq+qlfSThkRbDKLqJ9eK7gM7u6bxUuyEeWFJQmzEok6yvf02DlnjyNPbJANb59ubdo5zCx3o5tvJjlsYhhNT9Xm/rb+MWOcsPu7EHodlYx+seFpQRlqUcUnc44B21GfFKIGi22io6PfuH9c+vaom+aZPt3UJGa6x5RCgOo=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_2" value="pzmS4aA3D0CtFKc+NYCgEE0z9mhVR02f5Q5i51FQLubEXAlwLiLxM2VlpaPHezBY9Dccle0bSYuy4Rx5wHk1YpG7oWwsAm6ewQJJTPCZnvnSsXWVz6qRcKZtrK1RAZFR1VxDqOEENYRfvSa9SCryKg6G9O4kioWiDn/hjBqOy+CeuhxHMolEeHHR2QLeM7VpPoSYdHby0XRyKEd5Yul+Fvxta+74i+lyPwdCVEtCKHCKaJGCF35QVVeetQVfx9L9" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_2" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iBU9BGRADkiKoIa6fAT6nz7/6QgR1GEj1aooduHnltbXT4/pdlF8I/H/wF7z2PnPoLP703xvO91oOJWDushIKRLtK/g2PLCfkUCyGZMQhOgWpiyuCeEPMvCDxR3Ewhujj6eCurTGyM0c6X/1D33tAEU=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_2" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36yQbz6JU3xs52dH/CbBa4APKLwJL9oKUdIrOfQH8imcNPUgPMstRxqhlVKunezBjbUJhFXoemaYnVaC2y0lKPqiq5cG+7Qoe9qy/8o1upOSNHOYO3/dFpQooalgVGDJ0zXfQRVdP5vcx46pQIuJ+TXxukFjV8TCdDUoi141JtF+Qv" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_2" value="fsBDUEaIyrrE9VDz6Te555lOOabqQkAyKo/dil0/hSOcBkpTlOEnKNy+Og01FgHSm3HwUxDf8Vn31tWWjxokIqO/wT8IBVHGpTQorDeRe1RxHyHhOUEcX6Pa5PvIuxPsMqMozOHHgYItyRt5Xd5quXC9MrJrlhFggfcWDIVX4uBn9NfSKDmJ/b80z6/kvrF2x8AI7uoLI7Sk2u0wPnkghmNRevSfa7QSk4GY/u1eyNW8frmv5L+bjsV1s6ROwEPV" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_2" value="rldRYwW6RmA4Jn5H4UaFK44+7hOgv4s8ScxN3tof2Vt/oYia3HihTw9PLUCckFNsekGtRYIhfg2z36G7aR6Djvlawqf/GtGFzOCm+WcXfTve2VDTAghhAfagjp/3/jEnkyBRfeZGoqyqQdl/XLwRtnbVcU5YDzRLi5EXYq+AAV927dUesB+LQRoHOjSjfbNRFclh2XSB01zMjr911xIEc/vnJ0tLOjx832Y+VSuatLojE/LddQtMKVpoZjANXoMo" />

    <add key="ConnectionStringPublic_EHSDB_PRI_2" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iBU9BGRADkiKoIa6fAT6nz7/6QgR1GEj1aooduHnltbXDttayC2b1fR4wpkxaqdrDhGnRuUDTa0KaHW2g1+ZsCmKjkmD59as/10RxeXs8NcAlipXIR4FI6pKk3fPJxNvvs9EinWRTD2SCboTylCDD9k=" />
    <add key="ConnectionStringPublic_EHSDB_REP_2" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36yQbz6JU3xs52dH/CbBa4APKLwJL9oKUdIrOfQH8imcNPUgPMstRxqhlVKunezBjbUA0USfAOxnPfhDoEjyJbv3rzG6K2Bauuoii36SEpl4G4jGGVi7l3nCwvTxytpPnoYT9S2+DC+hdrSEMSqqB4XXeprF8DBphtaRk8Gqw3UidU" />

    <add key="ConnectionStringSSOP_EHSDB_PRI_2" value="XtV1fXKPuZYYKoWTKa6ob6/8h2s1KbmcEJYdQE9TlxdyVmqUqGjAiFBFviDmee/wmKwxIidJ7KD5pnS4nKiE7tPMnCt2AoizNVO1trqIxSABkp3hKhVIgDiW5psh4V3rTa9XvgXq6NTIr+VxHRj7EJ2Ke7pKpsPLDP2RST/bj+6xOI8ThFmLXL468vHuMgaHdG6SM8JaGiiifIEJukc+EqhwCVlpVB7/d+CCdOMdV4E=" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_2" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVOGzEpACCxQo7UjGmOUpog57MPeM40BZQkdUuDoZR3A1Q9e7DXTZEOLndcKk3nyCRq41Ny3NeiW8RiMxTbaMkalNqTXNXE4NDDK7GM9P1D4w8j2vA++gbDhKriTbbR1Ja5pmbKE/fAq+LBU0DByMLaI=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_2" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAA2YuK41DkdmI3Rh5qenC0SasaM879cr8QmUOoelEvLI9YNSrj8mIz4mt72KcFbaHvoJAuaisdMx3xOLQ+dxyMzrRyTr5mL+xydgUq/Talvg7MQ9QRYnxbaiK+XvHwOhOP0MMuLBmczB0ArNQ6K1xYIZyMjaFRprWXhB40gq45dg" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_2" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVOGzEpACCxQo7UjGmOUpog57MPeM40BZQkdUuDoZR3A10KqifRPw6CzcA8iLT5+ZxpLtLTFPMOUumhFHcEKAocLk439cx/HChZxpqVsH6SjIv2nhGBZMN6drcn1BkeuZq6m/EGZGrIZ+14i5hAELtuA=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_2" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAA2YuK41DkdmI3Rh5qenC0SasaM879cr8QmUOoelEvLI9YNSrj8mIz4mt72KcFbaHlUaj1Dn/DtQjZoWkttp3SZB6V8AbldV6TTUmzvKXyDGbN7ZSmscUP0wy1RORwm5DJOXbhCHvxYUmi6qUArhM5rZd3lnwlPGhT7kqTM0xnQG" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_2" value="BRAcZXh3/SglDUrMee5ZzfjB0Jj8utEUIOb+4Y/dqiZkfj7K6PEYTfAOA6txaEr4GL/SvekKDyes+aNm3J6yxqcsD7Oirb1HrsQ131AwmDILsWVAPpgUOJ8jir1q0K9T3St0db9IAIIFIMsCAUMA354pGBai/62wisNSe1DooSIX0gE9N11bB9qD/UuKGFdrhkg7dms/69E6NDX9JAYXMOdEbaSvFFjejXoM5YAyEcgrA93xReF7c92ryE1al/zT" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_2" value="N0kh3tNU8YJgSt2NZQM70jw04Aq0pemfe8B9lsv3FZAlD7lfniTYVgRLY/bymOkE39jIQYr0tT6K5Yp0IG4mDsPURpO6iu7vIm651r3qy1/EOR79oLmUcqhy0TdMpDJq8lUW4us98KOd8UEZcEv2ivgmVM4b2FV5JNKTlIjzHy9R4uVSoGzOmSry4ZDZcflnjahtvGGUQh8384LS4I51F4+zt687gGagqbxbD57raD24FdUfWZ8IBITAJYhGTS9DuyK6VO2F515DO6EYlJVi6w==" />
    <!-- === Connection String Pool [end] === -->

    <!-- [dbEVS_Dev_3] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_3" value="i6GZ3wAni8IpS0uc0ByVmhGgSvcBxJqd6mehUr+iasmUuee0K3ChCuNNrO9me3xq4EesLlq+qlfSThkRbDKLqBghZxki0+Agr0xtq5gJFWNXnoiC6GcDgOzypsD4O4zmueZx5DH/VnX/FbLNJq00+4/7GpKKjnmL4lV8PbUUILF23VjFlitBEKPsFMse/nNzTqWYwWAAP15eKHKpqSiTElfHOSJQDD6TR4V5+4R12iE=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_3" value="pzmS4aA3D0CtFKc+NYCgEE0z9mhVR02f5Q5i51FQLubEXAlwLiLxM2VlpaPHezBY9Dccle0bSYuy4Rx5wHk1YmbrZlnWREiuz17a9RnhX2WAmUkZReyWAa1TsoAe2GnOepP1cpx28/H26Kr9s/ha4+q1E+Mhu8UPOSylqaJyKDQbB5U+UzCKEU6sbOFQt8T3H5X0AlWUv2UtNel+TMr12fFH+i9E3rMsaEHMU4kvy04JSAWflnw9/bcfNDfHgBkD" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_3" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iPBSS8+UME+d8Nu3r99K8WdjTrCv6+XabPKfT+PcaOoXY4v215OCXLPjGrZ+VovzIuGLcODCLX1EhcGgSB6IjpWOZFJOrnGVFuzTZXAzzW0Vgqq+FYQ8MZkr6bjYhh8L4GlAb3AkYXFM4gAdy/3+VNA=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_3" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36ydwlc/YXFfPIycEE21clNatR2pEaNKc7O5EiLX6LgEmQkaYsDxUBnBrhm9yNRzM0cw58pKUoFA7hqM1kOpt2UzG+MtDGqbBtAp6FD9eGDK2egdtW1dUwBa55UY1qncN21A9ZZnIJdrg4R9KBUTO5ktmSi9VU+8ajXcCgBFq0kBMg" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_3" value="fsBDUEaIyrrE9VDz6Te555lOOabqQkAyKo/dil0/hSOcBkpTlOEnKNy+Og01FgHSm3HwUxDf8Vn31tWWjxokItnM/Y4xHMO5hM7JmMhKlm8EmcTgNaQ+V91Ofvax0E5/v4m0mZG8nNstbwL2tDh2QX/pJydD484kyOXOUIuGC8WSFlgZ9QLmCAQziXEmsPZr0HwqI6fCOyhbFGLU6y4K0mOwfJUFao6QZc7LChwcBTMdcEjsKAXUANs8ksaMZirg" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_3" value="rldRYwW6RmA4Jn5H4UaFK44+7hOgv4s8ScxN3tof2Vt/oYia3HihTw9PLUCckFNsekGtRYIhfg2z36G7aR6DjorX/YpYyKvM0spZXzZ42Gi9afT1ww/4ZouVypkT1/sg1CebV+M5aYsxTzfKKjOqJE9CwSGht/XWh0gzfcR7tlarM6z5c07jYgR9rsSX7SCR7GHQPxfIseKftv1H3XKJl/uSHyNNNEVqskgjkjLZprWo2UxiOeq76i8GI2hDzxtL" />

    <add key="ConnectionStringPublic_EHSDB_PRI_3" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iPBSS8+UME+d8Nu3r99K8WdjTrCv6+XabPKfT+PcaOoXC+4tfAKRlOG5Xx21pqtZbB1JdaQmVD/q0OBWkH8hyD046emGnLwKlzNVDtKc7M3sOAdt//XX9flX7+TC9MA7yh208QIVGXqxhQe7Qj6gmPI=" />
    <add key="ConnectionStringPublic_EHSDB_REP_3" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36ydwlc/YXFfPIycEE21clNatR2pEaNKc7O5EiLX6LgEmQkaYsDxUBnBrhm9yNRzM0c8ijxT3m06CG6y2U0+nHeg4K0kavpMXtuL3a/OQYyHmpTZv+B380sN/Q3uvhM5n72AMt6b78cV7xS3xApBkrCnssKETyErBdI5H9RFve0sQo" />

    <add key="ConnectionStringSSOP_EHSDB_PRI_3" value="XtV1fXKPuZYYKoWTKa6ob6/8h2s1KbmcEJYdQE9TlxdyVmqUqGjAiFBFviDmee/wmKwxIidJ7KD5pnS4nKiE7mf2Oj5Jf5qcJvKeoZmPi4PLaBtV16IDg17a8zsQhs2oJaYCZYLVGkn5bJYU4ZYwPM/v/xvb7wwe3GTRP04mv4OMBC4OK6Vf8DIpSHqShD4wtD6xlbKGNW81qoiCyAFTArs6RssFRIIk88/eK2+w+xU=" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_3" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVO49sUasAIST/67tC/gIlh4LymUz/Wj+sp0maIiB538hh1nk1xz8flgQOP3N9g+wJz+kq+9imeCn/RC6jIw+hekDHR3li1enNV2VnTCBpAoEeBsAZneV4dYP31oL3fMOKj92MFWX69m+VGzvKqQSqj0=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_3" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAGHXIXSWhpvrdNrCKaYITVCSGy+6wFM9QzEQq6dEhGHubFwtuPqs0pOFdz1PVakoMuAYmmfEADuSW9uDEkkXSd1ZTLXxZMkfgEZjTcE+6DQgRdf2z5TiXnls3oqFahFCVbQK53eIInQ/3/JFVpmdLnQaceUAEn2EE5TfjW3Ja/6Z" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_3" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVO49sUasAIST/67tC/gIlh4LymUz/Wj+sp0maIiB538h8kp7lVM7iUvDH0ssqW9NlYmmXlxl6u47XaN+fzR4QmorMxERj3ve16QkFetQw97WL7/Qv1lr8FVtMCFrFVZzwotpJCtu7H7ol7cIYobTpXk=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_3" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAGHXIXSWhpvrdNrCKaYITVCSGy+6wFM9QzEQq6dEhGHubFwtuPqs0pOFdz1PVakoMiUDC2KHPv1VEz/ZlQN4jWlhnKn7oVsL80Ngg4axdagde4d/Z31FZwpkWuxXyhqjGj6Kwk/w53F3mCUTkQyGt2Td1N8uxSek9Vd2ubYKdAZT" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_3" value="BRAcZXh3/SglDUrMee5ZzfjB0Jj8utEUIOb+4Y/dqiZkfj7K6PEYTfAOA6txaEr4GL/SvekKDyes+aNm3J6yxp/2IDcn1Dx8rp1y4xFZYatKUU8tma78yJalTQtGN6HC7HtBGl05GeAUnW9WA7tsbpJ9+nfGKYP3ikB/IhOC1OqcJvw4G2FV5DdMRJ6QQHtZR28sh/MLx4dt4ib8NFaFkXaBnRUjzOTR+sggD9mBUdzHVw/6+ElV0bwgLhfJKQSi" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_3" value="N0kh3tNU8YJgSt2NZQM70jw04Aq0pemfe8B9lsv3FZAlD7lfniTYVgRLY/bymOkE39jIQYr0tT6K5Yp0IG4mDmHDA5D+gX6Whk8iYIK0Eqft1PYPcbMdF7E/RrPIJbr6n7IxlYpLvO5w8hYZNGM6q2WhcR8F9v9xOuqU6krI80451S+tzM3oEyt4JUj5XZS64dllowr+c69gXAWN8khC5nfD/KxIxOXdAfDrC1EzyvX0gktvTkePz8EnYTB8rFfyEHS2YoJ5BdaJCIW1sRwX2Q==" />
    <!-- === Connection String Pool [end] === -->

    <!-- [dbEVS_Dev_4] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_4" value="i6GZ3wAni8IpS0uc0ByVmhGgSvcBxJqd6mehUr+iasmUuee0K3ChCuNNrO9me3xq4EesLlq+qlfSThkRbDKLqJGo0eNHxxUJLGNwb5nGQlboT7FwTJWWxpIc71RcUaVlhTRfjWlEvyECf/4+nTDnDRaxm/K9+iKh2yT/knAdRuRzOUTq9JgWViM2Nizjd5XwG5DKIB2XPOhW92iPX50gBhqAx/aC0CHMLeZeYN3/W40=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_4" value="pzmS4aA3D0CtFKc+NYCgEE0z9mhVR02f5Q5i51FQLubEXAlwLiLxM2VlpaPHezBY9Dccle0bSYuy4Rx5wHk1Yu6RnZq1P4nsANO3zxhVoKP/M4NIbWFzdtmMauVqZA/u54CSWbUjavjr4p4vpPt+gHgl1e50H8laxykUh56dL+jdTWrTwG0XK4EU1Ip/9K0F1n6a9m34hJIk+dLuozP254R7itYb4rMxgBWq+rRj1GUun+Bs9nVBVFvGqTyI3HYV" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_4" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iLmbJHb/+2P8DmO7ox6uIUg9FMzYkyGlQcJiJZo+sJBFWDCy14R9PN9BOJXYAENexYvZFMDjCh6TNEczGRYr2fNjkCSScCchDG/4IbjyDvKSKlDHkCWho9c7vcUqkAFd7ugHlSXB0CTbBZyyEfwXDBs=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_4" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36yaROdCsEG0hQ/Xgcp0jpgbvgBglG1j8rbo12YZ711D/95hLtE7bo6c7MVW1T99E3DyypccNS8Nw5/vv06PWppmvARwEL/mR8Qc/DbJ2H87Ajn+Z+5UDS1U+Z2Cd8o51hfmizRFvalspmlNGzST0iUa3YlUfIrpiAnwGujHALa3Sx" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_4" value="fsBDUEaIyrrE9VDz6Te555lOOabqQkAyKo/dil0/hSOcBkpTlOEnKNy+Og01FgHSm3HwUxDf8Vn31tWWjxokInbHpfKczSgcUqdcuLqWqGcghi6ZmF9JgdXGbTaLXg/7SmbVMEE1Ff/lS1B8zZKEIuuQK7oDbRxDbDTgeP58U3jLJgpc34Me18COXxHjLzLqlKnCsquIY58q+dpQSDFgONzHx8IJQhEsNLnzzCyAGr8JjecFZc4ZVu3M1LBYUs7r" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_4" value="rldRYwW6RmA4Jn5H4UaFK44+7hOgv4s8ScxN3tof2Vt/oYia3HihTw9PLUCckFNsekGtRYIhfg2z36G7aR6DjuQwD8FCI0c6DJMaAEIkp9kH1ex3ArSp1xTL7C2Jj/GKCaNHV+M77M/1ai9SJCaq1bQNkRaY3WBavrOHpi/iLShDFQGBrwo8s0VfK7swY5xoJ2E1C3/miRi/TvZiT3cxyoosULRMvKL6hPpcdCzYk2inA7m9DZ3BwpKdXhQd265S" />

    <add key="ConnectionStringPublic_EHSDB_PRI_4" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iLmbJHb/+2P8DmO7ox6uIUg9FMzYkyGlQcJiJZo+sJBFvEdQj+BsnxHbvcymINLcqr6LAUoAZp/wVb2HyGjFScdA2+C5Moefi09twKmnCQ8FXqPbomLrtoWEEYuWNcZDdk/PoXrJBXEOCoN0WYZsOQc=" />
    <add key="ConnectionStringPublic_EHSDB_REP_4" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36yaROdCsEG0hQ/Xgcp0jpgbvgBglG1j8rbo12YZ711D/95hLtE7bo6c7MVW1T99E3D93yZcxOUO0Be61T/SZ0qqu28dbb5K2pmHkMHemw+9C7Oc6/dQSmIs4aXG/iX/dZJaR1+ACciY/+hO6ELsf7t+twicFUIkhKSfLqNfS448nk" />

    <add key="ConnectionStringSSOP_EHSDB_PRI_4" value="XtV1fXKPuZYYKoWTKa6ob6/8h2s1KbmcEJYdQE9TlxdyVmqUqGjAiFBFviDmee/wmKwxIidJ7KD5pnS4nKiE7jNU+Z5QQM9tJbzL071fKTyXEmBmrQuUHmkHvv5uGq7vTcTTsZl0aiv9XpIiANUmaA3w21OM137njmsBYKQ+wWOqdI0Ga3zpAvtKnaou2Rulsqr7B5SXIRox5ogP4JTahhR6cOj016X49cstHK+2Xuw=" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_4" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVIo3Gd06X4XDZVyTTmMXyjH5muIPcdVVEqLN8f6bSbzEhWsG3AP9pKYyomcvrq+TeK1EQwNhgxZznQsuaT7cUPn4EeA85Bz1hnFerAzY//Y9T8HqdjMmY5/ECjZ723ftsTPI8NzqNMy9suyJgJGUkxg=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_4" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAMPW/rEbR9dK/NCjvKFwfhMSRBMQLqs7ALIvR0J5P8OXa81x6ArzzQQ+AHw557dBpQ4emb/ErucwUEtcDGitGRex+1turTwhxT1f2ft54S0bajYtBirEkjCrj1nJPntsrf8R31qYzJQPMJVH66Vtj44KCxjj0VwTrzx4JhtDgi2+" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_4" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVIo3Gd06X4XDZVyTTmMXyjH5muIPcdVVEqLN8f6bSbzEZpUB2POVH0lw/5cTiILbIqoLYieA0jdnYs54XFn2qb5KylROg6bjzfwn8AAYFY0XgBwer99LhHQNKezlOzZyLEEq07rN/4qDcG7ghpxZT6E=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_4" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAMPW/rEbR9dK/NCjvKFwfhMSRBMQLqs7ALIvR0J5P8OXa81x6ArzzQQ+AHw557dBpU0Pbk4xm9jH8QiYADlBOS9wq33aUy9rz/Y8bacb158M2w685w220dQjRZ01VO48FT/HsDrv887SnzEzFSnn1/MOpI69wyqVKkogzBEnFvzd" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_4" value="BRAcZXh3/SglDUrMee5ZzfjB0Jj8utEUIOb+4Y/dqiZkfj7K6PEYTfAOA6txaEr4GL/SvekKDyes+aNm3J6yxmCQogLh0Sh98moI+U02b6036FlNW2PHodv8np4A6BoKTnxrtJoh0jQk6R/DaK7Jzktse0qCtyRAtyWwVqQPSBfFP2ZaRk1y/4e45z9muD7yIkGAP6b58n2feIAWhVbM5v2KG148xZhG2KKBc35BRzLDbAxYwqA6DJ9j/FQzYKGr" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_4" value="N0kh3tNU8YJgSt2NZQM70jw04Aq0pemfe8B9lsv3FZAlD7lfniTYVgRLY/bymOkE39jIQYr0tT6K5Yp0IG4mDlCKsyyFNqPEDy6vlfu1LrjR2FbuCwB9y9b7tgXXORem/foKFXGF/mKRd/I4OQ9PDMs69pOHSf0UCRidKyd0WLiZkbZTtrkSp5Unx81j1V+TsTY7sbsK1+gq7wna8WjrRnogz0W1ghpH3aGhJQ+fRV1RnYucAbLHe4EkIpDkCkfdoBk/G6SBJH8WaeX9zvWqUg==" />
    <!-- === Connection String Pool [end] === -->

    <!-- [dbEVS_Dev_5] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_5" value="i6GZ3wAni8IpS0uc0ByVmhGgSvcBxJqd6mehUr+iasmUuee0K3ChCuNNrO9me3xq4EesLlq+qlfSThkRbDKLqJ7uwL7Pu8A9VdL5TXt7G7TS3K+ySsHfogl6seW5cBTzIvMr5a2QTk7G91Kfp+M+7sHXFkOLu1Nb29oM5b+ignohaboGt6SCvYGPFMdXBKAeUtdjxayV9/MNvPDH3Dg5YdjXk/H3DZT/LmH2pqOhm/Y=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_5" value="pzmS4aA3D0CtFKc+NYCgEE0z9mhVR02f5Q5i51FQLubEXAlwLiLxM2VlpaPHezBY9Dccle0bSYuy4Rx5wHk1YphUprcUvEGnzLkWCME3r0i4MSb8ZS91hrJ53oZ2FtJCac4Ts1sKHJWKwIDdAbfXjmXb6FrdqGaonzfj48gWA9fX8hcKDfiJ7uRWuAY8k8k7XelGhwrpKN4DgkpKFayAMH+ny6EucAXfY/OE3Maemu+z6Ibp2p6ztQwuvpO4BWfr" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_5" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iMV2ST2qsnwrJkpbYLfvRzSZAf8UBjlYnIIuvG9bBDyXU6KAJOH8knZeM1sFjI3PyBLqDHqOtUxlAvrjy7b0bOtDEXtbfWx1qbJEtUOK8u3IqXFPY2+pOOW2M1K9f6zZFYofxKcXKN7+emCUhqaKHOg=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_5" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36yQAGVuib/DYX4GLpuFz6f8ittR7FGSp7q5/PvLdF3xYtaC9USlIa0rQoIWNnQc+RIEx27wH2PlQBqxYWr5NdieUPsj3xgynNxk2XhR/bOt0QYm5FG+IlcsPzC2NTP/d6knym4t5uhlMrsHHkIJ4s0s3Y0R+COqsgmVM6SWZ7Ewdk" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_5" value="fsBDUEaIyrrE9VDz6Te555lOOabqQkAyKo/dil0/hSOcBkpTlOEnKNy+Og01FgHSm3HwUxDf8Vn31tWWjxokIv5ZO/9RWf0gA3WdrYPogqCee3EM6+8es6fhLm/hampYP7NPoUn04bebHNjSo7ofGQiNF+49TbcUIR+5p713GV79itZEI/o1NRVdHW2dVyFdsRVTA24rsScWqFYsulzOw9Qn/H9hrjlVDf73MoQpXZytOzBvgr0t3I+eOjHcuTuH" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_5" value="rldRYwW6RmA4Jn5H4UaFK44+7hOgv4s8ScxN3tof2Vt/oYia3HihTw9PLUCckFNsekGtRYIhfg2z36G7aR6Djmj9nRcB1/fNshbx5xHmmY5FVxgZB/ewov2PSOFpCZ6RQ4I2H1nwl7Ph9vpOY9lve5ViZYMpywnF8Moseo3ZDpc9FTRxNwFjINTkOeXCufGcWZdrl38BmyWZfqXtPRp7VEdNhYAIEtoa159od1s4pHDpwcz2qNAO/M3T4LAhy2jS" />

    <add key="ConnectionStringPublic_EHSDB_PRI_5" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iMV2ST2qsnwrJkpbYLfvRzSZAf8UBjlYnIIuvG9bBDyXxcsuGApB0iLa742QZv6aXVvA55XHS5yshQx/eV897I8Z+iPf0LxkQRQ1275ByBosH7cxSLVN9xW9iAQIwlf2s85FgAa+xeNC7NtuYx90smE=" />
    <add key="ConnectionStringPublic_EHSDB_REP_5" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36yQAGVuib/DYX4GLpuFz6f8ittR7FGSp7q5/PvLdF3xYtaC9USlIa0rQoIWNnQc+RIMskLmvpzsyvusGIyHBx37B+rEUdGnaBnX3NkHl63fSKftiytYIOUsaS7sD6Gl5Bbzo7T367T+pdyRCJhJpkUjnJjm5kkB+uG/hoYo+bwjeK" />

    <add key="ConnectionStringSSOP_EHSDB_PRI_5" value="XtV1fXKPuZYYKoWTKa6ob6/8h2s1KbmcEJYdQE9TlxdyVmqUqGjAiFBFviDmee/wmKwxIidJ7KD5pnS4nKiE7oDxS7Fi62zcMfbedGUFkiSyD0+lQWSsfYuD7KjHrdVHlY0772pXha7xigciia5sCpCo2JF/NYmEDRV6ynIoW5AW4hio5qX5AiOBgj5+UtMrY+Uj5K/b2bUxw463u68BS6bxxin0B0m4epDVQ2/34AA=" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_5" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVF/Me6cZRo7aCTKZYT1TiVWZ4SAY4PBNR6CluoQMWa9ZzAzIib492nD/kwDULN3vx9LhNx7rEKfntngCqMZC4YnOltOjN38J6U56NQEg+FcdKeMPTx99RGkTuUWRT9LvTsuqg77vPquU0ZMA/qHWN9k=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_5" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAOVkALFWxiOgWXAXRMOt7wweEpfSKaoVom9hQyvYxJLft91PEQ5Jgwpmxv+6aWNk4T/YNGvPMKfnSEaN0lQjq7yySDp7Syrt0mcULwdWKN4mCEXuA1Xqwoe7GtlUX7eeiyUz+NwfUKDGfpvhF5Hnq+C0Be0Yo4QuBBQz1bpiKH1v" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_5" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVF/Me6cZRo7aCTKZYT1TiVWZ4SAY4PBNR6CluoQMWa9ZyOO+yb0/czIbih7dj4TttsntkEVhswRAeG1lYE3Qf87kzFiYBbp5Olpy54d21B39GgvD44rnxyXFXTa+KE5nwFRdR2i01nPOfFPgJs9c6Cg=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_5" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAOVkALFWxiOgWXAXRMOt7wweEpfSKaoVom9hQyvYxJLft91PEQ5Jgwpmxv+6aWNk4ZgCmel21mCHbVYamNsUCJwlZy238WYUfHasirZFvgkEzFbP2uUbPAtrHPYkq9O0eXyqmHRy8MNUeZtgxXHS8dpRvwb87d60EbSH3ZCHvHBk" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_5" value="BRAcZXh3/SglDUrMee5ZzfjB0Jj8utEUIOb+4Y/dqiZkfj7K6PEYTfAOA6txaEr4GL/SvekKDyes+aNm3J6yxsfY5/xZfDugYL1S5dLdrStsfVvJetAYkR8LF0dHPxXellTtPFJG3kG22LYng00Owz3we7bSivt65SF/F7YLti0CeBQCrIA3L7eZf4lufm/FOFSpka5e2RvOIBpUX8sqTutl3lPylPOW6qj6VmrW7xjzHTbIkeOlb7n734kUXNWV" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_5" value="N0kh3tNU8YJgSt2NZQM70jw04Aq0pemfe8B9lsv3FZAlD7lfniTYVgRLY/bymOkE39jIQYr0tT6K5Yp0IG4mDh1/lIX0CPH76upsqCpRl7Zv4VMTIL92bleCEtGwAuATMZmeSL/3wseUUO1D4nzQvjW+jMnXROSJCX/HBbE/Bu2i2uy8P9HBgysgTlLPgNAVR80Y3uNLi1h0uJMzkgF2+WqxzfaQ4yJ3KzDrwPVX/62hs9ZwVoz9TWOPZrFP6Nvtejp7A91mUQF+JMJgWUv7nQ==" />
    <!-- === Connection String Pool [end] === -->

    <!-- [dbEVS_Full] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_Full" value="vD3nAzJatQ64Ox3O/UCSr/sw/pVB0UulcEkzmwAiRC+FCYggpflSIm90Z7mwEchRzGwj0mOj/IB/hQd+ceS35Jn3sj4tp05/6FipQUiBJwCoZjqQgfLz0sE471DDb8u291MVmzuyE4pQzfyFHXfWewoBYfaBR9J7sI/S+bSDZBo18dIbrp3RiaKhAzS+AJUZFjS12I+XRsmNsz3x5C5pGtV58uOxb8U1UrnXY38qoi4=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_Full" value="arU6H0G3n1AZNrfnUlkvTDfg7mhjm3SLBOLWeSE4f+tDuDUJoTU/1Ij35ZVj+eszjWpPOEa3c9dK7DfhtUJ1mCRwZzmWfOog+okQRFnhFVBSZe6Fv8bnKiONsjfEgYOXhnZWTj8Zjl1qlDzkQZSnkmOcOAW7TnPC8gtJtbCiZzimwfnInP3XtuU/pLPZZS0GwnqvviirPeZ0uz3KcNIvl6XaqIWsjyo/h+uRu2ZgoCLQcr+twRhSG97RY4No8OSZ" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_Full" value="xW7FnQwm1C3X8tKqN1+8xzneVc7xzSLVEPtob3cVveHV6QIIo1UuM6aizOfJk3WrkhTBkopOqQCWYm6l4N9eDTsQwpZkVZHJxz1Vzvj7miaaJun7hL/41kEbuvZH4wr6qJbzjYLAE2thYbOGSHgqH5UVQIwkTZ3AC8N49fTLQb9D+XrBpZAjuxLu0vswzSI/eEeSFVWAhX79lcK27F4XuiHjJDzrl9kzBYXo6Rq7efA=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_Full" value="pzmS4aA3D0CtFKc+NYCgEE0z9mhVR02f5Q5i51FQLubEXAlwLiLxM2VlpaPHezBYm5+LEXGk+8Amsz6X+3R+TAHOZDPaebYT4wfWSS+Jxw8/HBokY0TXUM2K4Qvd9O4/1Ge57G6nZtS18/Cja7+SanV0YShYiw5RS/EM9C7bYctUiFSNg+m3U49b4Cw7I38MWyy3ZB/9nIQB5+7a93EaOVe2OGSvaBki3pEkoXgw4YVARfPlosoLcj5Pve/IuT/7" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_Full" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJfQtziDd+QrdP2d9gEws+KBgHyWu81tAE7YryXyTsEc1XblR8zoRrGJ6GnJ69MPf0lI7BUH0FBK85RD1/SG9UVz1FfjGyk5Xfg7YaWlXIj1uAHoQIR53HCz73BJRJxf3Vj1nFqNW0SR6SA/IM02A/6psYC7mLhrRKCxiKh+rs3kvAaYas8VjdfyXSSyN6hw6e" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_Full" value="AUOvAuKA8JDAHdgxxBe7357TrmU9ILS24TZn3zDZV1TtnkWSGhaujkV7yavGPi/WqxOjKSBRjnzZ5XJeKZzAVBVqU/cOq4Z4JTwI6jlsPqCDtdb2id/JT7Vw2+73u0Lnf4SJhzRlQMjZs5n606ogrX0YPxnZbHugL6qKhrXTLuWKBTidyyiYDWD8XbR2+8g9lfeRWw7zZALxwGLp6kMMSFCZG02bvonbW2H5zNDVOjQdTAG0/DvU7CGt68+6Bgd5" />

    <add key="ConnectionStringPublic_EHSDB_PRI_Full" value="xW7FnQwm1C3X8tKqN1+8xzneVc7xzSLVEPtob3cVveHV6QIIo1UuM6aizOfJk3WrkhTBkopOqQCWYm6l4N9eDTsQwpZkVZHJxz1Vzvj7miaaJun7hL/41kEbuvZH4wr6/Xu883q7tgJ/6dFPXcd3PTh6lhjjbkDgYRhTLRCvOHSpi6Vn46y5KeyA17D/XvnHKnNMa1xXEL9/swhb1ZtpfANKNjZ7AaNycplU/i2A+sE=" />
    <add key="ConnectionStringPublic_EHSDB_REP_Full" value="pzmS4aA3D0CtFKc+NYCgEE0z9mhVR02f5Q5i51FQLubEXAlwLiLxM2VlpaPHezBYm5+LEXGk+8Amsz6X+3R+TAHOZDPaebYT4wfWSS+Jxw8/HBokY0TXUM2K4Qvd9O4/1Ge57G6nZtS18/Cja7+SajRqeSRYP6QL2MsIS0SSSkpiuk0Ce9NLZvTGG3G0ho2eBOdog7zvWfYwuTpWq7BoHaXPkeyTP08hHFAQY3K7W7sex5rCPVPoAyZGxq1a/kz0" />

    <add key="ConnectionStringSSOP_EHSDB_PRI_Full" value="cRS6i1/S2SG+Y5wH18y9tNU9xrviyklZ9zrPMTm1RoTwy943ZaG8TjQOvhzl0LDdsHbrxtCiaqb7tuTRlkUw1NbB8Z2q82Zq3Ji+0u0o+40MCJ/Ay8SZxmnfn1AmIdL90LWFCo5HBi3vdvpAfdwvIwZDSch+08vyl+suCJjEv5wTeQgVbBEjudopPQj/2vSOOVk2IYvDnv1+yIFRvA9ai9j9TPd/ReA/PST+Ec3n4EA=" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_Full" value="MUnyFgNMfZLLcTsN/WjeeqUtShU/ocaC+J0lUQCU80auxwgRMcUNYJs87ilegLnrF2ggIMV4uOM3wdqzFmkP3LEFMTiKu/8j7pYAvWdtNikXyKZPYwq4IVGF3g0hyj+opWCQXuspM3lZyOpJg83WS91IMeKxLbBmqDPtP0YfvvH4nmRguTlI2LBT7IBN5X+8SB3ODJi1CFMknN89CgvJSgl8pSwDV1YRidS7G6Lv7yA=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_Full" value="BRAcZXh3/SglDUrMee5ZzfjB0Jj8utEUIOb+4Y/dqiZkfj7K6PEYTfAOA6txaEr4cUDl3uw9Da+zWeZwYmodVIjfn038UwLC1tuFOSqmfLPjDUbx50QBoF0vABvjdkBis5Avf3G+AupKRhYx9ukjCoJ9b36iLrBHqCJNVLsyJUvoIq4AAdoTpeU9ghJR/wWiPynOrj0gGcaaMxDJc+QRPQOlGoHxnuqemYxe02FyOIlgjDoHbXdUWiqf9NghtSLo" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_Full" value="MUnyFgNMfZLLcTsN/WjeeqUtShU/ocaC+J0lUQCU80auxwgRMcUNYJs87ilegLnrF2ggIMV4uOM3wdqzFmkP3LEFMTiKu/8j7pYAvWdtNikXyKZPYwq4IVGF3g0hyj+ov9W3KRHa0QMhdrN9+loJVKJL7YhWEPSYvvDUQMi+U25bWRLsgJMInFWkvvrYm/RzZqUaBPVw9jgSrr0HdRlMB1xmvXJe6Diia1E3pfOdtVw=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_Full" value="BRAcZXh3/SglDUrMee5ZzfjB0Jj8utEUIOb+4Y/dqiZkfj7K6PEYTfAOA6txaEr4cUDl3uw9Da+zWeZwYmodVIjfn038UwLC1tuFOSqmfLPjDUbx50QBoF0vABvjdkBis5Avf3G+AupKRhYx9ukjClbmn7VJsdL4kpYz9zIgH1JvfjNSNxJ7MAEGM9JvOox0mnSKEV7vsnl6GhuDsGxg5l4wyn5pLXl7USVBm7SnjEDvaY+KKy01UFMwQTYm1gbP" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_Full" value="EVnMxrMtx7yqHXIBiM6xIb2kt2l7ty058aR1dsGplk/p2IHbwevjPpQ5kc2GMkIF6GEoUIuGY2jgpsfaGjHZTeDhY8wjmngrcdTXZ8a5EA2fIsZ8JEFPd+P34msJ8R6WU99BLE5YsUT9aX8nnA2SgRfTy3/S67bm2XEBNyK8QxpxzxHgKDqN49fTXM+o6aazS2T3UmStoeB2dKZvwxSdlCfC2FV5L1wZxT4a4p5oz6u6nJ5s/FzpPUkeG00zQqqG" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_Full" value="YN++w5b6+H30KiOhcPNofEfpFq4hIZQHzD3zfTOUF9Vbs+aXmYWOh92aSqW+uEtpy6azna8fSKhubCBYNxuMeblSiYnDfo3yM2KnD0CAM1ZAeCb1QUjAmr8XR3SFaHtVgHb7mxwDiJxWsuk1dSr8Z5wWdLeKPO0nb16T9B6/KigziexU/3bxhYXYYiWUyYOvLUjhAGbvr1G3jrtQlR48ipNwl7H6mtNK/t3qSWij5AoqRWlrULYaDa/QV3c8lMVz4UoX1/Twwxo3a3cS60WFnA==" />
    <!-- === Connection String Pool [end] === -->

  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
