<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- === Platform setting [start] === -->
    <add key="ScheduleJobActiveServer" value="EH5-RAIMANCHONG"/>
    <add key="CommandTimeout" value="90"/>
    <add key="ConnectionTimeout" value="90"/>
    <add key="DBFlag" value="ConnectionStringHCVU_EHSDB_PRI_1"/>
    <add key="DBFlag_dbEVS_InterfaceLog" value="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_1"/>
	<add key="CacheFile" value="C:\EVS\CachePath\HCVU_DEV\"/>

    <!-- === Platform setting [end] === -->
    <!-- Application setting -->

    
    <!-- +=========================================================+ --><!--
    --><!-- |  Drill Setting (Please remove this part in production)  | --><!--
    --><!-- +=========================================================+ --><!--
    --> <!--When set to "Y", the program skips all the ordinary checkings and will only look for the "ForceXXXAlert" flags
    <add key="EnableDrill" value="Y" />
    
    -->
      <!-- EnableDrill must set to "Y" to enable the usage of these flags. When the "ForceXXXAlert" flag is "Y", the program will directly raise the alert 
    <add key="HealthCheckFail_ForcePagerAlert" value="N" />
    <add key="HealthCheckFail_ForceEmailAlert" value="N" />
    <add key="HealthCheckFail_ForceMessage" value="(Drill) (EHS->CMS) Connection Fail count in last 1 Health Check" />
    <add key="HCSPFail_ForcePagerAlert" value="N" />
    <add key="HCSPFail_ForceEmailAlert" value="N" />
    <add key="HCSPFail_ForceMessage" value="(Drill) (EHS->CMS) 1 fail logs found in HCSP vaccination enquiry in the past 5 mins" />
    <add key="SlowResponseLv1_ForcePagerAlert" value="N" />
    <add key="SlowResponseLv1_ForceEmailAlert" value="N" />
    <add key="SlowResponseLv1_ForceMessage" value="(Drill) (CMS->EHS) 1/1 Slow Performance Record count (>=6s) in the past 5 mins [threshold: 1]" />
    <add key="SlowResponseLv2_ForcePagerAlert" value="N" />
    <add key="SlowResponseLv2_ForceEmailAlert" value="N" />
    <add key="SlowResponseLv2_ForceMessage" value="(Drill) (CMS->EHS) 1/1 Slow Performance Record count (>=9s) in the past 5 mins [threshold: 1]" />
    
    <add key="RSAFail_ForcePagerAlert" value="N" />
    <add key="RSAFail_ForceEmailAlert" value="N" />
    <add key="RSAFail_ForceMessage" value="(Drill) RSA Fail" />
    
    <add key="EHRSS_ConnectFail_ForcePagerAlert" value="N" />
    <add key="EHRSS_ConnectFail_ForceEmailAlert" value="N" />
    <add key="EHRSS_ConnectFail_ForceMessage" value="(Drill) EHRSS Connect Fail" />
    <add key="EHRSS_HealthCheckFail_ForcePagerAlert" value="N" />
    <add key="EHRSS_HealthCheckFail_ForceEmailAlert" value="N" />
    <add key="EHRSS_HealthCheckFail_ForceMessage" value="(Drill) EHRSS Health Check Fail" />
    <add key="EHRSS_AutoResilience_ForcePagerAlert" value="N" />
    <add key="EHRSS_AutoResilience_ForceEmailAlert" value="N" />
    <add key="EHRSS_AutoResilience_ForceMessage" value="(Drill) EHRSS Auto Resilience" />
    <add key="EHRSS_RerunJobFail_ForcePagerAlert" value="N" />
    <add key="EHRSS_RerunJobFail_ForceEmailAlert" value="N" />
    <add key="EHRSS_RerunJobFail_ForceMessage" value="(Drill) EHRSS Rerun job fail" />
    <add key="EHRSS_OutSyncCase_ForcePagerAlert" value="N" />
    <add key="EHRSS_OutSyncCase_ForceEmailAlert" value="N" />
    <add key="EHRSS_OutSyncCase_ForceMessage" value="(Drill) EHRSS Out Sync Case" />

    <add key="CIMS_HealthCheckFail_ForcePagerAlert" value="N" />
    <add key="CIMS_HealthCheckFail_ForceEmailAlert" value="N" />
    <add key="CIMS_HealthCheckFail_ForceMessage" value="(Drill) (EHS->CIMS) Connection Fail count in last 1 Health Check" />
    <add key="CIMS_HCSPFail_ForcePagerAlert" value="N" />
    <add key="CIMS_HCSPFail_ForceEmailAlert" value="N" />
    <add key="CIMS_HCSPFail_ForceMessage" value="(Drill) (EHS->CIMS) 1 fail logs found in HCSP vaccination enquiry in the past 5 mins" />
    <add key="CIMS_SlowResponseLv1_ForcePagerAlert" value="N" />
    <add key="CIMS_SlowResponseLv1_ForceEmailAlert" value="N" />
    <add key="CIMS_SlowResponseLv1_ForceMessage" value="(Drill) (CIMS->EHS) 1/1 Slow Performance Record count (>=6s) in the past 5 mins [threshold: 1]" />
    <add key="CIMS_SlowResponseLv2_ForcePagerAlert" value="N" />
    <add key="CIMS_SlowResponseLv2_ForceEmailAlert" value="N" />
    <add key="CIMS_SlowResponseLv2_ForceMessage" value="(Drill) (CIMS->EHS) 1/1 Slow Performance Record count (>=9s) in the past 5 mins [threshold: 1]" /> -->

    <add key="OCSSS_HealthCheckFail_ForcePagerAlert" value="N" />
    <add key="OCSSS_HealthCheckFail_ForceEmailAlert" value="N" />
    <add key="OCSSS_HealthCheckFail_ForceMessage" value="(Drill) OCSSS Health Check Fail" />
    <add key="OCSSS_SlowResponse_ForcePagerAlert" value="N" />
    <add key="OCSSS_SlowResponse_ForceEmailAlert" value="N" />
    <add key="OCSSS_SlowResponse_ForceMessage" value="(Drill) OCSSS Slow Response Case" /> 
    <add key="OCSSS_ConnectFail_ForcePagerAlert" value="N" />
    <add key="OCSSS_ConnectFail_ForceEmailAlert" value="N" />
    <add key="OCSSS_ConnectFail_ForceMessage" value="(Drill) OCSSS Connect Fail" />
    
    <!-- +=========================================================+ -->
    <!-- |                     HealthCheckFail                     | -->
    <!-- +=========================================================+ -->
    <add key="HealthCheckFail_EventSource" value="EHS2CMS_HealthCheckFail" />
    <add key="HealthCheckFail_PagerEventID" value="2000" />
    <add key="HealthCheckFail_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="HealthCheckFail_CheckInterval" value="5" />
    <!-- Target Interface_Code in InterfaceHealthCheck -->
    <add key="HealthCheckFail_InterfaceCode" value="EVACC" />
    <!-- Target Log_ID in InterfaceHealthCheck regarding as fail -->
    <add key="HealthCheckFail_FailLogID" value="00002" />
    <!-- If failure number reaches this number, raise error -->
    <add key="HealthCheckFail_FailCount" value="1" />
    <!-- Raise pager alert for this function code. Separate by comma. Use "ALL" for all function codes -->
    <add key="HealthCheckFail_PagerFunctionCode" value="HEALTH1" />
    <!-- Raise email alert for this function code. Separate by comma. Use "ALL" for all function codes -->
    <add key="HealthCheckFail_EmailFunctionCode" value="ALL" />

    
    <!-- +=========================================================+ -->
    <!-- |                         HCSPFail                        | -->
    <!-- +=========================================================+ -->
    <add key="HCSPFail_EventSource" value="EHS2CMS_HCSPFail" />
    <add key="HCSPFail_PagerEventID" value="2000" />
    <add key="HCSPFail_EmailEventID" value="2001" />
    
    <!-- Check interval (minutes) -->
    <add key="HCSPFail_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="HCSPFail_AuditLogMinuteBefore" value="5"/>
    <!-- If failure number reaches this number, raise error -->
    <add key="HCSPFail_FailCount" value="3"/>
    <!-- Monitor log id for specified enquiry system -->
    <add key="HCSPFail_EnquirySystem" value="CMS"/>


    <!-- +=========================================================+ -->
    <!-- |                       SlowResponse                      | -->
    <!-- +=========================================================+ -->
    <add key="SlowResponseLv1_EventSource" value="CMS2EHS_SlowResponse_Lv1" />
    <add key="SlowResponseLv1_PagerEventID" value="2000" />
    <add key="SlowResponseLv1_EmailEventID" value="2001" />
    <add key="SlowResponseLv2_EventSource" value="CMS2EHS_SlowResponse_Lv2" />
    <add key="SlowResponseLv2_PagerEventID" value="2000" />
    <add key="SlowResponseLv2_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="SlowResponse_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="SlowResponse_AuditLogMinuteBefore" value="5"/>
    <!-- Monitor function code: 060101 = Internal interface, getEHSVaccine.aspx -->
    <add key="SlowResponse_AuditLogFunctionCode" value="060101"/>
    <!-- Monitor Log ID: 00003 = Internal interface, getEHSVaccine.getEHSVaccineRecord end process log id with Action/End time-->
    <add key="SlowResponse_AuditLogLogID" value="00003"/>
    <!-- Monitor auditlog description with specified request system,  e.g. RequestSystem: CMS -->
    <add key="SlowResponse_AuditLogRequestSystem" value="CMS"/>
    <!-- if [1] record process time longer than 4 secords, write event log -->
    <add key="SlowResponse_FailCount" value="1"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 6 seconds -->
    <add key="SlowResponse_Level1Value" value="6"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 9 seconds -->
    <add key="SlowResponse_Level2Value" value="9"/>
    

    <!-- +=========================================================+ -->
    <!-- |                         RSAFail                         | -->
    <!-- +=========================================================+ -->
    <add key="RSAFail_EventSource" value="RSAFail" />
    <add key="RSAFail_PagerEventID" value="2000" />
    <add key="RSAFail_EmailEventID" value="2001" />
    
    <!-- Audit log check interval (minutes) -->
    <add key="RSAFail_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="RSAFail_AuditLogMinuteBefore" value="5"/>


    <!-- +=========================================================+ -->
    <!-- |                EHRSS_HealthCheckFail                    | -->
    <!-- +=========================================================+ -->
    <add key="EHRSS_HealthCheckFail_EventSource" value="EHS2EHRSS_HealthCheckFail" />
    <add key="EHRSS_HealthCheckFail_PagerEventID" value="2000" />
    <add key="EHRSS_HealthCheckFail_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="EHRSS_HealthCheckFail_CheckInterval" value="5" />
    <!-- Target Interface_Code in InterfaceHealthCheck -->
    <add key="EHRSS_HealthCheckFail_InterfaceCode" value="EHRTOKEN" />
    <!-- Target Log_ID in InterfaceHealthCheck regarding as success -->
    <add key="EHRSS_HealthCheckFail_SuccessLogID" value="00001" />    
    <!-- Target Log_ID in InterfaceHealthCheck regarding as fail -->
    <add key="EHRSS_HealthCheckFail_FailLogID" value="00002" />
    <!-- Raise pager alert for this function code. Separate by comma. Use "ALL" for all function codes -->
    <add key="EHRSS_HealthCheckFail_PagerFunctionCode" value="" />
    <!-- Raise email alert for this function code. Separate by comma. Use "ALL" for all function codes -->
    <add key="EHRSS_HealthCheckFail_EmailFunctionCode" value="ALL" />
    <!-- Raise pager alert when Single site fail (Y/N) -->
    <add key="EHRSS_HealthCheckFail_SingleFail_PagerAlert" value="N" />
    <!-- Raise email alert when Single site fail (Y/N) -->
    <add key="EHRSS_HealthCheckFail_SingleFail_EmailAlert" value="Y" />
    <!-- Raise pager alert when all sites health check fail (Y/N) -->
    <add key="EHRSS_HealthCheckFail_AllFail_PagerAlert" value="Y" />
    <!-- Raise email alert when all sites health check fail (Y/N) -->
    <add key="EHRSS_HealthCheckFail_AllFail_EmailAlert" value="Y" />    
    
    <!-- +=========================================================+ -->
    <!-- |                EHRSS_ConnectFail                        | -->
    <!-- +=========================================================+ -->
    <add key="EHRSS_ConnectFail_EventSource" value="EHS2EHRSS_ConnectFail" />
    <add key="EHRSS_ConnectFail_PagerEventID" value="2000" />
    <add key="EHRSS_ConnectFail_EmailEventID" value="2001" />
    
    <!-- Check interval (minutes) -->
    <add key="EHRSS_ConnectFail_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="EHRSS_ConnectFail_AuditLogMinuteBefore" value="5"/>
    <!-- Raise pager alert when primary site fail (Y/N) -->
    <add key="EHRSS_ConnectFail_PriFail_PagerAlert" value="N" />
    <!-- Raise email alert when primary site fail (Y/N) -->
    <add key="EHRSS_ConnectFail_PriFail_EmailAlert" value="Y" />   
    <!-- Raise pager alert when all sites health check fail (Y/N) -->
    <add key="EHRSS_ConnectFail_AllFail_PagerAlert" value="Y" />
    <!-- Raise email alert when all sites health check fail (Y/N) -->
    <add key="EHRSS_ConnectFail_AllFail_EmailAlert" value="Y" />       
  
    <!-- +=========================================================+ -->
    <!-- |                EHRSS_AutoResilience                 | -->
    <!-- +=========================================================+ -->
    <add key="EHRSS_AutoResilience_EventSource" value="EHS2EHRSS_AutoResilience" />
    <add key="EHRSS_AutoResilience_PagerEventID" value="2000" />
    <add key="EHRSS_AutoResilience_EmailEventID" value="2001" />
    
    <!-- Check interval (minutes) -->
    <add key="EHRSS_AutoResilience_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="EHRSS_AutoResilience_AuditLogMinuteBefore" value="5"/>
    <!-- Monitor function code: 070302 = Internal interface -->
    <add key="EHRSS_AutoResilience_AuditLogFunctionCode" value="070302"/>
    <!-- Monitor Log ID: 00104 = Internal interface,Primary site switched -->
    <add key="EHRSS_AutoResilience_AuditLogLogID" value="00104"/>    
    <!-- Raise pager alert (Y/N) -->
    <add key="EHRSS_AutoResilience_PagerAlert" value="N" />
    <!-- Raise email alert (Y/N) -->
    <add key="EHRSS_AutoResilience_EmailAlert" value="Y" />
    
    <!-- +=========================================================+ -->
    <!-- |                EHRSS_RerunJobFail                       | -->
    <!-- +=========================================================+ -->
    <add key="EHRSS_RerunJobFail_EventSource" value="EHS2EHRSS_RerunJobFail" />
    <add key="EHRSS_RerunJobFail_PagerEventID" value="2000" />
    <add key="EHRSS_RerunJobFail_EmailEventID" value="2001" />
    
    <!-- Check interval (minutes) -->
    <add key="EHRSS_RerunJobFail_CheckInterval" value="5"/>
    <!-- On every execution, check schedule job logs in the previous minutes -->
    <add key="EHRSS_RerunJobFail_ScheduleJobLogMinuteBefore" value="5"/>
    <!-- Target Program_ID in ScheduleJobLog -->
    <add key="EHRSS_RerunJobFail_ProgramID" value="TokenNotification" />
    <!-- Target Log_ID in ScheduleJobLog regarding as fail -->
    <add key="EHRSS_RerunJobFail_FailLogID" value="00007" />    
    <!-- Raise pager alert (Y/N) -->
    <add key="EHRSS_RerunJobFail_PagerAlert" value="N" />
    <!-- Raise email alert (Y/N) -->
    <add key="EHRSS_RerunJobFail_EmailAlert" value="Y" />
    
    <!-- +=========================================================+ -->
    <!-- |                EHRSS2EHS_OutSyncCase                    | -->
    <!-- +=========================================================+ -->
    <add key="EHRSS_OutSyncCase_EventSource" value="EHRSS2EHS_OutSyncCase" />
    <add key="EHRSS_OutSyncCase_PagerEventID" value="2000" />
    <add key="EHRSS_OutSyncCase_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="EHRSS_OutSyncCase_CheckInterval" value="5"/>
    <!-- On every execution, check schedule job logs in the previous minutes -->
    <add key="EHRSS_OutSyncCase_ScheduleJobLogMinuteBefore" value="15"/>
     <!-- Target Program_ID in ScheduleJobLog -->
    <add key="EHRSS_OutSyncCase_ProgramID" value="TokenNotification" />
    <!-- Target Log_ID in ScheduleJobLog regarding as fail -->
    <add key="EHRSS_OutSyncCase_FailLogID" value="00008" />    
    <!-- Raise pager alert (Y/N) -->
    <add key="EHRSS_OutSyncCase_PagerAlert" value="N" />
    <!-- Raise email alert (Y/N) -->
    <add key="EHRSS_OutSyncCase_EmailAlert" value="Y" />


    <!-- +=========================================================+ -->
    <!-- |                CIMS_HealthCheckFail                     | -->
    <!-- +=========================================================+ -->
    <add key="CIMS_HealthCheckFail_EventSource" value="EHS2CIMS_HealthCheckFail" />
    <add key="CIMS_HealthCheckFail_PagerEventID" value="2000" />
    <add key="CIMS_HealthCheckFail_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="CIMS_HealthCheckFail_CheckInterval" value="5" />
    <!-- Target Interface_Code in InterfaceHealthCheck -->
    <add key="CIMS_HealthCheckFail_InterfaceCode" value="EVACC_CIMS" />
    <!-- Target Log_ID in InterfaceHealthCheck regarding as fail -->
    <add key="CIMS_HealthCheckFail_FailLogID" value="00002" />
    <!-- If failure number reaches this number, raise error -->
    <add key="CIMS_HealthCheckFail_FailCount" value="1" />
    <!-- Raise pager alert for this function code. Separate by comma. Use "ALL" for all function codes -->
    <add key="CIMS_HealthCheckFail_PagerFunctionCode" value="HEALTH1" />
    <!-- Raise email alert for this function code. Separate by comma. Use "ALL" for all function codes -->
    <add key="CIMS_HealthCheckFail_EmailFunctionCode" value="ALL" />


    <!-- +=========================================================+ -->
    <!-- |                    CIMS_HCSPFail                        | -->
    <!-- +=========================================================+ -->
    <add key="CIMS_HCSPFail_EventSource" value="EHS2CIMS_HCSPFail" />
    <add key="CIMS_HCSPFail_PagerEventID" value="2000" />
    <add key="CIMS_HCSPFail_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="CIMS_HCSPFail_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="CIMS_HCSPFail_AuditLogMinuteBefore" value="5"/>
    <!-- If failure number reaches this number, raise error -->
    <add key="CIMS_HCSPFail_FailCount" value="3"/>
    <!-- Monitor log id for specified enquiry system -->
    <add key="CIMS_HCSPFail_EnquirySystem" value="CIMS"/>

    <!-- +=========================================================+ -->
    <!-- |                  CIMS_SlowResponse                      | -->
    <!-- +=========================================================+ -->
    <add key="CIMS_SlowResponseLv1_EventSource" value="CIMS2EHS_SlowResponse_Lv1" />
    <add key="CIMS_SlowResponseLv1_PagerEventID" value="2000" />
    <add key="CIMS_SlowResponseLv1_EmailEventID" value="2001" />
    <add key="CIMS_SlowResponseLv2_EventSource" value="CIMS2EHS_SlowResponse_Lv2" />
    <add key="CIMS_SlowResponseLv2_PagerEventID" value="2000" />
    <add key="CIMS_SlowResponseLv2_EmailEventID" value="2001" />
    <add key="CIMS_SlowResponseBatchLv1_EventSource" value="CIMS2EHS_SlowResponse_Batch_Lv1" />
    <add key="CIMS_SlowResponseBatchLv1_PagerEventID" value="2000" />
    <add key="CIMS_SlowResponseBatchLv1_EmailEventID" value="2001" />
    <add key="CIMS_SlowResponseBatchLv2_EventSource" value="CIMS2EHS_SlowResponse_Batch_Lv2" />
    <add key="CIMS_SlowResponseBatchLv2_PagerEventID" value="2000" />
    <add key="CIMS_SlowResponseBatchLv2_EmailEventID" value="2001" />    
    
    <!-- Check interval (minutes) -->
    <add key="CIMS_SlowResponse_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="CIMS_SlowResponse_AuditLogMinuteBefore" value="5"/>
    <!-- Monitor function code: 060101 = Internal interface, getEHSVaccine.aspx -->
    <add key="CIMS_SlowResponse_AuditLogFunctionCode" value="060101"/>
    <!-- Monitor Log ID: 00003 = Internal interface, getEHSVaccine.getEHSVaccineRecord end process log id with Action/End time-->
    <add key="CIMS_SlowResponse_AuditLogLogID" value="00003"/>
    <!-- Monitor auditlog description with specified request system,  e.g. RequestSystem: CIMS -->
    <add key="CIMS_SlowResponse_AuditLogRequestSystem" value="CIMS"/>
    <!-- if [1] record process time longer than 4 secords, write event log -->
    <add key="CIMS_SlowResponse_FailCount" value="1"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 6 seconds, Single Mode -->
    <add key="CIMS_SlowResponse_Level1Value" value="6"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 9 seconds, Single Mode -->
    <add key="CIMS_SlowResponse_Level2Value" value="9"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 15 seconds, Batch Mode -->
    <add key="CIMS_SlowResponse_BatchLevel1Value" value="15"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 20 seconds, Batch Mode -->
    <add key="CIMS_SlowResponse_BatchLevel2Value" value="20"/>
    <!-- Raise pager alert (Y/N) for level 1 alert -->
    <add key="CIMS_SlowResponse_Level1_PagerAlert" value="Y" />
    <!-- Raise email alert (Y/N) for level 1 alert -->
    <add key="CIMS_SlowResponse_Level1_EmailAlert" value="Y" />
    <!-- Raise pager alert (Y/N) for level 2 alert -->
    <add key="CIMS_SlowResponse_Level2_PagerAlert" value="Y" />
    <!-- Raise email alert (Y/N) for level 2 alert -->
    <add key="CIMS_SlowResponse_Level2_EmailAlert" value="Y" />
    

    <!-- +=========================================================+ -->
    <!-- |                  OCSSS_HealthCheckFail                  | -->
    <!-- +=========================================================+ -->
    <add key="OCSSS_HealthCheckFail_EventSource" value="EHS2OCSSS_HealthCheckFail" />
    <add key="OCSSS_HealthCheckFail_PagerEventID" value="2000" />
    <add key="OCSSS_HealthCheckFail_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="OCSSS_HealthCheckFail_CheckInterval" value="5" />
    <!-- Target Interface_Code in InterfaceHealthCheck -->
    <add key="OCSSS_HealthCheckFail_InterfaceCode" value="OCSSS" />
    <!-- Target Function_Code in InterfaceHealthCheck -->
    <add key="OCSSS_HealthCheckFail_FunctionCode" value="HEALTH1" />
    <!-- Target Log_ID in InterfaceHealthCheck regarding as fail -->
    <add key="OCSSS_HealthCheckFail_FailLogID" value="00002" />
    <!-- If failure number reaches this number, raise error -->
    <add key="OCSSS_HealthCheckFail_FailCount" value="1" />
    <!-- Raise pager alert when OCSSS Health Check fail (Y/N/S), [Y] = always raise, [S] = raise alert during schedule time -->
    <add key="OCSSS_HealthCheckFail_PagerAlert" value="S" />
    <!-- Raise pager alert between [07:00] to [22:00] (24H) only, [PagerAlert] must set to [S] -->
    <add key="OCSSS_HealthCheckFail_PagerAlert_FromTime" value="07:00" />
    <!-- Raise pager alert between [07:00] to [22:00] (24H) only, [PagerAlert] must set to [S] -->
    <add key="OCSSS_HealthCheckFail_PagerAlert_ToTime" value="22:00" />
    <!-- Raise email alert when OCSSS is slow response (Y/N) -->
    <add key="OCSSS_HealthCheckFail_EmailAlert" value="Y" />
    
    
    <!-- +=========================================================+ -->
    <!-- |                OCSSS_SlowResponse                       | -->
    <!-- +=========================================================+ -->
    <add key="OCSSS_SlowResponse_EventSource" value="EHS2OCSSS_SlowResponse" />
    <add key="OCSSS_SlowResponse_PagerEventID" value="2000" />
    <add key="OCSSS_SlowResponse_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="OCSSS_SlowResponse_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="OCSSS_SlowResponse_AuditLogMinuteBefore" value="5"/>
    <!-- Monitor function code: 060401 = Internal interface -->
    <add key="OCSSS_SlowResponse_AuditLogFunctionCode" value="060401"/>
    <!-- Monitor Log ID: 00002 = Internal interface, call OCSSS success end process log id with Action/End time-->
    <add key="OCSSS_SlowResponse_AuditLogLogID" value="00002"/>
    <!-- if [1] record process time longer than 4 secords, write event log -->
    <add key="OCSSS_SlowResponse_FailCount" value="1"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 4 seconds -->
    <add key="OCSSS_SlowResponse_Value" value="4"/>
    <!-- Raise pager alert when OCSSS is slow response (Y/N/S), [Y] = always raise, [S] = raise alert during schedule time -->
    <add key="OCSSS_SlowResponse_PagerAlert" value="S" />
    <!-- Raise pager alert between [07:00] to [22:00] (24H) only, [PagerAlert] must set to [S] -->
    <add key="OCSSS_SlowResponse_PagerAlert_FromTime" value="07:00" />
    <!-- Raise pager alert between [07:00] to [22:00] (24H) only, [PagerAlert] must set to [S] -->
    <add key="OCSSS_SlowResponse_PagerAlert_ToTime" value="22:00" />
    <!-- Raise email alert when OCSSS is slow response (Y/N) -->
    <add key="OCSSS_SlowResponse_EmailAlert" value="Y" />


    <!-- +=========================================================+ -->
    <!-- |                OCSSS_ConnectFail                        | -->
    <!-- +=========================================================+ -->
    <add key="OCSSS_ConnectFail_EventSource" value="EHS2OCSSS_ConnectFail" />
    <add key="OCSSS_ConnectFail_PagerEventID" value="2000" />
    <add key="OCSSS_ConnectFail_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="OCSSS_ConnectFail_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="OCSSS_ConnectFail_AuditLogMinuteBefore" value="5"/>
    <!-- Monitor function code: 060401 = Internal interface -->
    <add key="OCSSS_ConnectFail_AuditLogFunctionCode" value="060401"/>
    <!-- Monitor Log ID: 00003 = Internal interface, call OCSSS fail-->
    <add key="OCSSS_ConnectFail_AuditLogLogID" value="00003"/>
    <!-- Raise pager alert when connect OCSSS fail (Y/N/S), [Y] = always raise, [S] = raise alert during schedule time -->
    <add key="OCSSS_ConnectFail_PagerAlert" value="S" />
    <!-- Raise pager alert between [07:00] to [22:00] (24H) only, [PagerAlert] must set to [S] -->
    <add key="OCSSS_ConnectFail_PagerAlert_FromTime" value="07:00" />
    <!-- Raise pager alert between [07:00] to [22:00] (24H) only, [PagerAlert] must set to [S] -->
    <add key="OCSSS_ConnectFail_PagerAlert_ToTime" value="22:00" />
    <!-- Raise email alert when connect OCSSS fail (Y/N) -->
    <add key="OCSSS_ConnectFail_EmailAlert" value="Y" />


    <!-- +=========================================================+ -->
    <!-- |          EHRSS_PatientPortal_SlowResponse               | -->
    <!-- +=========================================================+ -->
    <add key="EHRSS_PP_SlowResponseLv1_EventSource" value="EHRSS2EHS_PP_SlowResponse_Lv1" />
    <add key="EHRSS_PP_SlowResponseLv1_PagerEventID" value="2000" />
    <add key="EHRSS_PP_SlowResponseLv1_EmailEventID" value="2001" />
    <add key="EHRSS_PP_SlowResponseLv2_EventSource" value="EHRSS2EHS_PP_SlowResponse_Lv2" />
    <add key="EHRSS_PP_SlowResponseLv2_PagerEventID" value="2000" />
    <add key="EHRSS_PP_SlowResponseLv2_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="EHRSS_PP_SlowResponse_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="EHRSS_PP_SlowResponse_AuditLogMinuteBefore" value="5"/>
    
    <!-- Monitor function code: 070202 = external interface, eHSServicePatientPortal.svc -->
    <add key="EHRSS_PP_SlowResponse_AuditLogFunctionCode" value="070202"/>
    <!-- Monitor Log ID: 00011 = external interface, geteHSSDoctorList end process log id with Action/End time-->
    <add key="EHRSS_PP_DoctorList_SlowResponse_AuditLogLogID" value="00011"/>
    <!-- Monitor Log ID: 00003 = external interface, geteHSSVoucherBalance end process log id with Action/End time-->
    <add key="EHRSS_PP_VoucherBalance_SlowResponse_AuditLogLogID" value="00012"/>

    <!-- if [1] record process time longer than 4 secords, write event log -->
    <add key="EHRSS_PP_SlowResponse_FailCount" value="1"/>
    
    <!-- EHS request process time "MORE THAN or EQUAL" 6 seconds, geteHSSVoucherBalance -->
    <add key="EHRSS_PP_VoucherBalance_SlowResponse_Level1Value" value="6"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 9 seconds, geteHSSVoucherBalance -->
    <add key="EHRSS_PP_VoucherBalance_SlowResponse_Level2Value" value="9"/>
    
    <!-- EHS request process time "MORE THAN or EQUAL" 15 seconds, geteHSSDoctorList -->
    <add key="EHRSS_PP_DoctorList_SlowResponse_Level1Value" value="15"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 20 seconds, geteHSSDoctorList -->
    <add key="EHRSS_PP_DoctorList_SlowResponse_Level2Value" value="20"/>
    
    <!-- Raise pager alert (Y/N) for level 1 alert -->
    <add key="EHRSS_PP_SlowResponse_Level1_PagerAlert" value="Y" />
    <!-- Raise email alert (Y/N) for level 1 alert -->
    <add key="EHRSS_PP_SlowResponse_Level1_EmailAlert" value="N" />
    <!-- Raise pager alert (Y/N) for level 2 alert -->
    <add key="EHRSS_PP_SlowResponse_Level2_PagerAlert" value="Y" />
    <!-- Raise email alert (Y/N) for level 2 alert -->
    <add key="EHRSS_PP_SlowResponse_Level2_EmailAlert" value="N" />


    <!-- +=========================================================+ -->
    <!-- |                HAServicePatientImporter                 | -->
    <!-- +=========================================================+ -->
    <add key="HASPImporter_EventSource" value="HAServicePatientImporter_Fail" />
    <add key="HASPImporter_PagerEventID" value="2000" />
    <add key="HASPImporter_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="HASPImporter_CheckInterval" value="5"/>
    <!-- On every execution, check schedule job logs in the previous minutes -->
    <add key="HASPImporter_ScheduleJobLogMinuteBefore" value="5"/>
    <!-- Target Program_ID in ScheduleJobLog -->
    <add key="HASPImporter_ProgramID" value="HAServicePatientImporter" />
    <!-- Target Log_ID will trigger EmailAlert  -->
    <add key="HASPImporter_EmailAlertLogID" value="00009" />
    <!-- Target Log_ID will trigger PagerAlert  -->
    <add key="HASPImporter_PagerAlertLogID" value="00010" />
    
    <!-- Raise pager alert (Y/N) when alert log id = 00010 = Pager -->
    <add key="HASPImporter_PagerAlertLogID_PagerAlert" value="Y" />

    <!-- Raise email alert (Y/N) when alert log id = 00009 = Email -->
    <add key="HASPImporter_EmailAlertLogID_EmailAlert" value="Y" />

    <!-- +=========================================================+ -->
    <!-- |                COVID19Exporter                          | -->
    <!-- +=========================================================+ -->
    <add key="COVID19Exporter_EventSource" value="COVID19Exporter_Fail" />
    <add key="COVID19Exporter_PagerEventID" value="2000" />
    <add key="COVID19Exporter_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="COVID19Exporter_CheckInterval" value="5"/>
    <!-- On every execution, check schedule job logs in the previous minutes -->
    <add key="COVID19Exporter_ScheduleJobLogMinuteBefore" value="5"/>
    <!-- Target Program_ID in ScheduleJobLog -->
    <add key="COVID19Exporter_ProgramID" value="COVID19Exporter" />
    <!-- Target Log_ID will trigger EmailAlert  -->
    <add key="COVID19Exporter_AlertLogID" value="00009" />    

    <!-- Raise pager alert (Y/N) when alert log id = 00009 = Pager -->
    <add key="COVID19Exporter_PagerAlertLogID_PagerAlert" value="Y" />

    <!-- Raise email alert (Y/N) when alert log id = 00009 = Email -->
    <add key="COVID19Exporter_EmailAlertLogID_EmailAlert" value="Y" />


    <!-- +=========================================================+ -->
    <!-- |                COVID19BatchConfirm                          | -->
    <!-- +=========================================================+ -->
    <add key="COVID19BatchConfirm_EventSource" value="COVID19BatchConfirm_Fail" />
    <add key="COVID19BatchConfirm_PagerEventID" value="2000" />
    <add key="COVID19BatchConfirm_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="COVID19BatchConfirm_CheckInterval" value="5"/>
    <!-- On every execution, check schedule job logs in the previous minutes -->
    <add key="COVID19BatchConfirm_ScheduleJobLogMinuteBefore" value="5"/>
    <!-- Target Program_ID in ScheduleJobLog -->
    <add key="COVID19BatchConfirm_ProgramID" value="COVID19BatchConfirm" />
    <!-- Target Log_ID will trigger EmailAlert  -->
    <add key="COVID19BatchConfirm_EmailAlertLogID" value="00009" />
    <!-- Target Log_ID will trigger PagerAlert  -->
    <add key="COVID19BatchConfirm_PagerAlertLogID" value="00010" />

    <!-- Raise email alert (Y/N) when alert log id = 00009 = Email -->
    <add key="COVID19BatchConfirm_EmailAlertLogID_EmailAlert" value="Y" />
    <!-- Raise pager alert (Y/N) when alert log id = 00010 = Pager -->
    <add key="COVID19BatchConfirm_PagerAlertLogID_PagerAlert" value="Y" />

    <!-- +=========================================================+ -->
    <!-- |                COVID19DischargeImporter                 | -->
    <!-- +=========================================================+ -->
    <add key="COVID19DischargeImporter_EventSource" value="COVID19DischargeImporter_Fail" />
    <add key="COVID19DischargeImporter_PagerEventID" value="2000" />
    <add key="COVID19DischargeImporter_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="COVID19DischargeImporter_CheckInterval" value="5"/>
    <!-- On every execution, check schedule job logs in the previous minutes -->
    <add key="COVID19DischargeImporter_ScheduleJobLogMinuteBefore" value="5"/>
    <!-- Target Program_ID in ScheduleJobLog -->
    <add key="COVID19DischargeImporter_ProgramID" value="COVID19DischargeImporter" />
    
    <!-- Target Log_ID will trigger EmailAlert  -->
    <add key="COVID19DischargeImporter_EmailAlertLogID" value="00009" />
    <!-- Target Log_ID will trigger PagerAlert  -->
    <add key="COVID19DischargeImporter_PagerAlertLogID" value="00010" />

    <!-- Raise pager alert (Y/N) when alert log id = 00010 = Pager -->
    <add key="COVID19DischargeImporter_PagerAlertLogID_PagerAlert" value="Y" />

    <!-- Raise email alert (Y/N) when alert log id = 00009 = Email -->
    <add key="COVID19DischargeImporter_EmailAlertLogID_EmailAlert" value="Y" />

    <!-- [dbEVS_Dev_1] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_1" value="i6GZ3wAni8IpS0uc0ByVmhGgSvcBxJqd6mehUr+iasmUuee0K3ChCuNNrO9me3xq4EesLlq+qlfSThkRbDKLqAElXKQk9krvZ/1S925jAPbv9l8OxIj77jnUK6zkmVmp6rnIGTq6QidtljW2sC2bJwTzle7AtwZwpqFwpbfXrpl4hUrNrBnQ9e+nyZuaplWuUefunbRDL2crB2Jh5E5OAsgs1bwjrZ6R+qYrHDD0ITI=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_1" value="pzmS4aA3D0CtFKc+NYCgEE0z9mhVR02f5Q5i51FQLubEXAlwLiLxM2VlpaPHezBY9Dccle0bSYuy4Rx5wHk1YlDAhOCKiPL1s3reFIXauSWXlrBqG+zVm4e72NenMW1InFkDMbhjfkGDqthpR/u6S3hrFHzQop3lti6q+yh+1wqDwc0CklUaQdt17ceYO7svVUYWfe6MOLpu+uC8SEOouBptau8Qz0nIbt+4lhIixmEul1/U2GBe4BPxOW2h7VrX" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_1" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iNE7+EzdZnFMs3Ari/3XnsDtdEispuzj4KNNC2Kmf1isXkY4pgA2owXPfKZJJeWWt+p8YaW9GEH3j/2shNw4R4XqooH4khhJ4g8fvqYjgySeXHlpdda532ByYN1yJJQihTFwT8wQizZYLZ/IkYv8DGI=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_1" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36ydqbvWb9q59JCRZoHrj4xOtFmXxf+p952jsoq8qM729F1iYkPslEF81ZTqxSsDYol/pBLIQmjVyhy2lE8dAQYbQXMod0wwXv2X2I6XLAbGLI4Mz18RyQoymsf0ffIwJswTcxl/coFaQBMhXLL+7wITZXwBUm+sxr/08sSduKApIe" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_1" value="fsBDUEaIyrrE9VDz6Te555lOOabqQkAyKo/dil0/hSOcBkpTlOEnKNy+Og01FgHSm3HwUxDf8Vn31tWWjxokIn7rI0In/w3keZfa/9fGSMsd60YchkuGe5vx6hHUqyMzj+ySXAOBsO51W2jKmk1XvlgjqJSCKF+M/ab7wJE4QUm//1x6gSA+bi1nAcqO36YMMIGkEeistiZ4p2r+xcmTUlesDdYvIrCA71ViCfYa2JY6iEJ/YUFgIvQ4PPHoY8F5" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_1" value="rldRYwW6RmA4Jn5H4UaFK44+7hOgv4s8ScxN3tof2Vt/oYia3HihTw9PLUCckFNsekGtRYIhfg2z36G7aR6DjgdX6p0DA09W+OUAeCPhMSyzwMHcT+l5UDDwA5p2bhJCXHeRDB+8hsRiHBGLx3vFwUbn+/z2lpsrlf520hwGIE0eYKNEMtTExXfjFX2bbaXv8lBz3rlYkmyVmceYTbevI7GRU5iCC24yJgNcF5wSmhX78m1Cf9ehHnNVtqKvvMQa" />

    <add key="ConnectionStringPublic_EHSDB_PRI_1" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iNE7+EzdZnFMs3Ari/3XnsDtdEispuzj4KNNC2Kmf1isG6Qa1CrF5ybybYHQwX3fL+0GClBKVaD2rFrOQNMajK++q4cApnvNyzRDMNCjpJMbPvNNava7ekY+g77CrJG1v5jUSF06iHxiqO4SwYBtmG4=" />
    <add key="ConnectionStringPublic_EHSDB_REP_1" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36ydqbvWb9q59JCRZoHrj4xOtFmXxf+p952jsoq8qM729F1iYkPslEF81ZTqxSsDYol9TzjdBImuFqhH2C2OZngxo4wFqi+BtIk3mX4JHGOySopEsgVKynoAmgfxK5ATB3Hnz2kxqRMPdlTDS8muKhIgeroBXn+nJmgT4LJxwjDT77" />

    <add key="ConnectionStringSSOP_EHSDB_PRI_1" value="XtV1fXKPuZYYKoWTKa6ob6/8h2s1KbmcEJYdQE9TlxdyVmqUqGjAiFBFviDmee/wmKwxIidJ7KD5pnS4nKiE7lklQaFwVmwm4LM6X72qRK46YdzJSB8Ae4lkGPjbYDWMV9veW1T43U9kpu3jlzwZ0eGUczVVCmzYKln4DMXaYLBTSRq9lVfpVq6mO6yo4nZvC1AYXMnXknafcn70ujWBPt6lopk5lFwo+hBM64Jd/jQ=" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_1" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVMT7/1fN3vnpBtyzOehmL6qmIEYfwO0uNOzmO8E4gacRL6XEV247xbr3G78NKjLLKnc+IwFgzMRCjJe/FFKogpdf2kvb+nM5uc2FM91VP6CZ2zZn2T0aIcepxl6GwFhtWQAAOtgouo0zlFAYLr+e2rM=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_1" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAPLIFkWqKnESoIKT6MwsM9NDofgJI3vDJ8ngIuZeKEK4Um60F089nxUAXi+kRdl1NgR0Nq4e5ZCiyvnAVkpIDj9qOBdmBDKFvlk022v/xJ4qgYL9hutuQowwXDedPoZ54IQFLi+fzfllJUDTmroZG6sqfF4UcDB1vTxoOcwBby/Q" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_REP_1" value="BRAcZXh3/SglDUrMee5ZzfjB0Jj8utEUIOb+4Y/dqiZkfj7K6PEYTfAOA6txaEr4GL/SvekKDyes+aNm3J6yxu0NIbqs7CE2jIVQiitqOOXZjUGgKD1DJBgsgpiR+1w5qSaNhhboO5yW+hNXuwFwZJ6X33VK48G6LeiuBHrLJ/20q3zjGFFRiezbrGR0w8GqarziZk2vy+C889d27coCj6Tmu8N20k4egd/XfZgPNA5FcmtNacU5BWVM5cmyFrML" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_1" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVMT7/1fN3vnpBtyzOehmL6qmIEYfwO0uNOzmO8E4gacRBKUTtkmyzy05xjMgMOk2Rv0TAVaWrxoP9EQXmyeZCwUV/qLHPFLazYd6d42JLghYONA8dTJ/ThBN7EbT1yzx0Zu79dRjXpF27vQ5PS3qs/I=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_1" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAPLIFkWqKnESoIKT6MwsM9NDofgJI3vDJ8ngIuZeKEK4Um60F089nxUAXi+kRdl1NpCjtd+M7oSlsLQVCHzBjtMN4QZoFMZUVSO0KrHc0Jyyk4ow5YOsLnsGUpT5wHn47TgaxpVuMy21oOLx+XF+0aiShbeh+DOg11hMDDpvo4Nj" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_1" value="BRAcZXh3/SglDUrMee5ZzfjB0Jj8utEUIOb+4Y/dqiZkfj7K6PEYTfAOA6txaEr4GL/SvekKDyes+aNm3J6yxu0NIbqs7CE2jIVQiitqOOXZjUGgKD1DJBgsgpiR+1w5qSaNhhboO5yW+hNXuwFwZPb3pUAkFm5mlol4wKR66mz8/YH85pnnAU0uVStxO8u1BUsBeonqUvqOM19cehCVFzHCbolIuemaxxCWY3+Pb9qkXLFvb4shw0kfm2zWVOvm" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_1" value="N0kh3tNU8YJgSt2NZQM70jw04Aq0pemfe8B9lsv3FZAlD7lfniTYVgRLY/bymOkE39jIQYr0tT6K5Yp0IG4mDmJ7N9kDo25dtwtS497DDXrQB4a3zqnt8hQEG0zJFDulvPvpJ6YJf2wPpO1u+DJoTEMh/e4UX4t/c523iqmZg2fcI7x3wm0X1nYAOgdIVwmF1jrU+dg7m+3av7rLbov5Yo4IZjbrFu93X7gwjtXW7c/2Hsts629LkjbUzcQC9QRjtxeXOMFKhHtjHpb6VjwhXQ==" />


    <!-- [dbEVS_Dev_3] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_3" value="i6GZ3wAni8IpS0uc0ByVmhGgSvcBxJqd6mehUr+iasmUuee0K3ChCuNNrO9me3xq4EesLlq+qlfSThkRbDKLqBghZxki0+Agr0xtq5gJFWNXnoiC6GcDgOzypsD4O4zmueZx5DH/VnX/FbLNJq00+4/7GpKKjnmL4lV8PbUUILF23VjFlitBEKPsFMse/nNzTqWYwWAAP15eKHKpqSiTElfHOSJQDD6TR4V5+4R12iE=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_3" value="pzmS4aA3D0CtFKc+NYCgEE0z9mhVR02f5Q5i51FQLubEXAlwLiLxM2VlpaPHezBY9Dccle0bSYuy4Rx5wHk1YmbrZlnWREiuz17a9RnhX2WAmUkZReyWAa1TsoAe2GnOepP1cpx28/H26Kr9s/ha4+q1E+Mhu8UPOSylqaJyKDQbB5U+UzCKEU6sbOFQt8T3H5X0AlWUv2UtNel+TMr12fFH+i9E3rMsaEHMU4kvy04JSAWflnw9/bcfNDfHgBkD" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_3" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iPBSS8+UME+d8Nu3r99K8WdjTrCv6+XabPKfT+PcaOoXY4v215OCXLPjGrZ+VovzIuGLcODCLX1EhcGgSB6IjpWOZFJOrnGVFuzTZXAzzW0Vgqq+FYQ8MZkr6bjYhh8L4GlAb3AkYXFM4gAdy/3+VNA=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_3" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36ydwlc/YXFfPIycEE21clNatR2pEaNKc7O5EiLX6LgEmQkaYsDxUBnBrhm9yNRzM0cw58pKUoFA7hqM1kOpt2UzG+MtDGqbBtAp6FD9eGDK2egdtW1dUwBa55UY1qncN21A9ZZnIJdrg4R9KBUTO5ktmSi9VU+8ajXcCgBFq0kBMg" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_3" value="fsBDUEaIyrrE9VDz6Te555lOOabqQkAyKo/dil0/hSOcBkpTlOEnKNy+Og01FgHSm3HwUxDf8Vn31tWWjxokItnM/Y4xHMO5hM7JmMhKlm8EmcTgNaQ+V91Ofvax0E5/v4m0mZG8nNstbwL2tDh2QX/pJydD484kyOXOUIuGC8WSFlgZ9QLmCAQziXEmsPZr0HwqI6fCOyhbFGLU6y4K0mOwfJUFao6QZc7LChwcBTMdcEjsKAXUANs8ksaMZirg" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_3" value="rldRYwW6RmA4Jn5H4UaFK44+7hOgv4s8ScxN3tof2Vt/oYia3HihTw9PLUCckFNsekGtRYIhfg2z36G7aR6DjorX/YpYyKvM0spZXzZ42Gi9afT1ww/4ZouVypkT1/sg1CebV+M5aYsxTzfKKjOqJE9CwSGht/XWh0gzfcR7tlarM6z5c07jYgR9rsSX7SCR7GHQPxfIseKftv1H3XKJl/uSHyNNNEVqskgjkjLZprWo2UxiOeq76i8GI2hDzxtL" />

    <add key="ConnectionStringPublic_EHSDB_PRI_3" value="+NnJ3INwLJEG7GT252tZamb50EF+rKBpfQFLO3Mzpfl6I/fZkDgPIhwq1RBGoyRtnWuSYXJzMJ6LvVxWCot5iPBSS8+UME+d8Nu3r99K8WdjTrCv6+XabPKfT+PcaOoXC+4tfAKRlOG5Xx21pqtZbB1JdaQmVD/q0OBWkH8hyD046emGnLwKlzNVDtKc7M3sOAdt//XX9flX7+TC9MA7yh208QIVGXqxhQe7Qj6gmPI=" />
    <add key="ConnectionStringPublic_EHSDB_REP_3" value="nwm/EzRJS72VKA6BtIxkjX54GKU/+qLWKcL617/5VZfyMOj726e8JM+u7I3AhLxJXuDFfEiWOrZ5meSrtr36ydwlc/YXFfPIycEE21clNatR2pEaNKc7O5EiLX6LgEmQkaYsDxUBnBrhm9yNRzM0c8ijxT3m06CG6y2U0+nHeg4K0kavpMXtuL3a/OQYyHmpTZv+B380sN/Q3uvhM5n72AMt6b78cV7xS3xApBkrCnssKETyErBdI5H9RFve0sQo" />

    <add key="ConnectionStringSSOP_EHSDB_PRI_3" value="XtV1fXKPuZYYKoWTKa6ob6/8h2s1KbmcEJYdQE9TlxdyVmqUqGjAiFBFviDmee/wmKwxIidJ7KD5pnS4nKiE7mf2Oj5Jf5qcJvKeoZmPi4PLaBtV16IDg17a8zsQhs2oJaYCZYLVGkn5bJYU4ZYwPM/v/xvb7wwe3GTRP04mv4OMBC4OK6Vf8DIpSHqShD4wtD6xlbKGNW81qoiCyAFTArs6RssFRIIk88/eK2+w+xU=" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_3" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVO49sUasAIST/67tC/gIlh4LymUz/Wj+sp0maIiB538hh1nk1xz8flgQOP3N9g+wJz+kq+9imeCn/RC6jIw+hekDHR3li1enNV2VnTCBpAoEeBsAZneV4dYP31oL3fMOKj92MFWX69m+VGzvKqQSqj0=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_3" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAGHXIXSWhpvrdNrCKaYITVCSGy+6wFM9QzEQq6dEhGHubFwtuPqs0pOFdz1PVakoMuAYmmfEADuSW9uDEkkXSd1ZTLXxZMkfgEZjTcE+6DQgRdf2z5TiXnls3oqFahFCVbQK53eIInQ/3/JFVpmdLnQaceUAEn2EE5TfjW3Ja/6Z" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_3" value="g4ZjVrxSHJjzsuxcaxi456F6Wpwe1zZu+x82JOgnvGWEUt+m2tFFTi0K96ws3o9WQy5lDTUkoGkGQQGVLUpYVO49sUasAIST/67tC/gIlh4LymUz/Wj+sp0maIiB538h8kp7lVM7iUvDH0ssqW9NlYmmXlxl6u47XaN+fzR4QmorMxERj3ve16QkFetQw97WL7/Qv1lr8FVtMCFrFVZzwotpJCtu7H7ol7cIYobTpXk=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_3" value="l0JwPCWPK8IWGvAwS2Wq8BlCulzN1xBdudHGcfGcwS2BzyvX6wVbzAhvpnAi6YT1Lw709q2h47MaQhDcK1PpAGHXIXSWhpvrdNrCKaYITVCSGy+6wFM9QzEQq6dEhGHubFwtuPqs0pOFdz1PVakoMiUDC2KHPv1VEz/ZlQN4jWlhnKn7oVsL80Ngg4axdagde4d/Z31FZwpkWuxXyhqjGj6Kwk/w53F3mCUTkQyGt2Td1N8uxSek9Vd2ubYKdAZT" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_3" value="BRAcZXh3/SglDUrMee5ZzfjB0Jj8utEUIOb+4Y/dqiZkfj7K6PEYTfAOA6txaEr4GL/SvekKDyes+aNm3J6yxp/2IDcn1Dx8rp1y4xFZYatKUU8tma78yJalTQtGN6HC7HtBGl05GeAUnW9WA7tsbpJ9+nfGKYP3ikB/IhOC1OqcJvw4G2FV5DdMRJ6QQHtZR28sh/MLx4dt4ib8NFaFkXaBnRUjzOTR+sggD9mBUdzHVw/6+ElV0bwgLhfJKQSi" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_3" value="N0kh3tNU8YJgSt2NZQM70jw04Aq0pemfe8B9lsv3FZAlD7lfniTYVgRLY/bymOkE39jIQYr0tT6K5Yp0IG4mDmHDA5D+gX6Whk8iYIK0Eqft1PYPcbMdF7E/RrPIJbr6n7IxlYpLvO5w8hYZNGM6q2WhcR8F9v9xOuqU6krI80451S+tzM3oEyt4JUj5XZS64dllowr+c69gXAWN8khC5nfD/KxIxOXdAfDrC1EzyvX0gktvTkePz8EnYTB8rFfyEHS2YoJ5BdaJCIW1sRwX2Q==" />
    <!-- === Connection String Pool [end] === -->




 
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
