<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RSA7Link" value="https://192.168.99.143:7002/ims-ws/services/CommandServer" />
    <add key="RSA7WebLogicUsername" value="CmdClient_r9v7o0kr" />
    <add key="RSA7WebLogicPassword" value="yNMifjz20H" />
    <add key="RSA7AMUsername" value="ce5rsaadmin" />
    <add key="RSA7AMPassword" value="Passw0rd12345!" />

    <add key="RSA8Link" value="https://192.168.99.156:7002/ims-ws/services/CommandServer" />
    <add key="RSA8WebLogicUsername" value="CmdClient_s03s0coz" />
    <add key="RSA8WebLogicPassword" value="cV4JYvl3FZJQvThaKIT6jUnfe9IJmn" />
    <add key="RSA8AMUsername" value="ce5rsaadmin" />
    <add key="RSA8AMPassword" value="Passw0rd12345!" />

    <add key="GetRSAVersion" value="7" />
    <add key="VerifyRSAVersion" value="8" />    
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>