<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- === Platform setting [start] === -->
    <add key="ScheduleJobActiveServer" value="CE5-LAWRENCETS"/>
    <add key="CommandTimeout" value="90"/>
    <add key="ConnectionTimeout" value="90"/>
    <add key="DBFlag" value="ConnectionStringHCVU_EHSDB_PRI"/>
    <add key="DBFlag_dbEVS_InterfaceLog" value="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog"/>

    <!-- === Platform setting [end] === -->
    <!-- Application setting -->

    
    <!-- +=========================================================+ --><!--
    --><!-- |  Drill Setting (Please remove this part in production)  | --><!--
    --><!-- +=========================================================+ --><!--
    --> <!--When set to "Y", the program skips all the ordinary checkings and will only look for the "ForceXXXAlert" flags
    <add key="EnableDrill" value="Y" />
    
    -->
      <!-- EnableDrill must set to "Y" to enable the usage of these flags. When the "ForceXXXAlert" flag is "Y", the program will directly raise the alert 
    <add key="HealthCheckFail_ForcePagerAlert" value="N" />
    <add key="HealthCheckFail_ForceEmailAlert" value="N" />
    <add key="HealthCheckFail_ForceMessage" value="(Drill) (EHS->CMS) Connection Fail count in last 1 Health Check" />
    <add key="HCSPFail_ForcePagerAlert" value="N" />
    <add key="HCSPFail_ForceEmailAlert" value="N" />
    <add key="HCSPFail_ForceMessage" value="(Drill) (EHS->CMS) 1 fail logs found in HCSP vaccination enquiry in the past 5 mins" />
    <add key="SlowResponseLv1_ForcePagerAlert" value="N" />
    <add key="SlowResponseLv1_ForceEmailAlert" value="N" />
    <add key="SlowResponseLv1_ForceMessage" value="(Drill) (CMS->EHS) 1/1 Slow Performance Record count (>=6s) in the past 5 mins [threshold: 1]" />
    <add key="SlowResponseLv2_ForcePagerAlert" value="N" />
    <add key="SlowResponseLv2_ForceEmailAlert" value="N" />
    <add key="SlowResponseLv2_ForceMessage" value="(Drill) (CMS->EHS) 1/1 Slow Performance Record count (>=9s) in the past 5 mins [threshold: 1]" />
    
    <add key="RSAFail_ForcePagerAlert" value="N" />
    <add key="RSAFail_ForceEmailAlert" value="N" />
    <add key="RSAFail_ForceMessage" value="(Drill) RSA Fail" />
    
    <add key="EHRSS_ConnectFail_ForcePagerAlert" value="N" />
    <add key="EHRSS_ConnectFail_ForceEmailAlert" value="N" />
    <add key="EHRSS_ConnectFail_ForceMessage" value="(Drill) EHRSS Connect Fail" />
    <add key="EHRSS_HealthCheckFail_ForcePagerAlert" value="N" />
    <add key="EHRSS_HealthCheckFail_ForceEmailAlert" value="N" />
    <add key="EHRSS_HealthCheckFail_ForceMessage" value="(Drill) EHRSS Health Check Fail" />
    <add key="EHRSS_AutoResilience_ForcePagerAlert" value="N" />
    <add key="EHRSS_AutoResilience_ForceEmailAlert" value="N" />
    <add key="EHRSS_AutoResilience_ForceMessage" value="(Drill) EHRSS Auto Resilience" />
    <add key="EHRSS_RerunJobFail_ForcePagerAlert" value="N" />
    <add key="EHRSS_RerunJobFail_ForceEmailAlert" value="N" />
    <add key="EHRSS_RerunJobFail_ForceMessage" value="(Drill) EHRSS Rerun job fail" />
    <add key="EHRSS_OutSyncCase_ForcePagerAlert" value="N" />
    <add key="EHRSS_OutSyncCase_ForceEmailAlert" value="N" />
    <add key="EHRSS_OutSyncCase_ForceMessage" value="(Drill) EHRSS Out Sync Case" />

    <add key="CIMS_HealthCheckFail_ForcePagerAlert" value="N" />
    <add key="CIMS_HealthCheckFail_ForceEmailAlert" value="N" />
    <add key="CIMS_HealthCheckFail_ForceMessage" value="(Drill) (EHS->CIMS) Connection Fail count in last 1 Health Check" />
    <add key="CIMS_HCSPFail_ForcePagerAlert" value="N" />
    <add key="CIMS_HCSPFail_ForceEmailAlert" value="N" />
    <add key="CIMS_HCSPFail_ForceMessage" value="(Drill) (EHS->CIMS) 1 fail logs found in HCSP vaccination enquiry in the past 5 mins" />
    <add key="CIMS_SlowResponseLv1_ForcePagerAlert" value="N" />
    <add key="CIMS_SlowResponseLv1_ForceEmailAlert" value="N" />
    <add key="CIMS_SlowResponseLv1_ForceMessage" value="(Drill) (CIMS->EHS) 1/1 Slow Performance Record count (>=6s) in the past 5 mins [threshold: 1]" />
    <add key="CIMS_SlowResponseLv2_ForcePagerAlert" value="N" />
    <add key="CIMS_SlowResponseLv2_ForceEmailAlert" value="N" />
    <add key="CIMS_SlowResponseLv2_ForceMessage" value="(Drill) (CIMS->EHS) 1/1 Slow Performance Record count (>=9s) in the past 5 mins [threshold: 1]" /> -->

    <add key="OCSSS_HealthCheckFail_ForcePagerAlert" value="N" />
    <add key="OCSSS_HealthCheckFail_ForceEmailAlert" value="N" />
    <add key="OCSSS_HealthCheckFail_ForceMessage" value="(Drill) OCSSS Health Check Fail" />
    <add key="OCSSS_SlowResponse_ForcePagerAlert" value="N" />
    <add key="OCSSS_SlowResponse_ForceEmailAlert" value="N" />
    <add key="OCSSS_SlowResponse_ForceMessage" value="(Drill) OCSSS Slow Response Case" /> 
    <add key="OCSSS_ConnectFail_ForcePagerAlert" value="N" />
    <add key="OCSSS_ConnectFail_ForceEmailAlert" value="N" />
    <add key="OCSSS_ConnectFail_ForceMessage" value="(Drill) OCSSS Connect Fail" />-->
    
    <!-- +=========================================================+ -->
    <!-- |                     HealthCheckFail                     | -->
    <!-- +=========================================================+ -->
    <add key="HealthCheckFail_EventSource" value="EHS2CMS_HealthCheckFail" />
    <add key="HealthCheckFail_PagerEventID" value="2000" />
    <add key="HealthCheckFail_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="HealthCheckFail_CheckInterval" value="5" />
    <!-- Target Interface_Code in InterfaceHealthCheck -->
    <add key="HealthCheckFail_InterfaceCode" value="EVACC" />
    <!-- Target Log_ID in InterfaceHealthCheck regarding as fail -->
    <add key="HealthCheckFail_FailLogID" value="00002" />
    <!-- If failure number reaches this number, raise error -->
    <add key="HealthCheckFail_FailCount" value="1" />
    <!-- Raise pager alert for this function code. Separate by comma. Use "ALL" for all function codes -->
    <add key="HealthCheckFail_PagerFunctionCode" value="HEALTH1" />
    <!-- Raise email alert for this function code. Separate by comma. Use "ALL" for all function codes -->
    <add key="HealthCheckFail_EmailFunctionCode" value="ALL" />

    
    <!-- +=========================================================+ -->
    <!-- |                         HCSPFail                        | -->
    <!-- +=========================================================+ -->
    <add key="HCSPFail_EventSource" value="EHS2CMS_HCSPFail" />
    <add key="HCSPFail_PagerEventID" value="2000" />
    <add key="HCSPFail_EmailEventID" value="2001" />
    
    <!-- Check interval (minutes) -->
    <add key="HCSPFail_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="HCSPFail_AuditLogMinuteBefore" value="5"/>
    <!-- If failure number reaches this number, raise error -->
    <add key="HCSPFail_FailCount" value="3"/>
    <!-- Monitor log id for specified enquiry system -->
    <add key="HCSPFail_EnquirySystem" value="CMS"/>


    <!-- +=========================================================+ -->
    <!-- |                       SlowResponse                      | -->
    <!-- +=========================================================+ -->
    <add key="SlowResponseLv1_EventSource" value="CMS2EHS_SlowResponse_Lv1" />
    <add key="SlowResponseLv1_PagerEventID" value="2000" />
    <add key="SlowResponseLv1_EmailEventID" value="2001" />
    <add key="SlowResponseLv2_EventSource" value="CMS2EHS_SlowResponse_Lv2" />
    <add key="SlowResponseLv2_PagerEventID" value="2000" />
    <add key="SlowResponseLv2_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="SlowResponse_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="SlowResponse_AuditLogMinuteBefore" value="5"/>
    <!-- Monitor function code: 060101 = Internal interface, getEHSVaccine.aspx -->
    <add key="SlowResponse_AuditLogFunctionCode" value="060101"/>
    <!-- Monitor Log ID: 00003 = Internal interface, getEHSVaccine.getEHSVaccineRecord end process log id with Action/End time-->
    <add key="SlowResponse_AuditLogLogID" value="00003"/>
    <!-- Monitor auditlog description with specified request system,  e.g. RequestSystem: CMS -->
    <add key="SlowResponse_AuditLogRequestSystem" value="CMS"/>
    <!-- if [1] record process time longer than 4 secords, write event log -->
    <add key="SlowResponse_FailCount" value="1"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 6 seconds -->
    <add key="SlowResponse_Level1Value" value="6"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 9 seconds -->
    <add key="SlowResponse_Level2Value" value="9"/>
    

    <!-- +=========================================================+ -->
    <!-- |                         RSAFail                         | -->
    <!-- +=========================================================+ -->
    <add key="RSAFail_EventSource" value="RSAFail" />
    <add key="RSAFail_PagerEventID" value="2000" />
    <add key="RSAFail_EmailEventID" value="2001" />
    
    <!-- Audit log check interval (minutes) -->
    <add key="RSAFail_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="RSAFail_AuditLogMinuteBefore" value="5"/>


    <!-- +=========================================================+ -->
    <!-- |                EHRSS_HealthCheckFail                    | -->
    <!-- +=========================================================+ -->
    <add key="EHRSS_HealthCheckFail_EventSource" value="EHS2EHRSS_HealthCheckFail" />
    <add key="EHRSS_HealthCheckFail_PagerEventID" value="2000" />
    <add key="EHRSS_HealthCheckFail_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="EHRSS_HealthCheckFail_CheckInterval" value="5" />
    <!-- Target Interface_Code in InterfaceHealthCheck -->
    <add key="EHRSS_HealthCheckFail_InterfaceCode" value="EHRTOKEN" />
    <!-- Target Log_ID in InterfaceHealthCheck regarding as success -->
    <add key="EHRSS_HealthCheckFail_SuccessLogID" value="00001" />    
    <!-- Target Log_ID in InterfaceHealthCheck regarding as fail -->
    <add key="EHRSS_HealthCheckFail_FailLogID" value="00002" />
    <!-- Raise pager alert for this function code. Separate by comma. Use "ALL" for all function codes -->
    <add key="EHRSS_HealthCheckFail_PagerFunctionCode" value="" />
    <!-- Raise email alert for this function code. Separate by comma. Use "ALL" for all function codes -->
    <add key="EHRSS_HealthCheckFail_EmailFunctionCode" value="ALL" />
    <!-- Raise pager alert when Single site fail (Y/N) -->
    <add key="EHRSS_HealthCheckFail_SingleFail_PagerAlert" value="N" />
    <!-- Raise email alert when Single site fail (Y/N) -->
    <add key="EHRSS_HealthCheckFail_SingleFail_EmailAlert" value="Y" />
    <!-- Raise pager alert when all sites health check fail (Y/N) -->
    <add key="EHRSS_HealthCheckFail_AllFail_PagerAlert" value="Y" />
    <!-- Raise email alert when all sites health check fail (Y/N) -->
    <add key="EHRSS_HealthCheckFail_AllFail_EmailAlert" value="Y" />    
    
    <!-- +=========================================================+ -->
    <!-- |                EHRSS_ConnectFail                        | -->
    <!-- +=========================================================+ -->
    <add key="EHRSS_ConnectFail_EventSource" value="EHS2EHRSS_ConnectFail" />
    <add key="EHRSS_ConnectFail_PagerEventID" value="2000" />
    <add key="EHRSS_ConnectFail_EmailEventID" value="2001" />
    
    <!-- Check interval (minutes) -->
    <add key="EHRSS_ConnectFail_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="EHRSS_ConnectFail_AuditLogMinuteBefore" value="5"/>
    <!-- Raise pager alert when primary site fail (Y/N) -->
    <add key="EHRSS_ConnectFail_PriFail_PagerAlert" value="N" />
    <!-- Raise email alert when primary site fail (Y/N) -->
    <add key="EHRSS_ConnectFail_PriFail_EmailAlert" value="Y" />   
    <!-- Raise pager alert when all sites health check fail (Y/N) -->
    <add key="EHRSS_ConnectFail_AllFail_PagerAlert" value="Y" />
    <!-- Raise email alert when all sites health check fail (Y/N) -->
    <add key="EHRSS_ConnectFail_AllFail_EmailAlert" value="Y" />       
  
    <!-- +=========================================================+ -->
    <!-- |                EHRSS_AutoResilience                 | -->
    <!-- +=========================================================+ -->
    <add key="EHRSS_AutoResilience_EventSource" value="EHS2EHRSS_AutoResilience" />
    <add key="EHRSS_AutoResilience_PagerEventID" value="2000" />
    <add key="EHRSS_AutoResilience_EmailEventID" value="2001" />
    
    <!-- Check interval (minutes) -->
    <add key="EHRSS_AutoResilience_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="EHRSS_AutoResilience_AuditLogMinuteBefore" value="5"/>
    <!-- Monitor function code: 070302 = Internal interface -->
    <add key="EHRSS_AutoResilience_AuditLogFunctionCode" value="070302"/>
    <!-- Monitor Log ID: 00104 = Internal interface,Primary site switched -->
    <add key="EHRSS_AutoResilience_AuditLogLogID" value="00104"/>    
    <!-- Raise pager alert (Y/N) -->
    <add key="EHRSS_AutoResilience_PagerAlert" value="N" />
    <!-- Raise email alert (Y/N) -->
    <add key="EHRSS_AutoResilience_EmailAlert" value="Y" />
    
    <!-- +=========================================================+ -->
    <!-- |                EHRSS_RerunJobFail                       | -->
    <!-- +=========================================================+ -->
    <add key="EHRSS_RerunJobFail_EventSource" value="EHS2EHRSS_RerunJobFail" />
    <add key="EHRSS_RerunJobFail_PagerEventID" value="2000" />
    <add key="EHRSS_RerunJobFail_EmailEventID" value="2001" />
    
    <!-- Check interval (minutes) -->
    <add key="EHRSS_RerunJobFail_CheckInterval" value="5"/>
    <!-- On every execution, check schedule job logs in the previous minutes -->
    <add key="EHRSS_RerunJobFail_ScheduleJobLogMinuteBefore" value="5"/>
    <!-- Target Program_ID in ScheduleJobLog -->
    <add key="EHRSS_RerunJobFail_ProgramID" value="TokenNotification" />
    <!-- Target Log_ID in ScheduleJobLog regarding as fail -->
    <add key="EHRSS_RerunJobFail_FailLogID" value="00007" />    
    <!-- Raise pager alert (Y/N) -->
    <add key="EHRSS_RerunJobFail_PagerAlert" value="N" />
    <!-- Raise email alert (Y/N) -->
    <add key="EHRSS_RerunJobFail_EmailAlert" value="Y" />
    
    <!-- +=========================================================+ -->
    <!-- |                EHRSS2EHS_OutSyncCase                    | -->
    <!-- +=========================================================+ -->
    <add key="EHRSS_OutSyncCase_EventSource" value="EHRSS2EHS_OutSyncCase" />
    <add key="EHRSS_OutSyncCase_PagerEventID" value="2000" />
    <add key="EHRSS_OutSyncCase_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="EHRSS_OutSyncCase_CheckInterval" value="5"/>
    <!-- On every execution, check schedule job logs in the previous minutes -->
    <add key="EHRSS_OutSyncCase_ScheduleJobLogMinuteBefore" value="15"/>
     <!-- Target Program_ID in ScheduleJobLog -->
    <add key="EHRSS_OutSyncCase_ProgramID" value="TokenNotification" />
    <!-- Target Log_ID in ScheduleJobLog regarding as fail -->
    <add key="EHRSS_OutSyncCase_FailLogID" value="00008" />    
    <!-- Raise pager alert (Y/N) -->
    <add key="EHRSS_OutSyncCase_PagerAlert" value="N" />
    <!-- Raise email alert (Y/N) -->
    <add key="EHRSS_OutSyncCase_EmailAlert" value="Y" />


    <!-- +=========================================================+ -->
    <!-- |                CIMS_HealthCheckFail                     | -->
    <!-- +=========================================================+ -->
    <add key="CIMS_HealthCheckFail_EventSource" value="EHS2CIMS_HealthCheckFail" />
    <add key="CIMS_HealthCheckFail_PagerEventID" value="2000" />
    <add key="CIMS_HealthCheckFail_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="CIMS_HealthCheckFail_CheckInterval" value="5" />
    <!-- Target Interface_Code in InterfaceHealthCheck -->
    <add key="CIMS_HealthCheckFail_InterfaceCode" value="EVACC_CIMS" />
    <!-- Target Log_ID in InterfaceHealthCheck regarding as fail -->
    <add key="CIMS_HealthCheckFail_FailLogID" value="00002" />
    <!-- If failure number reaches this number, raise error -->
    <add key="CIMS_HealthCheckFail_FailCount" value="1" />
    <!-- Raise pager alert for this function code. Separate by comma. Use "ALL" for all function codes -->
    <add key="CIMS_HealthCheckFail_PagerFunctionCode" value="HEALTH1" />
    <!-- Raise email alert for this function code. Separate by comma. Use "ALL" for all function codes -->
    <add key="CIMS_HealthCheckFail_EmailFunctionCode" value="ALL" />


    <!-- +=========================================================+ -->
    <!-- |                    CIMS_HCSPFail                        | -->
    <!-- +=========================================================+ -->
    <add key="CIMS_HCSPFail_EventSource" value="EHS2CIMS_HCSPFail" />
    <add key="CIMS_HCSPFail_PagerEventID" value="2000" />
    <add key="CIMS_HCSPFail_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="CIMS_HCSPFail_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="CIMS_HCSPFail_AuditLogMinuteBefore" value="5"/>
    <!-- If failure number reaches this number, raise error -->
    <add key="CIMS_HCSPFail_FailCount" value="3"/>
    <!-- Monitor log id for specified enquiry system -->
    <add key="CIMS_HCSPFail_EnquirySystem" value="CIMS"/>

    <!-- +=========================================================+ -->
    <!-- |                  CIMS_SlowResponse                      | -->
    <!-- +=========================================================+ -->
    <add key="CIMS_SlowResponseLv1_EventSource" value="CIMS2EHS_SlowResponse_Lv1" />
    <add key="CIMS_SlowResponseLv1_PagerEventID" value="2000" />
    <add key="CIMS_SlowResponseLv1_EmailEventID" value="2001" />
    <add key="CIMS_SlowResponseLv2_EventSource" value="CIMS2EHS_SlowResponse_Lv2" />
    <add key="CIMS_SlowResponseLv2_PagerEventID" value="2000" />
    <add key="CIMS_SlowResponseLv2_EmailEventID" value="2001" />
    <add key="CIMS_SlowResponseBatchLv1_EventSource" value="CIMS2EHS_SlowResponse_Batch_Lv1" />
    <add key="CIMS_SlowResponseBatchLv1_PagerEventID" value="2000" />
    <add key="CIMS_SlowResponseBatchLv1_EmailEventID" value="2001" />
    <add key="CIMS_SlowResponseBatchLv2_EventSource" value="CIMS2EHS_SlowResponse_Batch_Lv2" />
    <add key="CIMS_SlowResponseBatchLv2_PagerEventID" value="2000" />
    <add key="CIMS_SlowResponseBatchLv2_EmailEventID" value="2001" />    
    
    <!-- Check interval (minutes) -->
    <add key="CIMS_SlowResponse_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="CIMS_SlowResponse_AuditLogMinuteBefore" value="5"/>
    <!-- Monitor function code: 060101 = Internal interface, getEHSVaccine.aspx -->
    <add key="CIMS_SlowResponse_AuditLogFunctionCode" value="060101"/>
    <!-- Monitor Log ID: 00003 = Internal interface, getEHSVaccine.getEHSVaccineRecord end process log id with Action/End time-->
    <add key="CIMS_SlowResponse_AuditLogLogID" value="00003"/>
    <!-- Monitor auditlog description with specified request system,  e.g. RequestSystem: CIMS -->
    <add key="CIMS_SlowResponse_AuditLogRequestSystem" value="CIMS"/>
    <!-- if [1] record process time longer than 4 secords, write event log -->
    <add key="CIMS_SlowResponse_FailCount" value="1"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 6 seconds, Single Mode -->
    <add key="CIMS_SlowResponse_Level1Value" value="6"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 9 seconds, Single Mode -->
    <add key="CIMS_SlowResponse_Level2Value" value="9"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 15 seconds, Batch Mode -->
    <add key="CIMS_SlowResponse_BatchLevel1Value" value="15"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 20 seconds, Batch Mode -->
    <add key="CIMS_SlowResponse_BatchLevel2Value" value="20"/>
    <!-- Raise pager alert (Y/N) for level 1 alert -->
    <add key="CIMS_SlowResponse_Level1_PagerAlert" value="Y" />
    <!-- Raise email alert (Y/N) for level 1 alert -->
    <add key="CIMS_SlowResponse_Level1_EmailAlert" value="Y" />
    <!-- Raise pager alert (Y/N) for level 2 alert -->
    <add key="CIMS_SlowResponse_Level2_PagerAlert" value="Y" />
    <!-- Raise email alert (Y/N) for level 2 alert -->
    <add key="CIMS_SlowResponse_Level2_EmailAlert" value="Y" />
    

    <!-- +=========================================================+ -->
    <!-- |                  OCSSS_HealthCheckFail                  | -->
    <!-- +=========================================================+ -->
    <add key="OCSSS_HealthCheckFail_EventSource" value="EHS2OCSSS_HealthCheckFail" />
    <add key="OCSSS_HealthCheckFail_PagerEventID" value="2000" />
    <add key="OCSSS_HealthCheckFail_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="OCSSS_HealthCheckFail_CheckInterval" value="5" />
    <!-- Target Interface_Code in InterfaceHealthCheck -->
    <add key="OCSSS_HealthCheckFail_InterfaceCode" value="OCSSS" />
    <!-- Target Function_Code in InterfaceHealthCheck -->
    <add key="OCSSS_HealthCheckFail_FunctionCode" value="HEALTH1" />
    <!-- Target Log_ID in InterfaceHealthCheck regarding as fail -->
    <add key="OCSSS_HealthCheckFail_FailLogID" value="00002" />
    <!-- If failure number reaches this number, raise error -->
    <add key="OCSSS_HealthCheckFail_FailCount" value="1" />
    <!-- Raise pager alert when OCSSS Health Check fail (Y/N/S), [Y] = always raise, [S] = raise alert during schedule time -->
    <add key="OCSSS_HealthCheckFail_PagerAlert" value="S" />
    <!-- Raise pager alert between [07:00] to [22:00] (24H) only, [PagerAlert] must set to [S] -->
    <add key="OCSSS_HealthCheckFail_PagerAlert_FromTime" value="07:00" />
    <!-- Raise pager alert between [07:00] to [22:00] (24H) only, [PagerAlert] must set to [S] -->
    <add key="OCSSS_HealthCheckFail_PagerAlert_ToTime" value="22:00" />
    <!-- Raise email alert when OCSSS is slow response (Y/N) -->
    <add key="OCSSS_HealthCheckFail_EmailAlert" value="Y" />
    
    
    <!-- +=========================================================+ -->
    <!-- |                OCSSS_SlowResponse                       | -->
    <!-- +=========================================================+ -->
    <add key="OCSSS_SlowResponse_EventSource" value="EHS2OCSSS_SlowResponse" />
    <add key="OCSSS_SlowResponse_PagerEventID" value="2000" />
    <add key="OCSSS_SlowResponse_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="OCSSS_SlowResponse_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="OCSSS_SlowResponse_AuditLogMinuteBefore" value="5"/>
    <!-- Monitor function code: 060401 = Internal interface -->
    <add key="OCSSS_SlowResponse_AuditLogFunctionCode" value="060401"/>
    <!-- Monitor Log ID: 00002 = Internal interface, call OCSSS success end process log id with Action/End time-->
    <add key="OCSSS_SlowResponse_AuditLogLogID" value="00002"/>
    <!-- if [1] record process time longer than 4 secords, write event log -->
    <add key="OCSSS_SlowResponse_FailCount" value="1"/>
    <!-- EHS request process time "MORE THAN or EQUAL" 4 seconds -->
    <add key="OCSSS_SlowResponse_Value" value="4"/>
    <!-- Raise pager alert when OCSSS is slow response (Y/N/S), [Y] = always raise, [S] = raise alert during schedule time -->
    <add key="OCSSS_SlowResponse_PagerAlert" value="S" />
    <!-- Raise pager alert between [07:00] to [22:00] (24H) only, [PagerAlert] must set to [S] -->
    <add key="OCSSS_SlowResponse_PagerAlert_FromTime" value="07:00" />
    <!-- Raise pager alert between [07:00] to [22:00] (24H) only, [PagerAlert] must set to [S] -->
    <add key="OCSSS_SlowResponse_PagerAlert_ToTime" value="22:00" />
    <!-- Raise email alert when OCSSS is slow response (Y/N) -->
    <add key="OCSSS_SlowResponse_EmailAlert" value="Y" />


    <!-- +=========================================================+ -->
    <!-- |                OCSSS_ConnectFail                        | -->
    <!-- +=========================================================+ -->
    <add key="OCSSS_ConnectFail_EventSource" value="EHS2OCSSS_ConnectFail" />
    <add key="OCSSS_ConnectFail_PagerEventID" value="2000" />
    <add key="OCSSS_ConnectFail_EmailEventID" value="2001" />

    <!-- Check interval (minutes) -->
    <add key="OCSSS_ConnectFail_CheckInterval" value="5"/>
    <!-- On every execution, check audit logs in the previous minutes -->
    <add key="OCSSS_ConnectFail_AuditLogMinuteBefore" value="5"/>
    <!-- Monitor function code: 060401 = Internal interface -->
    <add key="OCSSS_ConnectFail_AuditLogFunctionCode" value="060401"/>
    <!-- Monitor Log ID: 00003 = Internal interface, call OCSSS fail-->
    <add key="OCSSS_ConnectFail_AuditLogLogID" value="00003"/>
    <!-- Raise pager alert when connect OCSSS fail (Y/N/S), [Y] = always raise, [S] = raise alert during schedule time -->
    <add key="OCSSS_ConnectFail_PagerAlert" value="S" />
    <!-- Raise pager alert between [07:00] to [22:00] (24H) only, [PagerAlert] must set to [S] -->
    <add key="OCSSS_ConnectFail_PagerAlert_FromTime" value="07:00" />
    <!-- Raise pager alert between [07:00] to [22:00] (24H) only, [PagerAlert] must set to [S] -->
    <add key="OCSSS_ConnectFail_PagerAlert_ToTime" value="22:00" />
    <!-- Raise email alert when connect OCSSS fail (Y/N) -->
    <add key="OCSSS_ConnectFail_EmailAlert" value="Y" />


    <!-- =========================================================================================================-->

    <!-- Connection String Pool start -->
    <add key="ConnectionStringHCSP_EHSDB_PRI" value="JtXIKlyit5ju4eBXzkIFkk7GiRU3skSVInDGvpr2vniaCZSln3NhKtuq4GFzhgoOK4xEERXR8pkp2ljtimQv0G6Cecn2Ai43NP5z6zFjrSA5eaT3IaYa/h3fOLhh9Lqo0uk+QG9asEMxa8NtwBD5OAPeBTAGmSN51xxbTQuWQIoqemBCE5ZLTqLa792xrBiAUlAYdGy02ZI0cjT8ARwfBysIt6x++y8ZNPfUlPM79Hw=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog" value="Eo3norgS0Wc8t1BA/whp5b6tdwpejOtyLw07xv8Sq0vGldqi/DPP5K/TcdSOS4tzzBFhOXvRUOBXY/05+rYbeH0SUCpOjgf1Xakz4Y4EteqJ07WkidRQe5oqoyda+GXeYYtDIyFsV//jH/fpeOAoNYJOW+qtNV7Cg9K0EbZb4Z+yNzTV8Of/5b4aHQcVgoQ3GCjd8+nKeHQBzU74hKtL1JFEbLosVTPhNmsrbUjqP1QYAuiaFjXSv6pYfZfBeUrf" />

    <add key="ConnectionStringHCVU_EHSDB_PRI" value="i6GZ3wAni8IpS0uc0ByVmvSn2kDf1FB2TlIXY8Vzr9Xnaa8OGyWgIbYsY8gx5bjVNwODzHL6/KF2gntQCS2igKSHJIFAe1CdNaIijZaSz/PwvH8UjtimNyaNJU6IpSD16Hb2MTTHFia3lQ9i19r9LJf93HzQatTTTYjOuIrcfuDkSQh9aM0wA9IGzAn5itgLxhzLHCC7mJTc8Jo0T3/lkvMSXuzYv7SzceGJPK9ODMk=" />
    <add key="ConnectionStringHCVU_EHSDB_REP" value="arU6H0G3n1AZNrfnUlkvTMe+sgjlL/SFPryB5Xr1Bsr8tt3+UgSWH1VMJiNfeFHhAf3dW+ykkK8/tI1110jx52GyToTP2UArHBvQ4ws2sMISvgp3wTPwW+Yp7rm7IUU4KrRF3tgY7UunCWDz2hranVeoa6i60nFKcxevwPRxli7S1RMWdWCy9Gc7UtpkxdabJcz1ASo4UVxNi+9Po9Ihov0EQTwg8IAySAWTzBmxFGGkkxvoWS1nVGmh9u8vUpFw" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog" value="pzmS4aA3D0CtFKc+NYCgEN69fCIrEl4ptzGa/i77KKvgCd7jWYTuO3J0QPvTWHrkfsMdO5oYgYy1CUfr5680gGNll1+W5s25rFevmgPAJXoGTSQY+yHqoeQP1rBdi+bg+BvHmRa7KcCY93kgGbFPo+1/b7ANt+KAR4ZnCVveXpkNI7tqfPxnbpdRaATiKvyQgGlEpNPZmdiI1n9DmerPQtjCNl9+GrUQ8TZa1WeM1v8Srgjmm1987Oea0+UMlpcI" />
    <add key="ConnectionStringHCVU_EHSDB_REP_InterfaceLog" value="0EZoPVEwQ1VFLtPJvmnV9gXRoAC3zXz0tVOh1Uv0sgtWpsmMVCEA+oScW5sGlcpPa8xkgVPDzQKdPviNt+W71BPUfPkOQzSltPavHZfiuSLyGrpr27lUhZFgSoeAntlICaYZ0N+mrieNZMptVmn5I4ThdqzHmsusdTcS6JUN1VKyrKt+s8voD3Npo4LIR1zrR/u3iXlndqrgh03Ws08NhZtKXSJH7IZMjEaF4bTC0zvDS5On0LLV/mJ66FfJndbq/eSf/8QxiSkf0OYWvCliLQ==" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry" value="IYYL9/+RpO7lgnb7XbLUFu9+rvG3COC3HlfjdmpKC9MDdRj+kGy+JxYt08AUIzvMB5hTb9roqP+JxAEcJxdDqL8RKCep7/RZJwHU0PQ/zMSOywOMeEAlVIG7fdQRcSFC78Pk3wNFLTBNM0IOzlZeUTcgAkFuXkG3KHOVpX7u2wwvEIk4ztwl79gaL0Ynny0d0jkv4NzHgHxvCIQwQMoGpJelP2Ck1/t03Rpsbwt0lX6C0gcml1MCJz5GuQTabsOM" />
    
    <add key="ConnectionStringPublic_EHSDB_PRI" value="i6GZ3wAni8IpS0uc0ByVmvSn2kDf1FB2TlIXY8Vzr9Xnaa8OGyWgIbYsY8gx5bjVNwODzHL6/KF2gntQCS2igKSHJIFAe1CdNaIijZaSz/PwvH8UjtimNyaNJU6IpSD1OqSafk42mIBA6l1YiWejMAh84a8xrDXa+WicYZvk1khU6KfM1seaEYwMpF8gLFD0PBcgzMXuNZlkUU7Dt1/X+b8bS5sdDaQiWDWBNvoToec=" />
    <add key="ConnectionStringPublic_EHSDB_REP" value="arU6H0G3n1AZNrfnUlkvTMe+sgjlL/SFPryB5Xr1Bsr8tt3+UgSWH1VMJiNfeFHhAf3dW+ykkK8/tI1110jx52GyToTP2UArHBvQ4ws2sMISvgp3wTPwW+Yp7rm7IUU4KrRF3tgY7UunCWDz2hranU71F/JlAcYUeq9uAED7D56EMe8k6Wi+atZzBiQMdhw5wRPm1vzjSggHzOVB4Soy3VTssgE457SJ6yMNfsoknu/httR/8HwVPuoV4bxo1aFb" />

    <add key="ConnectionStringSSOP_EHSDB_PRI" value="A9FotkvG6BOVGgWbKeNHF9BqWRfUw0MJNhlfz/Q+nfbmObhpYl3GEU7Es2reVaPSEn5s1BWPre2Jxvsf+OzaM1O1Yd2LTB1F5kT0BSaY+DAHp6A+R8CKBxbN+FsfgU/lsbRSqGBwZ5i/A6t9EMnNnny2puI9aEBXX5dJK1cC1jPrTX66PDLTPDm1hoT5Y0S0oH9D/LlpEHT21Yl9FPqboquGxNVg4d+V7sGW5yIUeu0=" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI" value="9jx4/cc0hPcOdDMATNPM5OBwN/8IYxwYMJO4AUQXx2GTGwIo34eK13UfUxiuiNbAH25XOLEdK6PDaSusSShS2dyV3I6XMT1T05oHa9nstnBXE+7ifjrbTbgDn3m/XZ07hqzwo4cPxENo8w2qXs/Vlp0qTkaFehlz883oZAJMCE4lc03VSkRIMMdABErBjZT+0Eu122PAZOsR/Jk0/Y5mTDa3OokvYuVJdgKrte+bUIc=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog" value="EVnMxrMtx7yqHXIBiM6xIRHY4VkfsrFI0awHSGDChOAJilbw952OmkHn0gh85CeU6qNwB93MEGVvP5m/HXt7fzigE/oC8iqSc36OSi1BgUA+OxVLtv/Kzy0MFUpUo7RKpJjU5L0XEMgpt2gtaD+02slY6kFxZDYlvCH+SuJbT3unKKd1p4YebI8ep5CylPQsFOOBbA5iUl9XtePSSIMCroHKUxDJ3boJy8mT7QlwPN/t0d7F7eryuIVPUsVVxz5e" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI" value="9jx4/cc0hPcOdDMATNPM5OBwN/8IYxwYMJO4AUQXx2GTGwIo34eK13UfUxiuiNbAH25XOLEdK6PDaSusSShS2dyV3I6XMT1T05oHa9nstnBXE+7ifjrbTbgDn3m/XZ07pKDT7IpsCl10TBIi9krBW2T8L+7WObDakA8S9QzsOiFGzyGDR0WkIyl/LyDOd05EKA3482zrP7rI5Myyl1o1RrYMJETpk1lEzk+L7oLwIDc=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog" value="EVnMxrMtx7yqHXIBiM6xIRHY4VkfsrFI0awHSGDChOAJilbw952OmkHn0gh85CeU6qNwB93MEGVvP5m/HXt7fzigE/oC8iqSc36OSi1BgUA+OxVLtv/Kzy0MFUpUo7RKpJjU5L0XEMgpt2gtaD+02k4nJ/PqsKeBm1TDCtMPWkzoxNSweG3lcEuKdnacQPoAolx0hBZ3eLPhzW/eF/G9gp7pb09Qn0j8nCtQL861gHFLzA4/OBv9qNJNW0FRzT5i" />
    <add key="ConnectionStringWsintuser_EHSDB_REP" value="mSGzZ7dABZpyy/++ItOlk+QLEe3Q4UIMEOLlCe9L7lU7Sb9D3AE1y32Wwij0PXeNcAHZGUdosIV/hhOYLUQYA4zIRr7e0umxbQX8ZXNbZa1JaXtKfTJXpUZG0fKdww5ZDa6ax0nt9Fj+p7UwZAGnRNcoqyz3y7ZR5Ao1gsbZYu6BJ06sbIipAv1oLZXsEoIcu+zFU7EOl42qoA61APCuv1T55UiJFjQhbhfD/t1pJX4tXjMgXopEdBGqA4iwJR0q" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog" value="smskTi7tDJsPQG3O7ythuy8zaPPGermSxMqBSW5B9OOiqnqfNIBmraIzFXMHl/FXX8Z6HnV8GjBtHwfruWqnk+Xfpd2gQQ7jmro8Tw27pA0os+smvYab273pZFVoeREutiCDUtTi8VS7Lxq0I2CSGJp1FzpTBxCTWfpGojWKReL/o0rcOB+YGS6fJ6FX5v71hmFEIDM10nTiZFvo6ib7n+76T/MSf25ZpK99gOwsaOsAhdhgNtRv0Op6cDO/15DPiRrPAIa0QhSVpBmR0OKBWQ==" />
    <!-- === Connection String Pool [end] === -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
