<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	<appSettings>
		<add key="DBFlag" value="ConnectionStringEVS"/>

		<add key="ConnectionStringEVS" value="KCj85a28qLG9EDfWhj5YxaLix1x/BWCmANGQ+BVElAZY/y97IF+Ll6zGy0cpbGq7pV9P0/12GBM8dUKWlipG+odmKryKfVtxv1nI0YIBm2jR/hfDWkrCnDmSfbcAd0FrCHQJZ0IgdWOeIpI+g40OatUujeSWdlYI3rX4P7l57at8MQ8w9qeQT2yxzbIbUTCfEXpn5u77YxSx0i2DEFHPtOXCun3svqdw38w22o5H0PI="/>

		<add key="ConnectionTimeout" value="90"/>
		<add key="CommandTimeout" value="90"/>
		<add key="RSABaseURL" value="https://dc4rsa02/cgic.rsa"/>
		<add key="RSABackupURL" value="https://dc3rsa01/cgic.rsa"/>

		<add key="ScheduleJobActiveServer" value="CE5-Karlam"/>
		<add key="CacheFile" value="C:\EVS\CachePath\HCVU_SmartID_DEV\"/>
	</appSettings>
</configuration>
