<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Mode" value="EHS"/>
    <!--<add key="Mode" value="PCD" />-->
    <!--<add key="DefaultSourceLocation" value="c:\project\ehs\"/>
		<add key="DefaultSourceCopyLocation" value="c:\temp\PromotionSource"/>
		<add key="DefaultBuiltLocation" value="c:\project\ehs\"/>
		<add key="DefaultBuiltCopyLocation" value="c:\temp\PromotionPackage"/>-->

    <add key="Suffix" value="|"/>
    <add key="EHSDllExtension" value="dll|xml"/>
    <add key="EHSExeExtension" value="exe|xml"/>
    <add key="EHSExcludeExtension" value="vbproj.user|sln|myapp|resx|settings|vspscc|licx|csproj.user|dll"/>

    <add key="LibraryProject" value="
			Common
			Common.PCD
			Common.eHRIntegration
      Common.OCSSS
      Common.iAMSmart
      Common.iAMSmart.Base
			CustomControls
			commonschedulejob
			RSAAuthAgent
			commonbin
			SSOLib
		"/>

    <add key="ConsoleProject" value="
			ThirdPartyScheduleJob
			ClearCache
			cmshealthcheck
			cmslogmonitor
			dailyzipgenerator
			drilllogwriter
			immdvalidation
			internetmail
			voucherstatpreparation
			configdispatcher
			deathrecordmatching
			excelgenerator
			textgenerator
			sentoutmessage
			subsidizewriteoffgenerator
			rsaverifymigrationdata
			tokennotification
			extractfiles
			tempvracct4levelalert
			pcdstatusupdater
      studentaccountmatching
      studentfilechecking
      patientportaldoctorlistgenerator
      haservicepatientimporter
      covid19dischargeimporter
      covid19dischargeimporter_Rep
      covid19exporter
      covid19mecexporter
      covid19batchconfirm
		"/>

    <add key="EHSProjectFileMapping" value="
			cmsvaccinationwebserviceemulator: Tester\CMSVaccinationWebServiceEmulator{suffix}\
			cimsvaccinationwebserviceemulator: Tester\CIMSVaccinationWebServiceEmulator{suffix}\
			drilllogwriter: DrillLogWriter{suffix}\
			ehsvaccinationtester: Tester\EHSVaccinationTesterWebLogic{suffix}\
			hcsp : HCSP\HCSP{suffix}\
			hcsp : HCSP_Mainland\HCSP_Mainland{suffix}\
			eform : HCVS_Public\eForm{suffix}\
      voucherbalanceenquiry : HCVS_Public\HCVR{suffix}\
      servicedirectory : HCVS_Public\SDIR{suffix}\
      public : HCVS_Public\Public{suffix}\
      gencaptchaspeechapi : HCVS_Public\Captcha{suffix}\
			verifierideas : HCVS_Public\VerifierIDEAS{suffix}\
			testwsforpcd : Tester\TestWSforPCD{suffix}\
			hcvu : HCVU\HCVU{suffix}\
      hcvu : CallCentre\HCVU_CallCentre{suffix}\
      hcvu : HCVS_Public\HCVU_VaccinationCentre{suffix}\
			ivrs : HCVU\IVRSWS{suffix}\
			utilizationstat : HCVU\ReGenForm{suffix}\
			interfacews : HCVU\WSInterfaceInt{suffix}\
			rsaauthmanager : HCVU\RSAAuthManager{suffix}\
			immdinterface : ImmDInterface{suffix}\
			clearcache : ScheduleJobs{suffix}\ClearCache\
			cmshealthcheck : ScheduleJobs{suffix}\CMSHealthCheck\			
			cmslogmonitor : ScheduleJobs{suffix}\CMSLogMonitor\
			configdispatcher : ScheduleJobs{suffix}\ConfigDispatcher\
			dailyzipgenerator : ScheduleJobs{suffix}\DailyZipReport\
			deathrecordmatching : ScheduleJobs{suffix}\DeathRecordMatching\
			excelgenerator : ScheduleJobs{suffix}\ExcelGenerator\
			excelgenerator : ScheduleJobs{suffix}\ExcelGenerator_Report\
			excelgenerator : ScheduleJobs{suffix}\ExcelGenerator_Reimbursement\
			excelgenerator : ScheduleJobs{suffix}\ExcelGenerator_Hourly\
			excelgenerator : ScheduleJobs{suffix}\GenerateVoucherStat\
			extractfiles : ScheduleJobs{suffix}\ExtractFiles\			
			immdvalidation : ScheduleJobs{suffix}\ImmDValidation\			
			internetmail : ScheduleJobs{suffix}\InternetMail\
			sentoutmessage : ScheduleJobs{suffix}\SentOutMessage\
			subsidizewriteoffgenerator : ScheduleJobs{suffix}\SubsidizeWriteOffGenerator\
			textgenerator : ScheduleJobs{suffix}\TextGenerator\			
			voucherstatpreparation : ScheduleJobs{suffix}\VoucherStatPreparation\
			thirdpartyschedulejob : ScheduleJobs{suffix}\ThirdPartyScheduleJob\	
			rsaverifymigrationdata : ScheduleJobs{suffix}\RSAVerifyMigrationData\
			tokennotification : ScheduleJobs{suffix}\TokenNotification\
			tempvracct4levelalert : ScheduleJobs{suffix}\TempVRAcct4LevelAlert\
			pcdstatusupdater : ScheduleJobs{suffix}\PCDStatusUpdater\
      studentaccountmatching : ScheduleJobs{suffix}\StudentAccountMatching\
      studentfilechecking : ScheduleJobs{suffix}\StudentFileChecking_GOTVACCINE_HA\
      studentfilechecking : ScheduleJobs{suffix}\StudentFileChecking_GOTVACCINE_DH\
      studentfilechecking : ScheduleJobs{suffix}\StudentFileChecking_CALENTITLE_PU\
      studentfilechecking : ScheduleJobs{suffix}\StudentFileChecking_CALENTITLE_FR\
      studentfilechecking : ScheduleJobs{suffix}\StudentFileChecking_CALENTITLE_PT\
      studentfilechecking : ScheduleJobs{suffix}\StudentFileChecking_UPDATESTATUS\
      covid19exporter : ScheduleJobs{suffix}\COVID19Exporter\
      covid19mecexporter : ScheduleJobs{suffix}\COVID19MECExporter\
      covid19batchconfirm : ScheduleJobs{suffix}\COVID19BatchConfirm\
			staticpage : StaticPage\
			ehrintegration : Service\eHRIntegration{suffix}\
			ehrintegrationtester : Tester\eHRIntegrationTester{suffix}\
      iamsmartservice : Service\iAMSmartService{suffix}\
			ocssstester : Tester\OCSSSTester{suffix}\
      patientportaldoctorlistgenerator : ScheduleJobs{suffix}\PatientPortalDoctorListGenerator\
      haservicepatientimporter : ScheduleJobs{suffix}\HAServicePatientImporter\
      covid19dischargeimporter : ScheduleJobs{suffix}\COVID19DischargeImporter\
      covid19dischargeimporter : ScheduleJobs{suffix}\COVID19DischargeImporter_Rep\
      iamsmarttester : HCSP\iAMSmartTester{suffix}\
		"/>

    
    <add key="EHSStaticFolderMapping" value="
			staticpage\common : HCSP\
			staticpage\common : HCSP_Mainland\
			staticpage\common\en : HCSP\EN\
			staticpage\common\en : HCSP_Mainland\EN\
			staticpage\common\zh : HCSP\ZH\
			staticpage\common\zh : HCSP_Mainland\ZH\
			staticpage\common\cn : HCSP\CN\
			staticpage\common\cn : HCSP_Mainland\CN\
			staticpage\common\documents : HCVS_Public\Public{suffix}\Files\
			staticpage\common_hk : HCSP\
			staticpage\common_mainland : HCSP_Mainland\
			staticpage\common_hcvu : HCVU\
			staticpage\common_hcvu : CallCentre\
			staticpage\eform : HCVS_Public\eForm{suffix}\
			staticpage\hcsp\downloadarea : HCSP\HCSP{suffix}\DownloadArea\
			staticpage\hcsp\downloadarea : HCSP_Mainland\HCSP_Mainland{suffix}\DownloadArea\
			staticpage\hcsp : HCSP\HCSP{suffix}\
			staticpage\hcsp : HCSP_Mainland\HCSP_Mainland{suffix}\
			staticpage\hcvu : HCVU\HCVU{suffix}\
			staticpage\hcvu : CallCentre\HCVU_CallCentre{suffix}\
			staticpage\hcvu : HCVS_Public\HCVU_VaccinationCentre{suffix}\
			staticpage\xml : XML{suffix}\
		"/>

    <add key="EHSProjectBinMapping" value="
			common : HCSP\HCSP{suffix}\bin\
			common : HCSP_Mainland\HCSP_Mainland{suffix}\bin\
			common : HCVS_Public\eForm{suffix}\bin\
      common : HCVS_Public\HCVR{suffix}\bin\
      common : HCVS_Public\SDIR{suffix}\bin\
      common : HCVS_Public\Public{suffix}\bin\
			common : Tester\TestWSforPCD{suffix}\bin\
			common : HCVU\HCVU{suffix}\bin\
			common : CallCentre\HCVU_CallCentre{suffix}\bin\
      common : HCVS_Public\HCVU_VaccinationCentre{suffix}\bin\
			common : HCVU\IVRSWS{suffix}\bin\
			common : HCVU\ReGenForm{suffix}\bin\
			common : HCVU\WSInterfaceInt{suffix}\bin\
			common : ScheduleJobs{suffix}\ClearCache\
			common : ScheduleJobs{suffix}\CMSHealthCheck\
			common : ScheduleJobs{suffix}\CMSLogMonitor\
			common : ScheduleJobs{suffix}\DailyZipReport\
			common : ScheduleJobs{suffix}\ExcelGenerator\
			common : ScheduleJobs{suffix}\ExcelGenerator_Hourly\
			common : ScheduleJobs{suffix}\ExcelGenerator_Reimbursement\
			common : ScheduleJobs{suffix}\ExcelGenerator_Report\
			common : ScheduleJobs{suffix}\ExtractFiles\
			common : ScheduleJobs{suffix}\GenerateVoucherStat\
			common : ScheduleJobs{suffix}\ImmDValidation\
			common : ScheduleJobs{suffix}\InternetMail\
			common : ScheduleJobs{suffix}\TempVRAcct4LevelAlert\
			common : ScheduleJobs{suffix}\TextGenerator\
			common : ScheduleJobs{suffix}\VoucherStatPreparation\
			common : ScheduleJobs{suffix}\ConfigDispatcher\
			common : ScheduleJobs{suffix}\DeathRecordMatching\		 
			common : ScheduleJobs{suffix}\ThirdPartyScheduleJob\ 
			common : ScheduleJobs{suffix}\SentOutMessage\ 
			common : ScheduleJobs{suffix}\SubsidizeWriteOffGenerator\
			common : ScheduleJobs{suffix}\TokenNotification\
			common : ScheduleJobs{suffix}\PCDStatusUpdater\
      common : ScheduleJobs{suffix}\StudentAccountMatching\
      common : ScheduleJobs{suffix}\StudentFileChecking_GOTVACCINE_HA\
      common : ScheduleJobs{suffix}\StudentFileChecking_GOTVACCINE_DH\
      common : ScheduleJobs{suffix}\StudentFileChecking_CALENTITLE_PU\
      common : ScheduleJobs{suffix}\StudentFileChecking_CALENTITLE_FR\
      common : ScheduleJobs{suffix}\StudentFileChecking_CALENTITLE_PT\
      common : ScheduleJobs{suffix}\StudentFileChecking_UPDATESTATUS\
      common : ScheduleJobs{suffix}\PatientPortalDoctorListGenerator\
      common : ScheduleJobs{suffix}\HAServicePatientImporter\
      common : ScheduleJobs{suffix}\COVID19DischargeImporter\
      common : ScheduleJobs{suffix}\COVID19DischargeImporter_Rep\
      common : ScheduleJobs{suffix}\COVID19Exporter\
      common : ScheduleJobs{suffix}\COVID19MECExporter\
      common : ScheduleJobs{suffix}\COVID19BatchConfirm\
			common : Tester\EHSVaccinationTesterWebLogic{suffix}\bin\
			common : Tester\CMSVaccinationWebServiceEmulator{suffix}\bin\
			common : Tester\CIMSVaccinationWebServiceEmulator{suffix}\bin\
			common : Tester\eHRIntegrationTester{suffix}\bin\
			common : Tester\OCSSSTester{suffix}\bin\
			common : Service\eHRIntegration{suffix}\bin\
      common : Service\iAMSmartService{suffix}\bin\
      common : HCSP\iAMSmartTester{suffix}\bin\
			common.pcd : HCSP\HCSP{suffix}\bin\
			common.pcd : HCSP_Mainland\HCSP_Mainland{suffix}\bin\
			common.pcd : HCVS_Public\eForm{suffix}\bin\
			common.pcd : HCVU\HCVU{suffix}\bin\
      common.pcd : CallCentre\HCVU_CallCentre{suffix}\bin\
      common.pcd : HCVS_Public\HCVU_VaccinationCentre{suffix}\bin\
			common.pcd : HCVU\WSInterfaceInt{suffix}\bin\
			common.pcd : ScheduleJobs{suffix}\ThirdPartyScheduleJob\
			common.pcd : ScheduleJobs{suffix}\PCDStatusUpdater\
			common.ehrintegration : HCSP\HCSP{suffix}\bin\
			common.ehrintegration : HCSP_Mainland\HCSP_Mainland{suffix}\bin\
			common.ehrintegration : HCVU\HCVU{suffix}\bin\
      common.ehrintegration : CallCentre\HCVU_CallCentre{suffix}\bin\
      common.ehrintegration : HCVS_Public\HCVU_VaccinationCentre{suffix}\bin\
			common.ehrintegration : HCVU\ReGenForm{suffix}\bin\
			common.ehrintegration : Tester\eHRIntegrationTester{suffix}\bin\
			common.ehrintegration : Service\eHRIntegration{suffix}\bin\
			common.ehrintegration : ScheduleJobs{suffix}\CMSHealthCheck\
			common.ehrintegration : ScheduleJobs{suffix}\TokenNotification\
      common.ehrintegration : ScheduleJobs{suffix}\PatientPortalDoctorListGenerator\
			common.ocsss : HCSP\HCSP{suffix}\bin\
			common.ocsss : HCSP_Mainland\HCSP_Mainland{suffix}\bin\
			common.ocsss : HCVU\HCVU{suffix}\bin\
      common.ocsss : CallCentre\HCVU_CallCentre{suffix}\bin\
      common.ocsss : HCVS_Public\HCVU_VaccinationCentre{suffix}\bin\
      common.ocsss : HCVU\IVRSWS{suffix}\bin\
      common.ocsss : HCVU\ReGenForm{suffix}\bin\
			common.ocsss : Tester\OCSSSTester{suffix}\bin\
     	common.ocsss : ScheduleJobs{suffix}\CMSHealthCheck\
			common.ocsss : ScheduleJobs{suffix}\CMSHealthCheck\
      common.iamsmart : HCSP\HCSP{suffix}\bin\
      common.iamsmart : HCSP_Mainland\HCSP_Mainland{suffix}\bin\
      common.iamsmart : HCSP\iAMSmartTester{suffix}\bin\
      common.iamsmart.base : HCSP\HCSP{suffix}\bin\
      common.iamsmart.base : HCSP_Mainland\HCSP_Mainland{suffix}\bin\
      common.iamsmart.base : Service\iAMSmartService{suffix}\bin\
      common.iamsmart.base : HCSP\iAMSmartTester{suffix}\bin\
			customcontrols : HCSP\HCSP{suffix}\bin\
			customcontrols : HCSP_Mainland\HCSP_Mainland{suffix}\bin\
			customcontrols : HCVS_Public\eForm{suffix}\bin\
      customcontrols : HCVS_Public\HCVR{suffix}\bin\
	    customcontrols : HCVS_Public\SDIR{suffix}\bin\
			customcontrols : HCVU\HCVU{suffix}\bin\
      customcontrols : CallCentre\HCVU_CallCentre{suffix}\bin\
      customcontrols : HCVS_Public\HCVU_VaccinationCentre{suffix}\bin\
			commonschedulejob : HCVU\ReGenForm{suffix}\bin\
			commonschedulejob : ScheduleJobs{suffix}\ClearCache\
			commonschedulejob : ScheduleJobs{suffix}\CMSHealthCheck\
			commonschedulejob : ScheduleJobs{suffix}\CMSLogMonitor\
			commonschedulejob : ScheduleJobs{suffix}\ImmDValidation\
			commonschedulejob : ScheduleJobs{suffix}\ConfigDispatcher\
			commonschedulejob : ScheduleJobs{suffix}\DeathRecordMatching\
			commonschedulejob : ScheduleJobs{suffix}\ExcelGenerator\
			commonschedulejob : ScheduleJobs{suffix}\ExcelGenerator_Hourly\
			commonschedulejob : ScheduleJobs{suffix}\ExcelGenerator_Reimbursement\
			commonschedulejob : ScheduleJobs{suffix}\ExcelGenerator_Report\
			commonschedulejob : ScheduleJobs{suffix}\GenerateVoucherStat\
			commonschedulejob : ScheduleJobs{suffix}\ThirdPartyScheduleJob\	 
			commonschedulejob : ScheduleJobs{suffix}\SentOutMessage\
			commonschedulejob : ScheduleJobs{suffix}\SubsidizeWriteOffGenerator\
			commonschedulejob : ScheduleJobs{suffix}\TokenNotification\
			commonschedulejob : ScheduleJobs{suffix}\PCDStatusUpdater\
      commonschedulejob : ScheduleJobs{suffix}\StudentAccountMatching\
      commonschedulejob : ScheduleJobs{suffix}\StudentFileChecking_GOTVACCINE_HA\
      commonschedulejob : ScheduleJobs{suffix}\StudentFileChecking_GOTVACCINE_DH\
      commonschedulejob : ScheduleJobs{suffix}\StudentFileChecking_CALENTITLE_PU\
      commonschedulejob : ScheduleJobs{suffix}\StudentFileChecking_CALENTITLE_FR\
      commonschedulejob : ScheduleJobs{suffix}\StudentFileChecking_CALENTITLE_PT\
      commonschedulejob : ScheduleJobs{suffix}\StudentFileChecking_UPDATESTATUS\
      commonschedulejob : ScheduleJobs{suffix}\PatientPortalDoctorListGenerator\
      commonschedulejob : ScheduleJobs{suffix}\HAServicePatientImporter\
      commonschedulejob : ScheduleJobs{suffix}\COVID19DischargeImporter\
      commonschedulejob : ScheduleJobs{suffix}\COVID19DischargeImporter_Rep\
      commonschedulejob : ScheduleJobs{suffix}\COVID19Exporter\
      commonschedulejob : ScheduleJobs{suffix}\COVID19MECExporter\
      commonschedulejob : ScheduleJobs{suffix}\COVID19BatchConfirm\
			clearcache : ScheduleJobs{suffix}\ClearCache\
			cmshealthcheck : ScheduleJobs{suffix}\CMSHealthCheck\
			cmslogmonitor : ScheduleJobs{suffix}\CMSLogMonitor\
			dailyzipgenerator : ScheduleJobs{suffix}\DailyZipReport\
			drilllogwriter: DrillLogWriter{suffix}\
			eform : HCVS_Public\eForm{suffix}\bin\	
      voucherbalanceenquiry : HCVS_Public\HCVR{suffix}\bin\
      servicedirectory : HCVS_Public\SDIR{suffix}\bin\
      webcontrolcaptcha : HCVS_Public\eForm{suffix}\bin\	
			hcsp : HCSP\HCSP{suffix}\bin\
			hcsp : HCSP_Mainland\HCSP_Mainland{suffix}\bin\
			hcsp : HCVU\IVRSWS{suffix}\bin\
			hcvu : HCVU\HCVU{suffix}\bin\
      hcvu : CallCentre\HCVU_CallCentre{suffix}\bin\
      hcvu : HCVS_Public\HCVU_VaccinationCentre{suffix}\bin\
			immdvalidation : ScheduleJobs{suffix}\ImmDValidation\
			interfacews : HCVU\WSInterfaceInt{suffix}\bin\
			internetmail : ScheduleJobs{suffix}\InternetMail\
      public : HCVS_Public\Public{suffix}\bin\
      gencaptchaspeechapi : HCVS_Public\Captcha{suffix}\bin\
			utilizationstat : HCVU\ReGenForm{suffix}\bin\
			testwsforpcd : Tester\TestWSforPCD{suffix}\bin\
			ssolib : HCVU\HCVU{suffix}\bin\
      ssolib : CallCentre\HCVU_CallCentre{suffix}\bin\
			ssolib : HCSP\HCSP{suffix}\bin\
			ssolib : HCSP_Mainland\HCSP_Mainland{suffix}\bin\
      ssodal : HCVU\HCVU{suffix}\bin\
      ssodal : CallCentre\HCVU_CallCentre{suffix}\bin\
      ssodal : HCVS_Public\HCVU_VaccinationCentre{suffix}\bin\
			ssodal : HCSP\HCSP{suffix}\bin\
			ssodal : HCSP_Mainland\HCSP_Mainland{suffix}\bin\
      ssodatatype : HCVU\HCVU{suffix}\bin\
      ssodatatype : CallCentre\HCVU_CallCentre{suffix}\bin\
      ssodatatype : HCVS_Public\HCVU_VaccinationCentre{suffix}\bin\
			ssodatatype : HCSP\HCSP{suffix}\bin\
			ssodatatype : HCSP_Mainland\HCSP_Mainland{suffix}\bin\
      ssoutil : HCVU\HCVU{suffix}\bin\
      ssoutil : CallCentre\HCVU_CallCentre{suffix}\bin\
      ssoutil : HCVS_Public\HCVU_VaccinationCentre{suffix}\bin\
			ssoutil : HCSP\HCSP{suffix}\bin\
			ssoutil : HCSP_Mainland\HCSP_Mainland{suffix}\bin\
			configdispatcher : ScheduleJobs{suffix}\ConfigDispatcher\
			deathrecordmatching : ScheduleJobs{suffix}\DeathRecordMatching\
			excelgenerator : ScheduleJobs{suffix}\ExcelGenerator\
			excelgenerator : ScheduleJobs{suffix}\ExcelGenerator_Hourly\		 
			excelgenerator : ScheduleJobs{suffix}\ExcelGenerator_Reimbursement\		 
			excelgenerator : ScheduleJobs{suffix}\ExcelGenerator_Report\
			excelgenerator : ScheduleJobs{suffix}\GenerateVoucherStat\
			textgenerator : ScheduleJobs{suffix}\TextGenerator\
			voucherstatpreparation : ScheduleJobs{suffix}\VoucherStatPreparation\		 
			thirdpartyschedulejob : ScheduleJobs{suffix}\ThirdPartyScheduleJob\	 
			sentoutmessage : ScheduleJobs{suffix}\SentOutMessage\
			subsidizewriteoffgenerator : ScheduleJobs{suffix}\SubsidizeWriteOffGenerator\
			rsaverifymigrationdata :  ScheduleJobs{suffix}\RSAVerifyMigrationData\
			tokennotification :  ScheduleJobs{suffix}\TokenNotification\
			tempvracct4levelalert : ScheduleJobs{suffix}\TempVRAcct4LevelAlert\
			pcdstatusupdater : ScheduleJobs{suffix}\PCDStatusUpdater\
      studentaccountmatching : ScheduleJobs{suffix}\StudentAccountMatching\
      studentfilechecking : ScheduleJobs{suffix}\StudentFileChecking_GOTVACCINE_HA\
      studentfilechecking : ScheduleJobs{suffix}\StudentFileChecking_GOTVACCINE_DH\
      studentfilechecking : ScheduleJobs{suffix}\StudentFileChecking_CALENTITLE_PU\
      studentfilechecking : ScheduleJobs{suffix}\StudentFileChecking_CALENTITLE_FR\
      studentfilechecking : ScheduleJobs{suffix}\StudentFileChecking_CALENTITLE_PT\
      studentfilechecking : ScheduleJobs{suffix}\StudentFileChecking_UPDATESTATUS\
      extractfiles : ScheduleJobs{suffix}\ExtractFiles\			
			staticpage : StaticPage\
			verifierideas : HCVS_Public\VerifierIDEAS{suffix}\bin\
			ppieprwebserviceemulator : HCVS_Public\PPIEPRWebServiceEmulator{suffix}\bin\
			rsaauthmanager : HCVU\RSAAuthManager{suffix}\bin\
			rsaauthagent : HCSP\HCSP{suffix}\bin\
			rsaauthagent : HCSP_Mainland\HCSP_Mainland{suffix}\bin\
			rsaauthagent : HCVU\IVRSWS{suffix}\bin\
			rsaauthagent : HCVU\HCVU{suffix}\bin\
      rsaauthagent : CallCentre\HCVU_CallCentre{suffix}\bin\
      rsaauthagent : HCVS_Public\HCVU_VaccinationCentre{suffix}\bin\
			rsaauthagent : HCVU\RSAAuthManager{suffix}\bin\
 			ehsvaccinationtester: Tester\EHSVaccinationTesterWebLogic{suffix}\bin\
			cmsvaccinationwebserviceemulator: Tester\CMSVaccinationWebServiceEmulator{suffix}\bin\
			cimsvaccinationwebserviceemulator: Tester\CIMSVaccinationWebServiceEmulator{suffix}\bin\
			ehrintegration: Service\eHRIntegration{suffix}\bin\
			ehrintegrationtester: Tester\eHRIntegrationTester{suffix}\bin\
      iamsmartservice : Service\iAMSmartService{suffix}\bin\
      ocssstester: Tester\OCSSSTester{suffix}\bin\
      patientportaldoctorlistgenerator : ScheduleJobs{suffix}\PatientPortalDoctorListGenerator\
      haservicepatientimporter : ScheduleJobs{suffix}\HAServicePatientImporter\
      covid19dischargeimporter : ScheduleJobs{suffix}\COVID19DischargeImporter\
      covid19dischargeimporter : ScheduleJobs{suffix}\COVID19DischargeImporter_Rep\
      covid19exporter : ScheduleJobs{suffix}\COVID19Exporter\
      covid19mecexporter : ScheduleJobs{suffix}\COVID19MECExporter\
      covid19batchconfirm : ScheduleJobs{suffix}\COVID19BatchConfirm\
      iamsmarttester : HCSP\iAMSmartTester{suffix}\bin\
      "/>
    
    <!--excelgenerator : ScheduleJobs{suffix}\ExcelGenerator_Reimbursement\-->

    <add key="UnexpectedChar" value=""/>
    <!-- Glossary -->
    <!-- DllExtension: What extensions are counted as the dll -->
    <!-- ExcludeExtension: Exclude the files with the extensions while calculating the expected built files -->
    <!-- ProjectFileMapping: The files (except the bin files stated in DllExtension) under this project will be copied to the specified directories -->
    <!-- ProjectBinMapping: The bin files (stated in DllExtension) under this project will be copied to the specified directories -->

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
