<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- === Platform setting [start] === -->
    <add key="ScheduleJobActiveServer" value="CE5-KOALACHENG"/>
    <add key="Platform" value="01"/>
    <add key="CacheFile" value="C:\EVS\CachePath\HCVU_DEV\" />
    <add key="TemplatePath" value="C:\Project\EHS2015\ExcelGenerator\Template"/>
    <add key="BackupPath" value="C:\Project\EHS2015\ExcelGenerator\Backup\"/>

    <!-- =================================================================================================== -->
    <!-- ====== Below is the setting of  "FileID" and "BackupPathFileID" under different schedule job ====== -->
    <!-- ======                    (Please use the correct setting for your testing)                  ====== -->
    <!-- =================================================================================================== -->

    <!-- ExcelGenerator_Hourly -->
    <!-- ======================================  -->
    <!--File ID list will be process in this instance-->
    <!--<add key="FileID" value ="eHSD0014,PPC0001,eHSVF001,eHSVF002,eHSVF003,eHSVF004,eHSVF005,eHSVF006"/>-->

    <!-- ExcelGenerator_Reimbursement -->
    <!-- ======================================  -->
    <!--File ID list will be process in this instance-->
    <!--<add key="FileID" value ="SUPER,SUPERRMB"/>-->

    <!-- ExcelGenerator_Report-->
    <!-- ======================================  -->
    <!--File ID for File need to be back up-->
    <!--<add key="BackupPathFileID" value="VaccineClaim,VaccineClaim_RVP,VoucherClaim,eHSD0015,eHSD0016,eHSW0001,eHSW0002"/>
    -->
    <!--File ID list will be process in this instance-->
    <!--<add key="FileID" value="eHSD0015,eHSD0016,eHSD0029,eHSD0030,eHSW0001,eHSW0002,eHSW0003,eHSM0003,eHSM0004,eHSM0005,eHSM0006,eHSM0007,eHSM0008,eHSM0009,eHSM0010,eHSU0001,eHSU0002,eHSU0003,eHSU0004,eHSU0005,eHSU0006,eHSU0007,eHSU0008,eHSU0009,RR01,PPC0002,PPC0003"/>
    -->
    <!--File Type supported by [ExcelGenerator]-->
    <add key="FileType" value="XLS,XLSX"/>

    <!-- ExcelGenerator -->
    <!-- ======================================  -->
    <!--File ID list will be process in this instance-->
    <!--<add key="FileID" value ="BNC,PreAuthorizationCheck,PreAuthorizationCheckRMB"/>-->

    <!-- GenerateVoucherStat -->
    <!-- ======================================  -->
    <!--File ID for File need to be back up-->
    <!--<add key="BackupPathFileID" value ="eHSD0001,eHSD0004,eHSD0028,eHSD0031,eHSD0032,eHSD0033"/>-->
    <!--File ID list will be process in this instance-->
    <!--<add key="FileID" value ="eHSD0001,eHSD0004,eHSD0028,eHSD0031,eHSD0032,eHSD0033"/>-->

    <!-- All for development -->
    <!-- ======================================  -->
    <!--File ID for File need to be back up-->
    <add key="BackupPathFileID" value ="eHSD0001,eHSD0004,eHSD0028,eHSD0031,eHSD0032,eHSD0033"/>
    <!--File ID list will be process in this instance-->
    <add key="FileID" value ="eHSVF001,eHSVF002,eHSVF003,eHSVF004,eHSVF005,eHSVF006"/>
    <!--<add key="FileID" value ="BNC,PreAuthorizationCheck,PreAuthorizationCheckRMB,SUPER,SUPERRMB,eHSD0001,eHSD0004,eHSD0015,eHSD0016,eHSD0028,eHSD0029,eHSD0031,eHSD0032,eHSD0033,eHSW0001,eHSW0002,eHSW0003,eHSM0003,eHSM0004,eHSM0005,eHSU0001,eHSU0002,eHSU0003,eHSU0004,eHSU0005,eHSU0006,eHSU0007,eHSU0008,eHSU0009,RR01,PPC0001,PPC0002,PPC0003,eHSM0006,eHSD0014,eHSVF001,eHSVF002,eHSVF003,eHSVF004,eHSVF005,eHSM0009,eHSM0010"/>-->

    <!--<add key="DBFlag" value="ConnectionStringC"/>
    <add key="DBFlagP" value="ConnectionStringC"/>
    <add key="DBFlag2" value="ConnectionStringC"/>
    <add key="DBFlagRead" value="ConnectionStringC"/>
    <add key="DBFlagS" value="ConnectionStringC"/>
    <add key="DBFlagR" value="ConnectionStringC"/>-->

    <add key="DBFlag" value="ConnectionStringHCVU_EHSDB_PRI_VM"/>
    <add key="DBFlagP" value="ConnectionStringHCVU_EHSDB_PRI_VM"/>
    <add key="DBFlag2" value="ConnectionStringHCVU_EHSDB_PRI_VM"/>
    <add key="DBFlagRead" value="ConnectionStringHCVU_EHSDB_PRI_VM"/>
    <add key="DBFlagS" value="ConnectionStringHCVU_EHSDB_PRI_VM"/>
    <add key="DBFlagR" value="ConnectionStringHCVU_EHSDB_PRI_VM"/>
    <!-- === Platform setting [end] === -->

    <!-- =========================================================================================================-->


    <!-- [EH5-EHSS-VMUL] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <!-- Connection String Pool start -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_VM" value="A9FotkvG6BOVGgWbKeNHF0/wNbvG/bJBBZp0Kod+tsueg+NKRxQsDRCSfLV7SzVbrruJGzVA1xv3whTlC8BVXBXVKwvmYLC4Nh5NHEaXPOCxh0zixELYQX8MPq4SUwxPNmQW2+4Cr1QvzmrircYemP4kPd1BTDTzSXzuLTVGvcKnWNxqd2tsKWsKBWoQIfXCescj6lpu00LLEIz0Ty5W9YZjEQKE5SPZ63XwiQwNrp8=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_VM" value="4zYRvEK0BOGp8Rg1dujdG47B3rQBXnYFLI+qhSgHoT0nUfwXaL7uwBbGZTuYyTIlLMJmY9cOXtsify9/NOik3Jr/hurehLpi+lOi9Axyv5MLHTdPCsVYvXzbx5c0kHSgy769Q9zePwPWEnXwbxM/oeDYMZkCGHHu4ZcxA7d109l2uZWS3PtXVsT0CqSsAtbKLe1jZJBASf8YLgeV51tII2notJqA2ldcM+I866KmSyA=" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_VM" value="XtV1fXKPuZYYKoWTKa6ob86qxBRHAcDvcNShNHVfzdll0/wAvqU1CidWiQHVPahtgRxa6v/rc96f+Qt+v4ZPXAhZSwsAFjGWoTnjC+vy4l1vu7beqnuhWaGgwhorJkqYhwat+jF2Y19fgJhQaj/QBi90J8L2/MRcF3hgrnmgkYhdtI0ivSx5DgLqendhjzIS8uFJgn5CUbUhY1yUqSfSkwwBYfdIKm7FJVH3y07bPck=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_VM" value="XtV1fXKPuZYYKoWTKa6ob86qxBRHAcDvcNShNHVfzdll0/wAvqU1CidWiQHVPahtgRxa6v/rc96f+Qt+v4ZPXAhZSwsAFjGWoTnjC+vy4l1vu7beqnuhWaGgwhorJkqYhwat+jF2Y19fgJhQaj/QBi90J8L2/MRcF3hgrnmgkYhdtI0ivSx5DgLqendhjzIS8uFJgn5CUbUhY1yUqSfSkwwBYfdIKm7FJVH3y07bPck=" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_VM" value="AUOvAuKA8JDAHdgxxBe730I8Q+LkUgpwmsIo/VetE4mN1ik4/DcOGVVAgL80418JK6sI47QFZsepMhXnGEbKGeTWQ3Wdc/bXJ8g8u7i07ZuaCG7kktr1ScXcsYPtBgW7wj945Vkm7i5TzbU8McjoMM0AyEh+2X9ayd6/Rb4swckobKaz79zlYtsQ3DVxdkB83za8h4tOZ3I6nB/vmj0BDtnGaWcUdaP06Edpz7D4a+rVP956+V/bHqFD7LWsBZbu" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_VM" value="9jx4/cc0hPcOdDMATNPM5AjhsX4tmfGqRq5zR4QnVtyb1G0UE7mQx2HP8NTSDZBlOc93OQlxGEZ3OiRzDEk72PyFOQg7jdH67rNPCxzuIMOtasA26v/g7qTZUnNJ2oSX3Cc+xD6N+3+VftxlNtlJGIAokeZrjJWUFCI4AfYYchps1VE4beC8zlcvyJz3SrFQUKHOLHniUSQV14RWDYVHyYhvZZwxKwu856Ytfnegp+c=" />

    <add key="ConnectionStringPublic_EHSDB_PRI_VM" value="XtV1fXKPuZYYKoWTKa6ob86qxBRHAcDvcNShNHVfzdll0/wAvqU1CidWiQHVPahtgRxa6v/rc96f+Qt+v4ZPXAhZSwsAFjGWoTnjC+vy4l1vu7beqnuhWaGgwhorJkqYKlz6yBu2ITAiUEkizr5xeqFOigvFVCIvmS+3mCutY+em+o5UFI9W+mtUU+/TqzZUb3xJZsgo6ONQ3QIjmR3x2LUmFHvykKjINynw9q2Ub8Y=" />
    <add key="ConnectionStringPublic_EHSDB_REP_VM" value="XtV1fXKPuZYYKoWTKa6ob86qxBRHAcDvcNShNHVfzdll0/wAvqU1CidWiQHVPahtgRxa6v/rc96f+Qt+v4ZPXAhZSwsAFjGWoTnjC+vy4l1vu7beqnuhWaGgwhorJkqYKlz6yBu2ITAiUEkizr5xeqFOigvFVCIvmS+3mCutY+em+o5UFI9W+mtUU+/TqzZUb3xJZsgo6ONQ3QIjmR3x2LUmFHvykKjINynw9q2Ub8Y=" />

    <add key="ConnectionStringSSOP_EHSDB_PRI_VM" value="MNmka0Ny4IOjjGkM1RoEif0qVR7SiKPXH2D1SvFg1QOSZtP+8dJ10+FsMsB+61luycr3HU6n74a+e3hY4/laNZm7Er3jzCMtzGeR2/0qG15b5Rsupo2HTNggeVDKgv3WRnYuHiCzB/1AY50eKtGqw6rDLvYfhiqtNjAXX/i9zaqnOPHOqwZvwYcF6UnDmzii5ALjMhLtVn5o9JHK8LEgPQ==" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_VM" value="i6GZ3wAni8IpS0uc0ByVmpPvP2CLZcht9BT4rHKco5JsvJ66to8ogB2sIEYIyrmrSLx90w0ysieEfkNpmlSJG/fUB6EngVmZWsa4d8Z9BfJ664/l/9bdUM0pe8AY0z9jSjEqJGhdm3whFoNU6NZzttMA9JgGyFQRJ+t2s/SYiPKIO7IZLhour7PZRedz3ggP3FGu+PiImPzq/zUw/OWeaR6VBWVX2Y93ztwTViUcW3Y=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_VM" value="pzmS4aA3D0CtFKc+NYCgEBquIpnwfrm+ujlLhmZlqre4kRnLLkLkEGB4VYlkXlpq5B19IUBYJz8/qb+cWpHvEBoQbyrUFCVmlx3x3m8F5t6QbYRHNfUByNa2i/j9wH85Dt6yq3KwtDmASZc0MyBi3T6Hnbz8elevliFAIoYjdf0ynmoTNCyOt/9mAH0zVGWdeoVUdIQY/hTHmGPey7oerK42otlBME8memlJMsokOVFQGwADI7LTRedOKYm4KE+R" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_VM" value="i6GZ3wAni8IpS0uc0ByVmpPvP2CLZcht9BT4rHKco5JsvJ66to8ogB2sIEYIyrmrSLx90w0ysieEfkNpmlSJG/fUB6EngVmZWsa4d8Z9BfJ664/l/9bdUM0pe8AY0z9j9EeDV0wXRuVdwRwcOCAJoX4rAvic7TaCI/tzSK+Mr3AHK7wRqtcXmKg4EGc0GggWv1LxSVHfpLOpOIsa9PeU7xMFzJ1uRqtWu2OQ6723JTk=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_VM" value="pzmS4aA3D0CtFKc+NYCgEBquIpnwfrm+ujlLhmZlqre4kRnLLkLkEGB4VYlkXlpq5B19IUBYJz8/qb+cWpHvEBoQbyrUFCVmlx3x3m8F5t6QbYRHNfUByNa2i/j9wH85Dt6yq3KwtDmASZc0MyBi3VC0aTlB2lPBWvE53kJQzNYiA2vidMREUadNPPy/nBEXSLCNxD4YHFBGwiD9mQnR1Kk8rmooeJ8c9ePQHkKqbI/Cp6sY9MJ/ptdYFxJGmHMR" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_VM" value="i6GZ3wAni8IpS0uc0ByVmpPvP2CLZcht9BT4rHKco5JsvJ66to8ogB2sIEYIyrmrSLx90w0ysieEfkNpmlSJG/fUB6EngVmZWsa4d8Z9BfJ664/l/9bdUM0pe8AY0z9j9EeDV0wXRuVdwRwcOCAJoX4rAvic7TaCI/tzSK+Mr3AHK7wRqtcXmKg4EGc0GggWv1LxSVHfpLOpOIsa9PeU7xMFzJ1uRqtWu2OQ6723JTk=" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_VM" value="pzmS4aA3D0CtFKc+NYCgEBquIpnwfrm+ujlLhmZlqre4kRnLLkLkEGB4VYlkXlpq5B19IUBYJz8/qb+cWpHvEBoQbyrUFCVmlx3x3m8F5t6QbYRHNfUByNa2i/j9wH85Dt6yq3KwtDmASZc0MyBi3VC0aTlB2lPBWvE53kJQzNYiA2vidMREUadNPPy/nBEXSLCNxD4YHFBGwiD9mQnR1Kk8rmooeJ8c9ePQHkKqbI/Cp6sY9MJ/ptdYFxJGmHMR" />
    <!-- === Connection String Pool [end] === -->

    <!-- [UC] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <!-- Connection String Pool start -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_UC" value="xW7FnQwm1C3X8tKqN1+8x4ceCC/dQVAHtlg3Cv5o/L5psqmMnq+94LSLY4osQFM/1Knon47mvntQ8X8biD233uEgG0ZlJ5z6vPYRaXivJLTy5DvVf9/hZ2iqdvFEyYE8bwBAqbnqM1td9IIhCmFBYPuW9BTkKnMywpTKSWpdNySV1FS6Z3FvtZrz7hk+G0n3ckW42ysJV4GpqpWPhoGWJkw58ozSYoz/oaeSI2h6O6I=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_UC" value="nwm/EzRJS72VKA6BtIxkjQCecVbKUd5t4Z4EM7fK15XFoXhFumXQka4ajVX42Uw8skr/rq6D5Uak8CBGyEIQIDNnP0sVlfEg4dJQcjSHmvFq+t1Z9BoWYNs2eKniY2Enzz1nM3OCtkxTOQ13YOYAhjyCvhAvsVyTKGwHzUNA3f6PgFTXl0/F7EMzY06uwsFzqOZsy3NvdfUsQ5DsUeeECU6sIUzRyyvQEwDG3kwzebworv4GDv40yAWopj8O3JM7" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_UC" value="opE17ayVjNwf4U4FqLKbSqckrkC0lDLcfd+MHZYdnN/LhnX+bBrWp1/zHs3+Vaj4zJ8mcpC27khUKJxGnspIzDxowW+o8l12HnrJ3YFdtCl9X8j6kPva4sWRGcfFIUia5qdcvPZUujTJkvAee8LRgil3UcC5lL8pgCBbTt5rhv6abdxuKu0rGTndbzP171UropNT1QYAhnHI9TotYgmuon6IQtRY+kAq1CKsY2pi8k8=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_UC" value="opE17ayVjNwf4U4FqLKbSqckrkC0lDLcfd+MHZYdnN/LhnX+bBrWp1/zHs3+Vaj4zJ8mcpC27khUKJxGnspIzDxowW+o8l12HnrJ3YFdtCl9X8j6kPva4sWRGcfFIUia5qdcvPZUujTJkvAee8LRgil3UcC5lL8pgCBbTt5rhv6abdxuKu0rGTndbzP171UropNT1QYAhnHI9TotYgmuon6IQtRY+kAq1CKsY2pi8k8=" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_UC" value="mSGzZ7dABZpyy/++ItOlk+QLEe3Q4UIMEOLlCe9L7lU7Sb9D3AE1y32Wwij0PXeNZNjP5V20ynR62hCF2rFd/eYRHYezuzBlMxpkR72yV9EalcyJ9mKh/haSUaLWzNonuWz4kRCfE8tV/N2MQ8ZqvVDp9CkFdF+BEDSC6BYRxH7VFPav/O6rEbI7Ipnv13T7VxCmiqdlVGkhIgk2LraY85ihUHf0BDElGR8QL2gtGma9QQp9SsTj1e7XpE+3fwYM" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_UC" value="IYYL9/+RpO7lgnb7XbLUFu9+rvG3COC3HlfjdmpKC9MDdRj+kGy+JxYt08AUIzvMB5hTb9roqP+JxAEcJxdDqL8RKCep7/RZJwHU0PQ/zMSOywOMeEAlVIG7fdQRcSFC78Pk3wNFLTBNM0IOzlZeUTcgAkFuXkG3KHOVpX7u2wwvEIk4ztwl79gaL0Ynny0d0jkv4NzHgHxvCIQwQMoGpJelP2Ck1/t03Rpsbwt0lX6C0gcml1MCJz5GuQTabsOM" />

    <add key="ConnectionStringPublic_EHSDB_PRI_UC" value="opE17ayVjNwf4U4FqLKbSqckrkC0lDLcfd+MHZYdnN/LhnX+bBrWp1/zHs3+Vaj4zJ8mcpC27khUKJxGnspIzDxowW+o8l12HnrJ3YFdtCl9X8j6kPva4sWRGcfFIUiajSoboEZJ6uFDeril+3Fs1lF7mQ2SavPDRdqauyfkAIy1i0FkBP62L21ROgEzDQm/jd8lwF2xGD9fru4oQUwITbWkk/J/Cs4wbuTw2yZNrWc=" />
    <add key="ConnectionStringPublic_EHSDB_REP_UC" value="opE17ayVjNwf4U4FqLKbSqckrkC0lDLcfd+MHZYdnN/LhnX+bBrWp1/zHs3+Vaj4zJ8mcpC27khUKJxGnspIzDxowW+o8l12HnrJ3YFdtCl9X8j6kPva4sWRGcfFIUiajSoboEZJ6uFDeril+3Fs1lF7mQ2SavPDRdqauyfkAIy1i0FkBP62L21ROgEzDQm/jd8lwF2xGD9fru4oQUwITbWkk/J/Cs4wbuTw2yZNrWc=" />

    <add key="ConnectionStringSSOP_EHSDB_PRI" value="xLc9oB2DQY6okHmhRd89L/wxqxeVgAiJX871xTOksofJto9B3hQivaJwZv0BotoIhdZ+QojHjsMuIYm1j/4xxJ0z2dvwKAZHhE0HNFoM2eG7uJhtb9VJ+/PVXuBYkZO6uSnVjVhFNCurIhOePdaDj/+WjWkONfI9StxAkhk37ICh+T/chpd1pa2efDLdVPa0OqLzbNQCmzpo+DVpcxEwGQ==" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_UC" value="4zYRvEK0BOGp8Rg1dujdG5IX+c7nIWy9hYOIvnOLy+ZnMZkYFi3hzNfmZ7k9ScnWFnuAdIAp48LNFFmBd3HxyOi7/2nAw2KK1SVum5x7T9ArS6BhkudbdKrD+fpt+lHF6oYOJKuTe79DhJHI1588SsqqSmJZ5qRmd8vEFNLLyu47DTn0COe9l08ahP3xUhCadZP0/469EfVTDMbfkp+S0ucw4BGW1e5ruYKImhIcKqc=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_UC" value="EVnMxrMtx7yqHXIBiM6xIRHY4VkfsrFI0awHSGDChOAJilbw952OmkHn0gh85CeU6qNwB93MEGVvP5m/HXt7fzigE/oC8iqSc36OSi1BgUA+OxVLtv/Kzy0MFUpUo7RKpJjU5L0XEMgpt2gtaD+02slY6kFxZDYlvCH+SuJbT3unKKd1p4YebI8ep5CylPQsFOOBbA5iUl9XtePSSIMCroHKUxDJ3boJy8mT7QlwPN/t0d7F7eryuIVPUsVVxz5e" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_UC" value="4zYRvEK0BOGp8Rg1dujdG5IX+c7nIWy9hYOIvnOLy+ZnMZkYFi3hzNfmZ7k9ScnWFnuAdIAp48LNFFmBd3HxyOi7/2nAw2KK1SVum5x7T9ArS6BhkudbdKrD+fpt+lHF6oYOJKuTe79DhJHI1588Sj0Cjy9MXsgqWqDZv5x4Ei9mUzl0l1PY7Lo25mOZ/y15mNeMLxSRxBdLIfs4NqEkGttkz8/FO7SYvkdGjPhP05c=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_UC" value="EVnMxrMtx7yqHXIBiM6xIRHY4VkfsrFI0awHSGDChOAJilbw952OmkHn0gh85CeU6qNwB93MEGVvP5m/HXt7fzigE/oC8iqSc36OSi1BgUA+OxVLtv/Kzy0MFUpUo7RKpJjU5L0XEMgpt2gtaD+02k4nJ/PqsKeBm1TDCtMPWkzoxNSweG3lcEuKdnacQPoAolx0hBZ3eLPhzW/eF/G9gp7pb09Qn0j8nCtQL861gHFLzA4/OBv9qNJNW0FRzT5i" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_UC" value="4zYRvEK0BOGp8Rg1dujdG5IX+c7nIWy9hYOIvnOLy+ZnMZkYFi3hzNfmZ7k9ScnWFnuAdIAp48LNFFmBd3HxyOi7/2nAw2KK1SVum5x7T9ArS6BhkudbdKrD+fpt+lHF6oYOJKuTe79DhJHI1588Sj0Cjy9MXsgqWqDZv5x4Ei9mUzl0l1PY7Lo25mOZ/y15mNeMLxSRxBdLIfs4NqEkGttkz8/FO7SYvkdGjPhP05c=" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_UC" value="EVnMxrMtx7yqHXIBiM6xIRHY4VkfsrFI0awHSGDChOAJilbw952OmkHn0gh85CeU6qNwB93MEGVvP5m/HXt7fzigE/oC8iqSc36OSi1BgUA+OxVLtv/Kzy0MFUpUo7RKpJjU5L0XEMgpt2gtaD+02k4nJ/PqsKeBm1TDCtMPWkzoxNSweG3lcEuKdnacQPoAolx0hBZ3eLPhzW/eF/G9gp7pb09Qn0j8nCtQL861gHFLzA4/OBv9qNJNW0FRzT5i" />
    <!-- === Connection String Pool [end] === -->

  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
