<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Mode" value="EHS" />

		<add key="LastSourceLocation" value=""/>
		<add key="LastSourceCopyLocation" value=""/>
		<add key="LastBuiltLocation" value=""/>
		<add key="LastBuiltCopyLocation" value=""/>
    <add key="LastFSL" value=""/>
    <add key="LastFSPL" value=""/>
		
	</appSettings>
</configuration>
