<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--DB Connection for Primary Database-->
		<add key="DBFlag" value="ConnectionStringP"/>

		<!--DB Connection String-->
		<add key="ConnectionStringP" value="KCj85a28qLG9EDfWhj5YxaLix1x/BWCmANGQ+BVElAZY/y97IF+Ll6zGy0cpbGq7pV9P0/12GBNGmoStIEMCSoA4v8rTnoN/3eisRD+mmOdBa/WLi/Eis0m+QoIg3FVOinagW9Pqi5F7ksktzRhx2C5zv6D9ojebiUamKEK5zcxYrvyP6lYtOSocardWt8cWfRh2UcyO73DWaVhIbSWRSriUQW/+KtJ4eTjNcLZwgOA="/>

		<add key="Platform" value="01"/>
		<add key="TokenSettingFilePath" value="./TokenSettingFilePath.txt"/>
	</appSettings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
