<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- DBFlag: Point to dbEVS for reading SystemParameters -->
		<add key="DBFlag" value="ConnectionString_hocmissv02_dbEVS_hcvuappuser"/>
		<!-- DBFlag2: Point to dbEVS_InterfaceLog for writing AuditLogInterfacexx -->
		<add key="DBFlag2" value="ConnectionString_hocmissv02_dbEVS_InterfaceLog_wsintuser"/>
		<!-- DBFlag3: Point to dbEVS_InterfaceLog_Replication for reading AuditLogInterfacexx -->
		<add key="DBFlag3" value="ConnectionString_hocmissv02_dbEVS_InterfaceLog_wsintuser"/>

		<add key="ConnectionString_hocmissv02_dbEVS_hcvuappuser" value="ZyHRduWuqa1HKSPnt6cGS3Ul3FwDkqbKphq2/MyeQJ/ijay4GvUUxlVt3kJpc2iLHLMX7e5t3lO0bmpTnR8/kEnIfG5mVzEyMaE9pu0wUlx3qwe1A8oCj17N7KsZOE7d4NkYP6utx80uG4QfULyec17paTDvXcVCPoGTiufVebmF5RraaN4AWM1zIksULcOmTQdezOaY/R8DmQRdnhYZQQ==" />
		<add key="ConnectionString_DC4EVSSQL01X_dbEVS_Test_hcvuappuser" value="alGWtVcoapFakhFn+REcz/h04IF3lN3IAvVc3CnNJRBMVnLwuv3JToIbgXq7e8s8H23dO4ncvkAGuELf82+qHPAijhVQkr7Tal2hdORu5sXnQA8bMEIjBH2b5NuLdZNVHO03gvGabzdF9crZTZoshbDkty9KPc1cLtULnnq7JK+VYef4VmNu4BikuMs/G84wiw44ylytCOr+cVnv6DF2hWOTI7jkmjY758+ZuXssxhvdxZbPcYvRO8zbTDbXd/gA" />
		<add key="ConnectionString_DC4EVSSQL01X_dbEVS_Demo_hcvuappuser" value="alGWtVcoapFakhFn+REcz/h04IF3lN3IAvVc3CnNJRBMVnLwuv3JToIbgXq7e8s8H23dO4ncvkAGuELf82+qHPAijhVQkr7TikQD4PJmEW5HMflk9A6VazoDZL72bHuc2S/oiP7hcSzko/y76iVtG90VoRY5cwycIQBWvRTzhrrfZ2ox0CMsDApUyNPZnxLesdVOsRBvVK+amkJwMWJ+om5wyIkn7xsDsCi63ZD3tczZOuzWdzEvnSG8Vn7biFB9" />
		<add key="ConnectionString_DC4EVSSQL01X_dbEVS_UAT_hcvuappuser" value="DX05jNHrLzKZttsKAE46QMxZF6XUmnrhFwJINHT+Wp0TBnJCTXlyDoayYx0c2YZ/zfGP3wgojz0BigpJWO/Ato1PHIZQyqRm0AseWeHekD3BJsUUxbIuNv8fdqd6wjBVZOel775mJveVfoxqHuM52xFHeWOYI2axQYplDikoLUCwBbF8H12YUmyyHzfKjzgg753ot4GPZIrqpUtgDGdlA5bSWiQ6oukU2ieFZ6Xfx+oKHmgiKKasvq3rVyOtyxT0" />
		<add key="ConnectionString_DC4EVSSQL01X_dbEVS_hcvuappuser" value="I17e3s86OpyjWHzzU6eCwkwOflXyegg4aDHRoF+LlhQssmR4giBYDZoUO6cQbItPwhKb8wpdzAt1tz2xMbGXAmEA/JWtLdkH4xReRnUbingJVMW51Pisai6OZOvU39cLUX0a7HUOYQYLS0EehuSAq9FqxNriGclW0BeROs9EcfZInbcqKtKWpxC9J7HcvMQOIdr6QD5dBVhfmYmyTe7/VaPGgqVnj0Zaw20x08QhgI/4u6f4aQ6B8Q==" />
		<add key="ConnectionString_DC4HCVSDB01_dbEVS_hcvuappuser" value="" />
		<add key="ConnectionString_DC3HCVSDB01_dbEVS_hcvuappuser" value="" />

		<add key="ConnectionString_hocmissv02_dbEVS_InterfaceLog_wsintuser" value="ni70nN4fBXO96UZRHQPbYNp9+QKHoGy4n9RuLl4Fe3SQBUozH6TFd+RCFV3+0zFnQuShbxtAO9c/Fw4ouhKxICblm+5reJNCQ3zAZ1nmlcZfHy8x3UtTs8W2h7o++oBcyxYeXxjir03wl7z7olG7cN2FSD4loS8l6CcTL3yaeL76raGerCMEZ4QXj39iBi+n3tz9TwquIhP/2hdbfLnsK4DPo+ta9MEL" />
		<add key="ConnectionString_DC4EVSSQL01X_dbEVS_InterfaceLog_Test_wsintuser" value="gqlpgu7BxswTFZwa6fIAoCg9nPTgtyxqODXv1vMcL+gA6SCteREVrz7hnM8eIlUuw8qw+xmt7XEQqd1MxYEAlUBrxx+PLvWSM2raSmUOdDYW2kukH62q1mt27ZfY+1u1Wp881gP+2rfNthqILNTTJd4aVB9b0LOpD9pOZwV1utTRqVmEnPGoUCUHKi1NFHeh5GN5xxzJVubn7hUPzQGSY9cLXQg+ETY25yekaMzJ4gpTGxuZcmBAtQv67sQ+lbSrPMVnT0sPz3Y=" />
		<add key="ConnectionString_DC4EVSSQL01X_dbEVS_InterfaceLog_Demo_wsintuser" value="gqlpgu7BxswTFZwa6fIAoCg9nPTgtyxqODXv1vMcL+gA6SCteREVrz7hnM8eIlUuw8qw+xmt7XEQqd1MxYEAlUBrxx+PLvWSM2raSmUOdDa8Cxl79otAni6BhOO+lwyKl+pxRlLPPPGmGpA2DYe5gcXBzWsHuL+cAtUScYMJGlYqDU7ZQO6UnyAV+HmB0n8uuQSNAIuMxGYH2K3LCv2X3MYhsqaqFuZQ2lNsAAgAfuqN0jjaiGfUAv4JUtg6IMoVu+TU9JCmqIg=" />
		<add key="ConnectionString_DC4EVSSQL01X_dbEVS_InterfaceLog_UAT_wsintuser" value="zcZo+p0oWVqC2XfjZCXnM8juQ1hKbda4VRpdreogBmnFRZZlbzSQq4nsUZwInxQjxSuZnE02fVTnNvk+fxIc/XnRYkYhETa41b63ZAYBKsnBKqjk/DcJhuT+GpKU2XpONEJdzX8TvUE5e6qb9Mf2E6bl/EQF+drCfh5xRvd/3YgOdEkF3I/7/hIXEbNonvzEZGFRzMelInh8WQJ4LEBwzWU5iGTvuAxJVb+30TLB2UNGQ30kjV7fKcvno/op2vcwDXl2NiKz1zg=" />
		<add key="ConnectionString_DC4EVSSQL01X_dbEVS_InterfaceLog_wsintuser" value="2RsbQBPZnml5r4rDiS05BteIFf7qoFpH5fThzRJFKQLPPOazmIOlx4mhb4F6lq9e7Rw5/F9+xXqDMSXM5PyvvANP3tRgeG0sU/YOG/YBXmRFAGHW8chii3SHjh2+RlRMv1vY/CERutP29WBs+psMbQpQuWFRSBHB0CnMSoXTR/02uxsYKKjGWShJ6jRp3qt20Fr0mIUpes+x/f5c5EZyv7TwBO1FWNQu8OugzMHF4C5IIwbP2iO9juIViRyYoAWPSKcwhC8mgVs=" />
		<add key="ConnectionString_DC4HCVSDB01_dbEVS_InterfaceLog_wsintuser" value="" />
		<add key="ConnectionString_DC3HCVSDB01_dbEVS_InterfaceLog_wsintuser" value="" />
		<add key="ConnectionString_DC3HCVSDB01_dbEVS_InterfaceLog_Replication_wsintuser" value="" />
		
		<add key="ScheduleJobActiveServer" value="LAWRENCE-TSANG" />
		<add key="Platform" value="06" />
		<add key="GetTokenReplaceEntryDayBefore" value="3" />

		<add key="RaiseAlertPPIToEHSError" value="Y" />
		<add key="RaiseAlertEHSToPPIError" value="Y" />
		<add key="EventLogSource" value="Token Replacement" />
		<add key="EventLogID_Email" value="2001" />
		<add key="EHSToPPIErrorMessage" value="{0} token replacement requests (EHS->PPI) failed in current execution" />
		<add key="PPIToEHSErrorMessage" value="{0} token replacement requests (PPI->EHS) failed" />
	</appSettings>
</configuration>
