<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExternalInterfaceWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DBFlag" value="ConnectionString_PH-CROSSER08_dbEVS_Dev_wsextser"/>
    <add key="DBFlag2" value="ConnectionString_PH-CROSSER08_dbEVS_InterfaceLog_Dev_wsextser"/>
    <add key="ConnectionString_PH-CROSSER08_dbEVS_Dev_wsextser" value="TS2pfTvnoUK59mrfsngddnfWxGgFstM7HobiVfQkCLkLxuE4r8DTnTNl9q43UwvdjU9o+YvYT4P6UOxIhPRNzsHIFfCczEJcZci+J+EQN5zG4tfgJYiJwLZqkPN63PVuBekgXbHAbG15I5FcA7PVr1KogJXnCzYgmArX/75oDFgh27bw8h14vOlP3XYJ5dcI32Rs2P1ryxEH7ihcLNc3bZanCzV5s9xs62Qmthfi/xs="/>
    <add key="ConnectionString_PH-CROSSER08_dbEVS_InterfaceLog_Dev_wsextser" value="gOEG6CVGrEgU/nm+vXc1FnGYHI185gaWIQkjq3E6I+q4MOOlBAxeOVzyLLv9JO+wf+c07EwQHRKHvBtRBgSy/qha+QhNEmeuO9s/gqZDt+ul2+4gTl6oEQ5vQmwDNrzR79JJlA3lDkQrTE0qCykG4mKC0PUmGuEB0aAEGeqG6LoncJuO7V6qfASbswGutCJFvOZkoAZ0l34RN9LqpUAwms9aaCrphODghEfDawEveKZJ4+HYoMJEyvukOMToK5kz"/>
    <!--
    <add key="ConnectionStringP" value="LqapcGWDufs/1oYwtiLZS1v9nuKVDvnj8Km6kqvRpFloLD7APQY6P/RJrx4+IzRF1mu6Uiv6QB/WgJDLdagRzD5nLPmYNOw59SVcn9KgkUbp9fZ6LOh8ASUaF1QtGRwz7vy3RQZzN06Xzq0/AvRszJGafVGnjyRPoK/kVMwjuDA79oa/2qeNlgyZZDxehoVtiVfEQteZXnc="/>
    <add key="ConnectionString_dbEVS" value="ZyHRduWuqa1HKSPnt6cGS3Ul3FwDkqbKphq2/MyeQJ/ijay4GvUUxlVt3kJpc2iLHLMX7e5t3lO0bmpTnR8/kEnIfG5mVzEyMaE9pu0wUlx3qwe1A8oCj17N7KsZOE7d4NkYP6utx80uG4QfULyec17paTDvXcVCPoGTiufVebmF5RraaN4AWM1zIksULcOmTQdezOaY/R8DmQRdnhYZQQ=="/>
    <add key="ConnectionString_dbEVS_WSEXT" value="d+JE0eH2aMcAqsTUhHFh5d9p90ExWxFNNvFTK/wISQnuH7hm6KDd0lcyAj07DYKubUy6nTFQbO5KVVXXpNzDny6HqTcHpB2hWNgAqSsqJx5ehuiDbUmT/QvxZaeWL5p4oIrHjqwA+2t+dPL/W+kPJUPJJ8VGS9OHklQbkgmyDNPgP7kUfszBR1YoejLX4y7OV7LNRw9UFN55rC4eTrCExIfgsVmUjL6z"/>
    <add key="ConnectionString_dbEVS_Dev_WSEXT" value="ZyHRduWuqa1HKSPnt6cGS3Ul3FwDkqbKphq2/MyeQJ/ijay4GvUUxlVt3kJpc2iLJqlMlUWLjUSRmJdwk0s21zloNBKRzbq9NPdco0LZjts/ueIzMC5e+qIWfZRxvDYWSodvfRtiujZO3Gf8sq4OeDFCUc9G8E9uFExexlZAfqJBFIy+7QJY4gf6yNEWLUmv2xJnh2FgrR8twU+gPV2YVg=="/>
    <add key="ConnectionString_dbEVS_HKMA_Dev" value="TyDT/1h+qieeJA01T8vCNU0AIvxDdxmi/aSHkOS4XS22mQdw8i3s9B1efqwzKazn4BmgJMRmsRQ80BUOJPI9U9CZBDBKgp+1zrA2lRLAg6jtRfCRA4oG6Cfy5GK+X9tI0WLOTfDsxuSxyZpqax5v5slIERgxK1VFhOdaxxxD2KPd9xisga1lRtK0iAiEbvK5a3ebsX7b6kauw/aO3l+2dkv/JkMa7Cln"/>
    <add key="ConnectionString_dbEVS_InterfaceLog_HKMA_Dev" value="f+CTD8f+8kESzjyKW7nmKE3eRAtwua35tCmM1XBEMsfHkl3t0efL0nsm5TQT69kOU8u7sZRwzrADVuD9CWzOlg4UpAGsUU4HmRPs8df6ML7h1FLVUWfqBri8u6we3Va8kTrxgdmcQF8CUJiLILA+NtQYKkg09x0kQniVbH8M85M9Fhz17PExt8VwV33/q5jTvHOvn7zpq41od7oLZcuF0AntoxG6YJGKg1I258M3peyJzM6nim40kw=="/>
    <add key="ConnectionString_dbEVS_InterfaceLog" value="5zmWF1amBem8BwrFO5X/tCs0syPNdDnLIfnao9LzQiwIswiJWSOXkHu99e8pqf2Lv+9+Y7/sh5kEbp/yYRqqzzJ+D2PX9PaWNU08yNbLC4AZ1ONAewTgl8w1z6GqtTdqqx9J2wo2SJoV0sgx7SOPZcAPJ+zhcbaprzcAcoPxPoYfwhmwKCbMcjdbwAqGpAukc8WrZRZVKwsyPwk3lffJ9hK+xOoEaPULTCFZUMZ5Q1O49umGYQL8vg=="/>

    <add key="ConnectionString_dbEVS_eVaccination_Consolidate" value="KCj85a28qLG9EDfWhj5YxXhrisnrJ5HOQiqRqI7zGpKAwGxeH7xXvwuzqw7AgSEAGoJ7nS1ySv4uSL7NWkN8jH8injfuQEHjTg3os9/OV5oC1vcpxJi5N+M3/8jWHU1nHkKPWs9jvD5vwEXpw6B2icMHZFYgbHTjj5DTFsyNnlqXzK0Q3SMsCIBjXYF7rR7UoeW9LZRtmZpk8RZxDPY/JricfduDEwkbkDxWLCTXKmk=" />
    <add key="ConnectionString_dbEVS_eVaccination_1011" value="uQqqa8U/sgh04/utcdHW8RfaGgKebRwX9V98x6Sf1TeYITAaznUqQLMZ6faCZppNQ5zMqZV5tLzOH7gDIgDkd0g5c/d61TgVFM8ytk7gXEvGALpb3HM2ZwlFm6w/gSg0486F7HoIFMwDQbZEVUoLf5xgawwXd8cFD/eRc0mIXgTw3fU4SIRJyfJXhOl1dGMGSSWjk7CKl1tN8o9l8P/RaaoHVm1gFspY" />
    <add key="ConnectionString_dbEVS_InterfaceLog_DEV" value="TS2pfTvnoUK59mrfsngddtn/iiAe0uxlTyvAkGDr77aqn53D9feXjFJnmIBH9gv/QI7DxtgKy/DCDQPCy9nqkLEU0TTUIXo/ipGs2AJfeLL5PzoetVCLacN9EPojrzbG08BAHMjTUbA55UltZgvNCDUZM6diasUiLjBJQoHEap2XIPWtUATnawhSeIzPRoebKaPWilbdjluykNLuQaZx/iN84O+qks7HcFK+wc1yKjE="/>
    <add key="ConnectionString_dbEVS_SA" value="LqapcGWDufs/1oYwtiLZSyZtgwoU7VD0depa0Lm0LnCVVqQi9LvAS7qR1YIKCT7DSqMGpwuzOUYuHao9xt2g8taAJ4+o7Kq8JIg49EBZruroayoW7KrlJcEZijorN8KxmXVDv81CRZURPwZpdgGOtMOLxxnePOc/AfmoIwNOoAzhRoFIuPdftHyxjk4SHBVlbEIe0BawxZk="/>
    -->
    <add key="GetReasonForVisitListOutput_XmlSchema_FilePath" value="C:\work\EVS_EVaccine_Consolidate\ExternalInterfaceWS\Xsd\GetReasonForVisitListOutput_XmlSchema.xsd"/>
    <add key="RCHNameQueryOutput_XmlSchema_FilePath" value="C:\work\EVS_EVaccine_Consolidate\ExternalInterfaceWS\Xsd\RCHNameQueryOutput_XmlSchema.xsd"/>
    <add key="ErrorMessageXML" value="C:\project\EHS\ExternalInterfaceWS\Xml\ErrorMessage_ExternalInterfaceWS.xml"/>
    <add key="Platform" value="07"/>
    <add key="CacheFile" value="C:\EVS\CachePath\HCVU_DEV\"/>
    <add key="XSDPath" value="C:\EVS\XML\"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <applicationSettings>
    <ExternalInterfaceWS.Properties.Settings>
      <setting name="EnableSecuredWS" serializeAs="String">
        <value>N</value>
      </setting>
      <!--
      <setting name="AuthorizedParties" serializeAs="String">
        <value>HKMA IH</value>
      </setting>      
      <setting name="Certificate_Thumbprint_To_Verify_Digital_Signature_By_HKMA IH" serializeAs="String">
        <value>f9 c6 29 b5 0b ad 56 a2 7b 86 ee 6a dd 48 fe 55 fe d1 d8 ff</value>
        <value>ed a1 23 37 4b 57 a6 38 01 57 44 df 01 ad 75 2c 9c 2b f1 a6</value>
      </setting>
      <setting name="Certificate_Thumbprint_For_Encryption_To_HKMA IH" serializeAs="String">
        <value>ed a1 23 37 4b 57 a6 38 01 57 44 df 01 ad 75 2c 9c 2b f1 a6</value>
      </setting>
      <setting name="Certificate_Thumbprint_For_Decryption" serializeAs="String">
        <value>5c 2d 10 84 d3 4a 67 91 da 40 5c 30 35 ae a5 95 c3 65 df ba</value>
        <value>ed a1 23 37 4b 57 a6 38 01 57 44 df 01 ad 75 2c 9c 2b f1 a6</value>
      </setting>
      <setting name="Certificate_Thumbprint_To_Perform_Digital_Signature" serializeAs="String">
        <value>ed a1 23 37 4b 57 a6 38 01 57 44 df 01 ad 75 2c 9c 2b f1 a6</value>
      </setting>
      -->
      <setting name="Certificate_Thumbprint_For_Decryption" serializeAs="String">
        <value>ed a1 23 37 4b 57 a6 38 01 57 44 df 01 ad 75 2c 9c 2b f1 a6</value>
      </setting>
      <setting name="Certificate_Thumbprint_To_Perform_Digital_Signature" serializeAs="String">
        <value>ed a1 23 37 4b 57 a6 38 01 57 44 df 01 ad 75 2c 9c 2b f1 a6</value>
      </setting>
    </ExternalInterfaceWS.Properties.Settings>
  </applicationSettings>
</configuration>