<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <!-- === Platform setting [start] === -->
    <add key="ScheduleJobActiveServer" value="CE5-KOALACHENG" />
    <add key="Platform" value="01" />
    <add key="CacheFile" value="C:\EVS\CachePath\HCVU_DEV\" />
    <!-- Duration in min -->
    <add key="Duration" value="240" />
    <add key="ConnectionTimeout" value="90" />
    <add key="CommandTimeout" value="90" />
    <add key="DBFlag" value="ConnectionStringHCVU_EHSDB_PRI_VM" />
    <add key="DBFlag_dbEVS_InterfaceLog" value="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_VM" />

    <!-- =================================================================================================== -->
    <!-- ======       Below is the setting of  "Student FIle" under different schedule job            ====== -->
    <!-- ======                    (Please use the correct setting for your testing)                  ====== -->
    <!-- =================================================================================================== -->
    
    <!-- StudentFileChecking_GOTVACCINE_DH -->
    <!-- ====================================== -->
    <!-- Enable to enquiry vaccination record from HA & DH --><!--
    <add key="StudentFile_VaccinationEnquiry" value="Y"/>
    --><!-- Only get vaccination record from vaccination provider. e.g. HA or DH or HA,DH --><!--
    <add key="StudentFile_VaccinationEnquiryProvider" value="DH"/>
    --><!-- Enable to check dose entitlement and create claim for 3 status. e.g. PU,FR,PT --><!--
    <add key="StudentFile_CheckEntitleAndCreateClaim" value="N"/>-->
    <!-- Enable to update student file status and insert report file generation queue --><!--
    <add key="StudentFile_UpdateStautsAndInsertReportQueue" value="N"/>-->
    
    <!-- StudentFileChecking_GOTVACCINE_HA -->
    <!-- ====================================== -->
    <!-- Enable to enquiry vaccination record from HA & DH --><!--
    <add key="StudentFile_VaccinationEnquiry" value="Y"/>
    --><!-- Only get vaccination record from vaccination provider. e.g. HA or DH or HA,DH --><!--
    <add key="StudentFile_VaccinationEnquiryProvider" value="HA"/>
    --><!-- Enable to check dose entitlement and create claim for 3 status. e.g. PU,FR,PT --><!--
    <add key="StudentFile_CheckEntitleAndCreateClaim" value="N"/>-->
    <!-- Enable to update student file status and insert report file generation queue --><!--
    <add key="StudentFile_UpdateStautsAndInsertReportQueue" value="N"/>-->


    <!-- StudentFileChecking_CALENTITLE_PU -->
    <!-- ======================================  -->
    <!-- Enable to enquiry vaccination record from HA & DH --><!--
    <add key="StudentFile_VaccinationEnquiry" value="N"/>
    --><!-- Only get vaccination record from vaccination provider. e.g. HA or DH or HA,DH --><!--
    <add key="StudentFile_VaccinationEnquiryProvider" value=""/>
    --><!-- Enable to check dose entitlement and create claim for 3 status. e.g. PU,PR,FR,PT --><!--
    <add key="StudentFile_CheckEntitleAndCreateClaim" value="PU,PR"/>-->
    <!-- Enable to update student file status and insert report file generation queue --><!--
    <add key="StudentFile_UpdateStautsAndInsertReportQueue" value="N"/>-->

    <!-- StudentFileChecking_CALENTITLE_FR -->
    <!-- ======================================  -->
    <!-- Enable to enquiry vaccination record from HA & DH --><!--
    <add key="StudentFile_VaccinationEnquiry" value="N"/>
    --><!-- Only get vaccination record from vaccination provider. e.g. HA or DH or HA,DH --><!--
    <add key="StudentFile_VaccinationEnquiryProvider" value=""/>
    --><!-- Enable to check dose entitlement and create claim for 3 status. e.g. PU,PR,FR,PT --><!--
    <add key="StudentFile_CheckEntitleAndCreateClaim" value="FR"/>-->
    <!-- Enable to update student file status and insert report file generation queue --><!--
    <add key="StudentFile_UpdateStautsAndInsertReportQueue" value="N"/>-->
    
    <!-- StudentFileChecking_CALENTITLE_PT -->
    <!-- ======================================  -->
    <!-- Enable to enquiry vaccination record from HA & DH --><!--
    <add key="StudentFile_VaccinationEnquiry" value="N"/>
    --><!-- Only get vaccination record from vaccination provider. e.g. HA or DH or HA,DH --><!--
    <add key="StudentFile_VaccinationEnquiryProvider" value=""/>
    --><!-- Enable to check dose entitlement and create claim for 3 status. e.g. PU,PR,FR,PT --><!--
    <add key="StudentFile_CheckEntitleAndCreateClaim" value="PT"/>-->
    <!-- Enable to update student file status and insert report file generation queue --><!--
    <add key="StudentFile_UpdateStautsAndInsertReportQueue" value="N"/>-->
    
    <!-- StudentFileChecking_UPDATESTATUS -->
    <!-- ======================================  -->
    <!-- Enable to enquiry vaccination record from HA & DH --><!--
    <add key="StudentFile_VaccinationEnquiry" value="N"/>
    --><!-- Only get vaccination record from vaccination provider. e.g. HA or DH or HA,DH--><!--
    <add key="StudentFile_VaccinationEnquiryProvider" value=""/>
    --><!-- Enable to check dose entitlement and create claim for 3 status. e.g. PU,PR,FR,PT --><!--
    <add key="StudentFile_CheckEntitleAndCreateClaim" value=""/>
    --><!-- Enable to update student file status and insert report file generation queue --><!--
    <add key="StudentFile_UpdateStautsAndInsertReportQueue" value="Y"/>-->
    
    <!-- StudentFileChecking_All -->
    <!-- ======================================  -->
    <!-- Enable to enquiry vaccination record from HA & DH -->
    <add key="StudentFile_VaccinationEnquiry" value="Y"/>
    <!-- Only get vaccination record from vaccination provider. e.g. HA or DH or HA,DH-->
    <add key="StudentFile_VaccinationEnquiryProvider" value="HA,DH"/>
    <!-- Enable to check dose entitlement and create claim for 3 status. e.g. PU,PR,FR,PT-->
    <add key="StudentFile_CheckEntitleAndCreateClaim" value="PU"/>
    <!-- Set the Student File ID (ODD/EVEN) for check dose entitlement and create claim. e.g. ODD, EVEN, ALL-->
    <add key="StudentFile_CheckEntitleAndCreateClaim_ProcessFileID" value="ODD"/>
    <!-- Enable to update student file status and insert report file generation queue -->
    <add key="StudentFile_UpdateStautsAndInsertReportQueue" value="Y"/>
    
    <!-- === Platform setting [end] === -->
    <!-- =========================================================================================================-->

    <!-- [EH5-EHSS-VMUL] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <!-- Connection String Pool start -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_VM" value="A9FotkvG6BOVGgWbKeNHF0/wNbvG/bJBBZp0Kod+tsueg+NKRxQsDRCSfLV7SzVbrruJGzVA1xv3whTlC8BVXBXVKwvmYLC4Nh5NHEaXPOCxh0zixELYQX8MPq4SUwxPNmQW2+4Cr1QvzmrircYemP4kPd1BTDTzSXzuLTVGvcKnWNxqd2tsKWsKBWoQIfXCescj6lpu00LLEIz0Ty5W9YZjEQKE5SPZ63XwiQwNrp8=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_VM" value="4zYRvEK0BOGp8Rg1dujdG47B3rQBXnYFLI+qhSgHoT0nUfwXaL7uwBbGZTuYyTIlLMJmY9cOXtsify9/NOik3Jr/hurehLpi+lOi9Axyv5MLHTdPCsVYvXzbx5c0kHSgy769Q9zePwPWEnXwbxM/oeDYMZkCGHHu4ZcxA7d109l2uZWS3PtXVsT0CqSsAtbKLe1jZJBASf8YLgeV51tII2notJqA2ldcM+I866KmSyA=" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_VM" value="XtV1fXKPuZYYKoWTKa6ob86qxBRHAcDvcNShNHVfzdll0/wAvqU1CidWiQHVPahtgRxa6v/rc96f+Qt+v4ZPXAhZSwsAFjGWoTnjC+vy4l1vu7beqnuhWaGgwhorJkqYhwat+jF2Y19fgJhQaj/QBi90J8L2/MRcF3hgrnmgkYhdtI0ivSx5DgLqendhjzIS8uFJgn5CUbUhY1yUqSfSkwwBYfdIKm7FJVH3y07bPck=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_VM" value="XtV1fXKPuZYYKoWTKa6ob86qxBRHAcDvcNShNHVfzdll0/wAvqU1CidWiQHVPahtgRxa6v/rc96f+Qt+v4ZPXAhZSwsAFjGWoTnjC+vy4l1vu7beqnuhWaGgwhorJkqYhwat+jF2Y19fgJhQaj/QBi90J8L2/MRcF3hgrnmgkYhdtI0ivSx5DgLqendhjzIS8uFJgn5CUbUhY1yUqSfSkwwBYfdIKm7FJVH3y07bPck=" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_VM" value="AUOvAuKA8JDAHdgxxBe730I8Q+LkUgpwmsIo/VetE4mN1ik4/DcOGVVAgL80418JK6sI47QFZsepMhXnGEbKGeTWQ3Wdc/bXJ8g8u7i07ZuaCG7kktr1ScXcsYPtBgW7wj945Vkm7i5TzbU8McjoMM0AyEh+2X9ayd6/Rb4swckobKaz79zlYtsQ3DVxdkB83za8h4tOZ3I6nB/vmj0BDtnGaWcUdaP06Edpz7D4a+rVP956+V/bHqFD7LWsBZbu" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_VM" value="9jx4/cc0hPcOdDMATNPM5AjhsX4tmfGqRq5zR4QnVtyb1G0UE7mQx2HP8NTSDZBlOc93OQlxGEZ3OiRzDEk72PyFOQg7jdH67rNPCxzuIMOtasA26v/g7qTZUnNJ2oSX3Cc+xD6N+3+VftxlNtlJGIAokeZrjJWUFCI4AfYYchps1VE4beC8zlcvyJz3SrFQUKHOLHniUSQV14RWDYVHyYhvZZwxKwu856Ytfnegp+c=" />

    <add key="ConnectionStringPublic_EHSDB_PRI_VM" value="XtV1fXKPuZYYKoWTKa6ob86qxBRHAcDvcNShNHVfzdll0/wAvqU1CidWiQHVPahtgRxa6v/rc96f+Qt+v4ZPXAhZSwsAFjGWoTnjC+vy4l1vu7beqnuhWaGgwhorJkqYKlz6yBu2ITAiUEkizr5xeqFOigvFVCIvmS+3mCutY+em+o5UFI9W+mtUU+/TqzZUb3xJZsgo6ONQ3QIjmR3x2LUmFHvykKjINynw9q2Ub8Y=" />
    <add key="ConnectionStringPublic_EHSDB_REP_VM" value="XtV1fXKPuZYYKoWTKa6ob86qxBRHAcDvcNShNHVfzdll0/wAvqU1CidWiQHVPahtgRxa6v/rc96f+Qt+v4ZPXAhZSwsAFjGWoTnjC+vy4l1vu7beqnuhWaGgwhorJkqYKlz6yBu2ITAiUEkizr5xeqFOigvFVCIvmS+3mCutY+em+o5UFI9W+mtUU+/TqzZUb3xJZsgo6ONQ3QIjmR3x2LUmFHvykKjINynw9q2Ub8Y=" />

    <add key="ConnectionStringSSOP_EHSDB_PRI_VM" value="MNmka0Ny4IOjjGkM1RoEif0qVR7SiKPXH2D1SvFg1QOSZtP+8dJ10+FsMsB+61luycr3HU6n74a+e3hY4/laNZm7Er3jzCMtzGeR2/0qG15b5Rsupo2HTNggeVDKgv3WRnYuHiCzB/1AY50eKtGqw6rDLvYfhiqtNjAXX/i9zaqnOPHOqwZvwYcF6UnDmzii5ALjMhLtVn5o9JHK8LEgPQ==" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_VM" value="i6GZ3wAni8IpS0uc0ByVmpPvP2CLZcht9BT4rHKco5JsvJ66to8ogB2sIEYIyrmrSLx90w0ysieEfkNpmlSJG/fUB6EngVmZWsa4d8Z9BfJ664/l/9bdUM0pe8AY0z9jSjEqJGhdm3whFoNU6NZzttMA9JgGyFQRJ+t2s/SYiPKIO7IZLhour7PZRedz3ggP3FGu+PiImPzq/zUw/OWeaR6VBWVX2Y93ztwTViUcW3Y=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_VM" value="pzmS4aA3D0CtFKc+NYCgEBquIpnwfrm+ujlLhmZlqre4kRnLLkLkEGB4VYlkXlpq5B19IUBYJz8/qb+cWpHvEBoQbyrUFCVmlx3x3m8F5t6QbYRHNfUByNa2i/j9wH85Dt6yq3KwtDmASZc0MyBi3T6Hnbz8elevliFAIoYjdf0ynmoTNCyOt/9mAH0zVGWdeoVUdIQY/hTHmGPey7oerK42otlBME8memlJMsokOVFQGwADI7LTRedOKYm4KE+R" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_VM" value="i6GZ3wAni8IpS0uc0ByVmpPvP2CLZcht9BT4rHKco5JsvJ66to8ogB2sIEYIyrmrSLx90w0ysieEfkNpmlSJG/fUB6EngVmZWsa4d8Z9BfJ664/l/9bdUM0pe8AY0z9j9EeDV0wXRuVdwRwcOCAJoX4rAvic7TaCI/tzSK+Mr3AHK7wRqtcXmKg4EGc0GggWv1LxSVHfpLOpOIsa9PeU7xMFzJ1uRqtWu2OQ6723JTk=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_VM" value="pzmS4aA3D0CtFKc+NYCgEBquIpnwfrm+ujlLhmZlqre4kRnLLkLkEGB4VYlkXlpq5B19IUBYJz8/qb+cWpHvEBoQbyrUFCVmlx3x3m8F5t6QbYRHNfUByNa2i/j9wH85Dt6yq3KwtDmASZc0MyBi3VC0aTlB2lPBWvE53kJQzNYiA2vidMREUadNPPy/nBEXSLCNxD4YHFBGwiD9mQnR1Kk8rmooeJ8c9ePQHkKqbI/Cp6sY9MJ/ptdYFxJGmHMR" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_VM" value="i6GZ3wAni8IpS0uc0ByVmpPvP2CLZcht9BT4rHKco5JsvJ66to8ogB2sIEYIyrmrSLx90w0ysieEfkNpmlSJG/fUB6EngVmZWsa4d8Z9BfJ664/l/9bdUM0pe8AY0z9j9EeDV0wXRuVdwRwcOCAJoX4rAvic7TaCI/tzSK+Mr3AHK7wRqtcXmKg4EGc0GggWv1LxSVHfpLOpOIsa9PeU7xMFzJ1uRqtWu2OQ6723JTk=" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_VM" value="pzmS4aA3D0CtFKc+NYCgEBquIpnwfrm+ujlLhmZlqre4kRnLLkLkEGB4VYlkXlpq5B19IUBYJz8/qb+cWpHvEBoQbyrUFCVmlx3x3m8F5t6QbYRHNfUByNa2i/j9wH85Dt6yq3KwtDmASZc0MyBi3VC0aTlB2lPBWvE53kJQzNYiA2vidMREUadNPPy/nBEXSLCNxD4YHFBGwiD9mQnR1Kk8rmooeJ8c9ePQHkKqbI/Cp6sY9MJ/ptdYFxJGmHMR" />
    <!-- === Connection String Pool [end] === -->
    
    <!-- [dbEVS_Dev_UC] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_Student" value="xW7FnQwm1C3X8tKqN1+8x4ceCC/dQVAHtlg3Cv5o/L5psqmMnq+94LSLY4osQFM/1Knon47mvntQ8X8biD233uEgG0ZlJ5z6vPYRaXivJLTy5DvVf9/hZ2iqdvFEyYE8bwBAqbnqM1td9IIhCmFBYPuW9BTkKnMywpTKSWpdNySV1FS6Z3FvtZrz7hk+G0n3ckW42ysJV4GpqpWPhoGWJkw58ozSYoz/oaeSI2h6O6I=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_Student" value="nwm/EzRJS72VKA6BtIxkjQCecVbKUd5t4Z4EM7fK15XFoXhFumXQka4ajVX42Uw8skr/rq6D5Uak8CBGyEIQIDNnP0sVlfEg4dJQcjSHmvFq+t1Z9BoWYNs2eKniY2Enzz1nM3OCtkxTOQ13YOYAhjyCvhAvsVyTKGwHzUNA3f6PgFTXl0/F7EMzY06uwsFzqOZsy3NvdfUsQ5DsUeeECU6sIUzRyyvQEwDG3kwzebworv4GDv40yAWopj8O3JM7" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_Student" value="opE17ayVjNwf4U4FqLKbSqckrkC0lDLcfd+MHZYdnN/LhnX+bBrWp1/zHs3+Vaj4zJ8mcpC27khUKJxGnspIzDxowW+o8l12HnrJ3YFdtCl9X8j6kPva4sWRGcfFIUia5qdcvPZUujTJkvAee8LRgil3UcC5lL8pgCBbTt5rhv6abdxuKu0rGTndbzP171UropNT1QYAhnHI9TotYgmuon6IQtRY+kAq1CKsY2pi8k8=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_Student" value="opE17ayVjNwf4U4FqLKbSqckrkC0lDLcfd+MHZYdnN/LhnX+bBrWp1/zHs3+Vaj4zJ8mcpC27khUKJxGnspIzDxowW+o8l12HnrJ3YFdtCl9X8j6kPva4sWRGcfFIUia5qdcvPZUujTJkvAee8LRgil3UcC5lL8pgCBbTt5rhv6abdxuKu0rGTndbzP171UropNT1QYAhnHI9TotYgmuon6IQtRY+kAq1CKsY2pi8k8=" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_Student" value="mSGzZ7dABZpyy/++ItOlk+QLEe3Q4UIMEOLlCe9L7lU7Sb9D3AE1y32Wwij0PXeNZNjP5V20ynR62hCF2rFd/eYRHYezuzBlMxpkR72yV9EalcyJ9mKh/haSUaLWzNonuWz4kRCfE8tV/N2MQ8ZqvVDp9CkFdF+BEDSC6BYRxH7VFPav/O6rEbI7Ipnv13T7VxCmiqdlVGkhIgk2LraY85ihUHf0BDElGR8QL2gtGma9QQp9SsTj1e7XpE+3fwYM" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry" value="4zYRvEK0BOGp8Rg1dujdG5IX+c7nIWy9hYOIvnOLy+ZnMZkYFi3hzNfmZ7k9ScnWyxq8XXPyCcM2nDpQf9vANIJqEZ/LYq6SQBEK0k6U9dcoVG6NbSG5jDsQJSxf27g4U1S1yi4pSde+VXjwh92DCLn8MFlVs0ykjiLfEdf3W/yfQ+MTtFZ1t7oUYtmjjhlRSVn4854yTX86dteqUPt5EcdIK95/WqwO/KJINeMfqkU=" />

    <add key="ConnectionStringPublic_EHSDB_PRI_Student" value="opE17ayVjNwf4U4FqLKbSqckrkC0lDLcfd+MHZYdnN/LhnX+bBrWp1/zHs3+Vaj4zJ8mcpC27khUKJxGnspIzDxowW+o8l12HnrJ3YFdtCl9X8j6kPva4sWRGcfFIUiajSoboEZJ6uFDeril+3Fs1lF7mQ2SavPDRdqauyfkAIy1i0FkBP62L21ROgEzDQm/jd8lwF2xGD9fru4oQUwITbWkk/J/Cs4wbuTw2yZNrWc=" />
    <add key="ConnectionStringPublic_EHSDB_REP_Student" value="opE17ayVjNwf4U4FqLKbSqckrkC0lDLcfd+MHZYdnN/LhnX+bBrWp1/zHs3+Vaj4zJ8mcpC27khUKJxGnspIzDxowW+o8l12HnrJ3YFdtCl9X8j6kPva4sWRGcfFIUiajSoboEZJ6uFDeril+3Fs1lF7mQ2SavPDRdqauyfkAIy1i0FkBP62L21ROgEzDQm/jd8lwF2xGD9fru4oQUwITbWkk/J/Cs4wbuTw2yZNrWc=" />

    <add key="ConnectionStringSSOP_EHSDB_PRI" value="xLc9oB2DQY6okHmhRd89L/wxqxeVgAiJX871xTOksofJto9B3hQivaJwZv0BotoIhdZ+QojHjsMuIYm1j/4xxJ0z2dvwKAZHhE0HNFoM2eG7uJhtb9VJ+/PVXuBYkZO6uSnVjVhFNCurIhOePdaDj/+WjWkONfI9StxAkhk37ICh+T/chpd1pa2efDLdVPa0OqLzbNQCmzpo+DVpcxEwGQ==" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_Student" value="4zYRvEK0BOGp8Rg1dujdG5IX+c7nIWy9hYOIvnOLy+ZnMZkYFi3hzNfmZ7k9ScnWFnuAdIAp48LNFFmBd3HxyOi7/2nAw2KK1SVum5x7T9ArS6BhkudbdKrD+fpt+lHF6oYOJKuTe79DhJHI1588SsqqSmJZ5qRmd8vEFNLLyu47DTn0COe9l08ahP3xUhCadZP0/469EfVTDMbfkp+S0ucw4BGW1e5ruYKImhIcKqc=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_Student" value="BQYsWmrGQdikDY7EfG0enmnmS2Gp3dACPnQWR0hFGpogKMf1sdZa4WQjj7gMXWJn2oR700M46g8xFlTR/N545N5+KyqHgmmS0hkj8BXwsJtmEJmJJae+TxQkgFAQntEf+Dqk3rF6Qpq7y5t2QHr1jCr+UOif4GJADDgxx2hfVyXzfy3WJPASD95SJg+uj0nZqQbo+qKZ2P6Fm9nU3PiAFweOGCNx6TAyXrVSKitiJwlIMgfTfdZJ/mYsNVIP3Ghi" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_Student" value="4zYRvEK0BOGp8Rg1dujdG5IX+c7nIWy9hYOIvnOLy+ZnMZkYFi3hzNfmZ7k9ScnWFnuAdIAp48LNFFmBd3HxyOi7/2nAw2KK1SVum5x7T9ArS6BhkudbdKrD+fpt+lHF6oYOJKuTe79DhJHI1588Sj0Cjy9MXsgqWqDZv5x4Ei9mUzl0l1PY7Lo25mOZ/y15mNeMLxSRxBdLIfs4NqEkGttkz8/FO7SYvkdGjPhP05c=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_Student" value="BQYsWmrGQdikDY7EfG0enmnmS2Gp3dACPnQWR0hFGpogKMf1sdZa4WQjj7gMXWJn2oR700M46g8xFlTR/N545N5+KyqHgmmS0hkj8BXwsJtmEJmJJae+TxQkgFAQntEf+Dqk3rF6Qpq7y5t2QHr1jPdu96yf+OcD5bqj24Cq78p3rXK8vGVa20E6QB+kXyrjVM9Zcez/Tkh9wo1KXYYsjtmKR7fSds8wI7ESBzHLtv1OsjPiFMTmxQ5rFk8mv84x" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_Student" value="4zYRvEK0BOGp8Rg1dujdG5IX+c7nIWy9hYOIvnOLy+ZnMZkYFi3hzNfmZ7k9ScnWFnuAdIAp48LNFFmBd3HxyOi7/2nAw2KK1SVum5x7T9ArS6BhkudbdKrD+fpt+lHF6oYOJKuTe79DhJHI1588Sj0Cjy9MXsgqWqDZv5x4Ei9mUzl0l1PY7Lo25mOZ/y15mNeMLxSRxBdLIfs4NqEkGttkz8/FO7SYvkdGjPhP05c=" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_Student" value="BQYsWmrGQdikDY7EfG0enmnmS2Gp3dACPnQWR0hFGpogKMf1sdZa4WQjj7gMXWJn2oR700M46g8xFlTR/N545N5+KyqHgmmS0hkj8BXwsJtmEJmJJae+TxQkgFAQntEf+Dqk3rF6Qpq7y5t2QHr1jPdu96yf+OcD5bqj24Cq78p3rXK8vGVa20E6QB+kXyrjVM9Zcez/Tkh9wo1KXYYsjtmKR7fSds8wI7ESBzHLtv1OsjPiFMTmxQ5rFk8mv84x" />
    <!-- === Connection String Pool [end] === -->

  </appSettings>
  
  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="false"
           input="InputTrace.webinfo"
           output="OutputTrace.webinfo"/>
      <detailedErrors enabled="true" />
    </diagnostics>
    <security>
      <x509
         allowTestRoot="true"
         revocationMode="NoCheck"
         storeLocation="LocalMachine"
         verificationMode="TrustedPeopleOrChain"
         verifyTrust="true" />
      <binarySecurityTokenManager>
        <add valueType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-x509-token-profile-1.0#X509v3">
          <keyAlgorithm name="RSA15" />
        </add>
      </binarySecurityTokenManager>
    </security>
  </microsoft.web.services3>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
 </configuration>