<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ChangeListFileName" value="ChangeList.txt"/>
    <add key="OldConfigFile" value="\BackupConfigFile"/>
    <add key="NewConfigFile" value="\NewConfigFile"/>
    <add key="DecryptKey" value="RVZT"/>
    <add key="EncryptKey" value="EVS"/>
    
    <add key="ConnectionStringList" value="ConnectionStringHCSP_EHSDB_PRI | 
         ConnectionStringHCSP_EHSDB_PRI_InterfaceLog | 
         ConnectionStringHCVU_EHSDB_PRI | 
         ConnectionStringHCVU_EHSDB_REP | 
         ConnectionStringHCVU_EHSDB_PRI_InterfaceLog | 
         ConnectionStringHCVU_EHSDB_PRI_Enquiry | 
         ConnectionStringPublic_EHSDB_PRI | 
         ConnectionStringPublic_EHSDB_REP | 
         ConnectionStringSSOP_EHSDB_PRI | 
         ConnectionStringWSEXTUSER_EHSDB_PRI | 
         ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog | 
         ConnectionStringWsintuser_EHSDB_PRI | 
         ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog | 
         ConnectionStringWsintuser_EHSDB_REP |          
         ConnectionStringWsintuser_EHSDB_REP_InterfaceLog"/>

    <add key="ProjectWithoutConnectionString" value="verifierideas | 
         rsaauthmanager | 
         CMSVaccinationWebServiceEmulator"/>
  </appSettings>
  
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
