<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DecryptIdeas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>


    <applicationSettings>
        <DecryptIdeas.Properties.Settings>
            <setting name="IdeasRM_DecryptCertThumbprint" serializeAs="String">
                <value>75 65 34 d1 6e cd c4 14 f7 b4 90 93 b9 88 ca 40 62 8b e0 cb</value>
            </setting>
            <setting name="IdeasRM_DecryptCertStoreName" serializeAs="String">
                <value>My</value>
            </setting>
            <setting name="IdeasRM_DecryptCertStoreLocation" serializeAs="String">
                <value>1</value>
            </setting>
        </DecryptIdeas.Properties.Settings>
    </applicationSettings>
</configuration>
