<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- === Platform setting [start] === -->
    <add key="ScheduleJobActiveServer" value="EH5-CHRISYIM"/>
    <add key="CacheFile" value="C:\EVS\CachePath\HCVU_DEV\"/>
    <add key="CommandTimeout" value="300"/>
    <add key="ConnectionTimeout" value="300"/>
    <add key="DBFlag" value="ConnectionStringHCVU_EHSDB_PRI"/>
    <!-- === Platform setting [end] === -->

    <!-- =========================================================================================================-->
    <!-- Connection String Pool start -->
	
	<add key="ConnectionStringHCVU_EHSDB_PRI_Dec" value="AUOvAuKA8JDAHdgxxBe730BdhYOt+hm6lcWutY9sHSV9VywGoMWi2oYGbCtjn/aB0eZpJOiv/w35yIarTRehITqwjQQaibpgG0smP2zr3Msr8/iy0MAXOSMCgxLx0DWviBgJKoX05ZTWN8q1/KxjLeKn821mY99u2w46ZHluEAxMvIu+EWRRteF1H7DH3QPRCsnP0dLe6CeD+bV2Jl2nVwrBlsLe+tLz5e1hsWjgfalq/OQ0+TCP/iGMtnJulzuK" />
    
    <!-- === Connection String Pool [end] === -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
