<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- === Platform setting [start] === -->
    <add key="ScheduleJobActiveServer" value="CE5-KOALACHENG" />
    <add key="CacheFile" value="C:\EVS\CachePath\HCVU_DEV\" />
    <add key="Platform" value="01" />
    <!-- Duration in min -->
    <add key="ConnectionTimeout" value="300" />
    <add key="CommandTimeout" value="300" />
    <add key="DBFlag" value="ConnectionStringHCVU_EHSDB_PRI_VM" />
    <add key="DBFlag_dbEVS_InterfaceLog" value="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_VM" />
    <!-- === Platform setting [end] === -->


    <!-- [EH5-EHSS-VMUL] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <!-- Connection String Pool start -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_VM" value="A9FotkvG6BOVGgWbKeNHF0/wNbvG/bJBBZp0Kod+tsueg+NKRxQsDRCSfLV7SzVbrruJGzVA1xv3whTlC8BVXBXVKwvmYLC4Nh5NHEaXPOCxh0zixELYQX8MPq4SUwxPNmQW2+4Cr1QvzmrircYemP4kPd1BTDTzSXzuLTVGvcKnWNxqd2tsKWsKBWoQIfXCescj6lpu00LLEIz0Ty5W9YZjEQKE5SPZ63XwiQwNrp8=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_VM" value="4zYRvEK0BOGp8Rg1dujdG47B3rQBXnYFLI+qhSgHoT0nUfwXaL7uwBbGZTuYyTIlLMJmY9cOXtsify9/NOik3Jr/hurehLpi+lOi9Axyv5MLHTdPCsVYvXzbx5c0kHSgy769Q9zePwPWEnXwbxM/oeDYMZkCGHHu4ZcxA7d109l2uZWS3PtXVsT0CqSsAtbKLe1jZJBASf8YLgeV51tII2notJqA2ldcM+I866KmSyA=" />

    <add key="ConnectionStringHCVU_EHSDB_PRI_VM" value="XtV1fXKPuZYYKoWTKa6ob86qxBRHAcDvcNShNHVfzdll0/wAvqU1CidWiQHVPahtgRxa6v/rc96f+Qt+v4ZPXAhZSwsAFjGWoTnjC+vy4l1vu7beqnuhWaGgwhorJkqYhwat+jF2Y19fgJhQaj/QBi90J8L2/MRcF3hgrnmgkYhdtI0ivSx5DgLqendhjzIS8uFJgn5CUbUhY1yUqSfSkwwBYfdIKm7FJVH3y07bPck=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_VM" value="XtV1fXKPuZYYKoWTKa6ob86qxBRHAcDvcNShNHVfzdll0/wAvqU1CidWiQHVPahtgRxa6v/rc96f+Qt+v4ZPXAhZSwsAFjGWoTnjC+vy4l1vu7beqnuhWaGgwhorJkqYhwat+jF2Y19fgJhQaj/QBi90J8L2/MRcF3hgrnmgkYhdtI0ivSx5DgLqendhjzIS8uFJgn5CUbUhY1yUqSfSkwwBYfdIKm7FJVH3y07bPck=" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_VM" value="AUOvAuKA8JDAHdgxxBe730I8Q+LkUgpwmsIo/VetE4mN1ik4/DcOGVVAgL80418JK6sI47QFZsepMhXnGEbKGeTWQ3Wdc/bXJ8g8u7i07ZuaCG7kktr1ScXcsYPtBgW7wj945Vkm7i5TzbU8McjoMM0AyEh+2X9ayd6/Rb4swckobKaz79zlYtsQ3DVxdkB83za8h4tOZ3I6nB/vmj0BDtnGaWcUdaP06Edpz7D4a+rVP956+V/bHqFD7LWsBZbu" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_VM" value="9jx4/cc0hPcOdDMATNPM5AjhsX4tmfGqRq5zR4QnVtyb1G0UE7mQx2HP8NTSDZBlOc93OQlxGEZ3OiRzDEk72PyFOQg7jdH67rNPCxzuIMOtasA26v/g7qTZUnNJ2oSX3Cc+xD6N+3+VftxlNtlJGIAokeZrjJWUFCI4AfYYchps1VE4beC8zlcvyJz3SrFQUKHOLHniUSQV14RWDYVHyYhvZZwxKwu856Ytfnegp+c=" />

    <add key="ConnectionStringPublic_EHSDB_PRI_VM" value="XtV1fXKPuZYYKoWTKa6ob86qxBRHAcDvcNShNHVfzdll0/wAvqU1CidWiQHVPahtgRxa6v/rc96f+Qt+v4ZPXAhZSwsAFjGWoTnjC+vy4l1vu7beqnuhWaGgwhorJkqYKlz6yBu2ITAiUEkizr5xeqFOigvFVCIvmS+3mCutY+em+o5UFI9W+mtUU+/TqzZUb3xJZsgo6ONQ3QIjmR3x2LUmFHvykKjINynw9q2Ub8Y=" />
    <add key="ConnectionStringPublic_EHSDB_REP_VM" value="XtV1fXKPuZYYKoWTKa6ob86qxBRHAcDvcNShNHVfzdll0/wAvqU1CidWiQHVPahtgRxa6v/rc96f+Qt+v4ZPXAhZSwsAFjGWoTnjC+vy4l1vu7beqnuhWaGgwhorJkqYKlz6yBu2ITAiUEkizr5xeqFOigvFVCIvmS+3mCutY+em+o5UFI9W+mtUU+/TqzZUb3xJZsgo6ONQ3QIjmR3x2LUmFHvykKjINynw9q2Ub8Y=" />

    <add key="ConnectionStringSSOP_EHSDB_PRI_VM" value="MNmka0Ny4IOjjGkM1RoEif0qVR7SiKPXH2D1SvFg1QOSZtP+8dJ10+FsMsB+61luycr3HU6n74a+e3hY4/laNZm7Er3jzCMtzGeR2/0qG15b5Rsupo2HTNggeVDKgv3WRnYuHiCzB/1AY50eKtGqw6rDLvYfhiqtNjAXX/i9zaqnOPHOqwZvwYcF6UnDmzii5ALjMhLtVn5o9JHK8LEgPQ==" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_VM" value="i6GZ3wAni8IpS0uc0ByVmpPvP2CLZcht9BT4rHKco5JsvJ66to8ogB2sIEYIyrmrSLx90w0ysieEfkNpmlSJG/fUB6EngVmZWsa4d8Z9BfJ664/l/9bdUM0pe8AY0z9jSjEqJGhdm3whFoNU6NZzttMA9JgGyFQRJ+t2s/SYiPKIO7IZLhour7PZRedz3ggP3FGu+PiImPzq/zUw/OWeaR6VBWVX2Y93ztwTViUcW3Y=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_VM" value="pzmS4aA3D0CtFKc+NYCgEBquIpnwfrm+ujlLhmZlqre4kRnLLkLkEGB4VYlkXlpq5B19IUBYJz8/qb+cWpHvEBoQbyrUFCVmlx3x3m8F5t6QbYRHNfUByNa2i/j9wH85Dt6yq3KwtDmASZc0MyBi3T6Hnbz8elevliFAIoYjdf0ynmoTNCyOt/9mAH0zVGWdeoVUdIQY/hTHmGPey7oerK42otlBME8memlJMsokOVFQGwADI7LTRedOKYm4KE+R" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI_VM" value="i6GZ3wAni8IpS0uc0ByVmpPvP2CLZcht9BT4rHKco5JsvJ66to8ogB2sIEYIyrmrSLx90w0ysieEfkNpmlSJG/fUB6EngVmZWsa4d8Z9BfJ664/l/9bdUM0pe8AY0z9j9EeDV0wXRuVdwRwcOCAJoX4rAvic7TaCI/tzSK+Mr3AHK7wRqtcXmKg4EGc0GggWv1LxSVHfpLOpOIsa9PeU7xMFzJ1uRqtWu2OQ6723JTk=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_VM" value="pzmS4aA3D0CtFKc+NYCgEBquIpnwfrm+ujlLhmZlqre4kRnLLkLkEGB4VYlkXlpq5B19IUBYJz8/qb+cWpHvEBoQbyrUFCVmlx3x3m8F5t6QbYRHNfUByNa2i/j9wH85Dt6yq3KwtDmASZc0MyBi3VC0aTlB2lPBWvE53kJQzNYiA2vidMREUadNPPy/nBEXSLCNxD4YHFBGwiD9mQnR1Kk8rmooeJ8c9ePQHkKqbI/Cp6sY9MJ/ptdYFxJGmHMR" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_VM" value="i6GZ3wAni8IpS0uc0ByVmpPvP2CLZcht9BT4rHKco5JsvJ66to8ogB2sIEYIyrmrSLx90w0ysieEfkNpmlSJG/fUB6EngVmZWsa4d8Z9BfJ664/l/9bdUM0pe8AY0z9j9EeDV0wXRuVdwRwcOCAJoX4rAvic7TaCI/tzSK+Mr3AHK7wRqtcXmKg4EGc0GggWv1LxSVHfpLOpOIsa9PeU7xMFzJ1uRqtWu2OQ6723JTk=" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_VM" value="pzmS4aA3D0CtFKc+NYCgEBquIpnwfrm+ujlLhmZlqre4kRnLLkLkEGB4VYlkXlpq5B19IUBYJz8/qb+cWpHvEBoQbyrUFCVmlx3x3m8F5t6QbYRHNfUByNa2i/j9wH85Dt6yq3KwtDmASZc0MyBi3VC0aTlB2lPBWvE53kJQzNYiA2vidMREUadNPPy/nBEXSLCNxD4YHFBGwiD9mQnR1Kk8rmooeJ8c9ePQHkKqbI/Cp6sY9MJ/ptdYFxJGmHMR" />
    <!-- === Connection String Pool [end] === -->
    
    <!-- [Student] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_Student" value="g4ZjVrxSHJjzsuxcaxi454daxfIqYbrP5LBVgGc2ByIfMpOiEF+5XG+n9Kfitl4dWgCgnQ2uwvZeJAfO8BaCYM4p0U9yuCD8NkjApksTDBARiInFuEcoLKHXYSlBakglOsPDJkj3+QKnmaE4yijEvEa5Uzv4vrOUraApHoQz5uQ40+If4fjUK/1Ug0voqqpo7tsIe1vhB728EFK6IcJTzz9waaOsAGeejYMIk8QVwFw=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_Student" value="l0JwPCWPK8IWGvAwS2Wq8Kuq+OXDpcNSZcsR1ohWhEyTKdXN4HKZTVef5nOkwlv/P5PtLTSMyVDedytqMhug31Ck7liwAyOjWtqUiMvvZYVUTXdVZ3vEJKkUJSuUFK11Ou4RVwVgsB1UaFcceT8GdKd8Qj9RvM8tBdXf6CL81VayCTTHr+M0olRKaWTA4ORzsVa+kNj6y5LT3vs4nnQWj3+Z/5n7n7RSCR1nVdTrZWPAn0E8MPBBaUa/FRJqKiJf" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Student" value="IYYL9/+RpO7lgnb7XbLUFu9+rvG3COC3HlfjdmpKC9MDdRj+kGy+JxYt08AUIzvMPeEy2gRboH4J+qAvtdNDV7l4wynaPj6dCCqGUMlV9pEtgtcyKLyioXaCLPg2eSqfjsvsvpzdlEt6sLhROk2GCgZcSiJqmNGhMJZGC18yexpO3HO1qQ9qBgvCjikHVN4fVSC/NErvNarhEb1TpJpTI0RfUBenKILqN30zLzX8vicryz+Vz4bN49qrgoumd1AE" />
    <add key="ConnectionStringHCVU_EHSDB_REP_Student" value="IYYL9/+RpO7lgnb7XbLUFu9+rvG3COC3HlfjdmpKC9MDdRj+kGy+JxYt08AUIzvMPeEy2gRboH4J+qAvtdNDV7l4wynaPj6dCCqGUMlV9pEtgtcyKLyioXaCLPg2eSqfjsvsvpzdlEt6sLhROk2GCgZcSiJqmNGhMJZGC18yexpO3HO1qQ9qBgvCjikHVN4fVSC/NErvNarhEb1TpJpTI0RfUBenKILqN30zLzX8vicryz+Vz4bN49qrgoumd1AE" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_Student" value="xdKcvpfUUeVQYDraCKCL2vKpQBf8BGwO8cA9Ev7C4th/5ZoutvFgsFv7+IS/klg213xR36DYXpMK2Yrq+J480OA9yRRFQoCX3c93sBS6WBGV7inOjttH0V5TladKziajTRdr2Ct1sHFCvU+Htpq4fxdXxRjuOFYP8WANPuELHhlgwjBDjnm7MTqoJxo66jr+EUP18csx91COfoKkDY3ELDVsJErikKuXrnE6psFOMwh/MyTTSo4eWYVzWiXQEVXw" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry" value="IYYL9/+RpO7lgnb7XbLUFu9+rvG3COC3HlfjdmpKC9MDdRj+kGy+JxYt08AUIzvMB5hTb9roqP+JxAEcJxdDqL8RKCep7/RZJwHU0PQ/zMSOywOMeEAlVIG7fdQRcSFC78Pk3wNFLTBNM0IOzlZeUTcgAkFuXkG3KHOVpX7u2wwvEIk4ztwl79gaL0Ynny0d0jkv4NzHgHxvCIQwQMoGpJelP2Ck1/t03Rpsbwt0lX6C0gcml1MCJz5GuQTabsOM" />
    <add key="ConnectionStringPublic_EHSDB_PRI_Student" value="IYYL9/+RpO7lgnb7XbLUFu9+rvG3COC3HlfjdmpKC9MDdRj+kGy+JxYt08AUIzvMPeEy2gRboH4J+qAvtdNDV7l4wynaPj6dCCqGUMlV9pEtgtcyKLyioXaCLPg2eSqfjsvsvpzdlEt6sLhROk2GCo9kc6HOQz2S1B9lPUwPOCb1vjS0CFzZPSaYzfw34FM1cgqKTmnyhFc3r6xB3WjvJJL7ZKH8NZJdAq63gfWL+Q7A0afoZTjsULvP3mgsGbIz" />
    <add key="ConnectionStringPublic_EHSDB_REP_Student" value="IYYL9/+RpO7lgnb7XbLUFu9+rvG3COC3HlfjdmpKC9MDdRj+kGy+JxYt08AUIzvMPeEy2gRboH4J+qAvtdNDV7l4wynaPj6dCCqGUMlV9pEtgtcyKLyioXaCLPg2eSqfjsvsvpzdlEt6sLhROk2GCo9kc6HOQz2S1B9lPUwPOCb1vjS0CFzZPSaYzfw34FM1cgqKTmnyhFc3r6xB3WjvJJL7ZKH8NZJdAq63gfWL+Q7A0afoZTjsULvP3mgsGbIz" />
    <add key="ConnectionStringSSOP_EHSDB_PRI" value="xLc9oB2DQY6okHmhRd89L/wxqxeVgAiJX871xTOksofJto9B3hQivaJwZv0BotoIhdZ+QojHjsMuIYm1j/4xxJ0z2dvwKAZHhE0HNFoM2eG7uJhtb9VJ+/PVXuBYkZO6uSnVjVhFNCurIhOePdaDj/+WjWkONfI9StxAkhk37ICh+T/chpd1pa2efDLdVPa0OqLzbNQCmzpo+DVpcxEwGQ==" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_Student" value="arU6H0G3n1AZNrfnUlkvTMe+sgjlL/SFPryB5Xr1Bsr8tt3+UgSWH1VMJiNfeFHhAf3dW+ykkK8/tI1110jx5y1EEyaZC+dCDfvLD70xGkgQ/JQhE2ERsCFqUaj9Uhi0ogDnj8rs8yMbawvhi+4MsUwB8shmZK46espGG0TO4CcufDTUiaq6QL81+PQcnbqLnUFwgM9T94GgEHX8RbgsbHIsVumw7LKR7yE9K2Xb5yyneTK8nfBJLTKDmhqMBv0l" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_Student" value="0EZoPVEwQ1VFLtPJvmnV9gXRoAC3zXz0tVOh1Uv0sgtWpsmMVCEA+oScW5sGlcpPa8xkgVPDzQKdPviNt+W71K4xOni5hyZ2s8g98k3gzd+rxlnjQTL+wbgrGDwIHVQk27nLV0oaWCrGOZLdG2T73awod9/siJuqL8uwZUGQW4vWL+TiuwyLCzvg9JSgXfca1lYP9tg7X+XPlrL5RH4tozlpD+VfPuZ5lWgmaeHxJa+175Xo2sD95Zjt5f7871PhgEQ/YcVGO5a6E6Mx8FR2Zw==" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_Student" value="arU6H0G3n1AZNrfnUlkvTMe+sgjlL/SFPryB5Xr1Bsr8tt3+UgSWH1VMJiNfeFHhAf3dW+ykkK8/tI1110jx5y1EEyaZC+dCDfvLD70xGkgQ/JQhE2ERsCFqUaj9Uhi0ogDnj8rs8yMbawvhi+4Mscq1IY6Uq4IDeg9jBRz5lPsvMRPEMCSz+tiAc/OvlTIb7CGYATAc18w4BfJ17ZDAFFE8WPxZK4jUMuFgv15YyyYoej8eJ0Gov81fWQF1NDmc" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_Student" value="0EZoPVEwQ1VFLtPJvmnV9gXRoAC3zXz0tVOh1Uv0sgtWpsmMVCEA+oScW5sGlcpPa8xkgVPDzQKdPviNt+W71K4xOni5hyZ2s8g98k3gzd+rxlnjQTL+wbgrGDwIHVQk27nLV0oaWCrGOZLdG2T73awod9/siJuqL8uwZUGQW4vP4ak0CRgmm/NSk7XCkTvRAaCqyZkbPJN1H9DwJmJhbCRi/CmgEjVkrlix18aQTDVm526xCBjPO5qH09GavBktONyzRWhW3z7zsXTxYyEAUg==" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_Student" value="arU6H0G3n1AZNrfnUlkvTMe+sgjlL/SFPryB5Xr1Bsr8tt3+UgSWH1VMJiNfeFHhAf3dW+ykkK8/tI1110jx5y1EEyaZC+dCDfvLD70xGkgQ/JQhE2ERsCFqUaj9Uhi0ogDnj8rs8yMbawvhi+4Mscq1IY6Uq4IDeg9jBRz5lPsvMRPEMCSz+tiAc/OvlTIb7CGYATAc18w4BfJ17ZDAFFE8WPxZK4jUMuFgv15YyyYoej8eJ0Gov81fWQF1NDmc" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_Student" value="0EZoPVEwQ1VFLtPJvmnV9gXRoAC3zXz0tVOh1Uv0sgtWpsmMVCEA+oScW5sGlcpPa8xkgVPDzQKdPviNt+W71K4xOni5hyZ2s8g98k3gzd+rxlnjQTL+wbgrGDwIHVQk27nLV0oaWCrGOZLdG2T73awod9/siJuqL8uwZUGQW4vP4ak0CRgmm/NSk7XCkTvRAaCqyZkbPJN1H9DwJmJhbCRi/CmgEjVkrlix18aQTDVm526xCBjPO5qH09GavBktONyzRWhW3z7zsXTxYyEAUg==" />
    <!-- === Connection String Pool [end] === -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>