<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- === Platform setting [start] === -->
    <add key="ScheduleJobActiveServer" value="EH5-CHRISYIM" />
    <add key="CacheFile" value="C:\EVS\CachePath\HCVU_DEV\" />
    <add key="ConnectionTimeout" value="90" />
    <add key="CommandTimeout" value="90" />
    <!--<add key="WinRARAppPath" value="C:\Program Files (x86)\WinRAR\" />-->
    <add key="DBFlag" value="ConnectionStringHCVU_EHSDB_PRI_1" />
    <add key="DBFlag_dbEVS_InterfaceLog" value="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_1" />
    <!-- === Platform setting [end] === -->
    <!-- =========================================================================================================-->
    <!-- Connection String Pool start -->
    <add key="ConnectionStringHCSP_EHSDB_PRI" value="JtXIKlyit5ju4eBXzkIFkk7GiRU3skSVInDGvpr2vniaCZSln3NhKtuq4GFzhgoOK4xEERXR8pkp2ljtimQv0G6Cecn2Ai43NP5z6zFjrSA5eaT3IaYa/h3fOLhh9Lqo0uk+QG9asEMxa8NtwBD5OAPeBTAGmSN51xxbTQuWQIoqemBCE5ZLTqLa792xrBiAUlAYdGy02ZI0cjT8ARwfBysIt6x++y8ZNPfUlPM79Hw=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog" value="Eo3norgS0Wc8t1BA/whp5b6tdwpejOtyLw07xv8Sq0vGldqi/DPP5K/TcdSOS4tzzBFhOXvRUOBXY/05+rYbeH0SUCpOjgf1Xakz4Y4EteqJ07WkidRQe5oqoyda+GXeYYtDIyFsV//jH/fpeOAoNYJOW+qtNV7Cg9K0EbZb4Z+yNzTV8Of/5b4aHQcVgoQ3GCjd8+nKeHQBzU74hKtL1JFEbLosVTPhNmsrbUjqP1QYAuiaFjXSv6pYfZfBeUrf" />
    <add key="ConnectionStringHCVU_EHSDB_PRI" value="i6GZ3wAni8IpS0uc0ByVmvSn2kDf1FB2TlIXY8Vzr9Xnaa8OGyWgIbYsY8gx5bjVNwODzHL6/KF2gntQCS2igKSHJIFAe1CdNaIijZaSz/PwvH8UjtimNyaNJU6IpSD16Hb2MTTHFia3lQ9i19r9LJf93HzQatTTTYjOuIrcfuDkSQh9aM0wA9IGzAn5itgLxhzLHCC7mJTc8Jo0T3/lkvMSXuzYv7SzceGJPK9ODMk=" />
    <add key="ConnectionStringHCVU_EHSDB_REP" value="arU6H0G3n1AZNrfnUlkvTMe+sgjlL/SFPryB5Xr1Bsr8tt3+UgSWH1VMJiNfeFHhAf3dW+ykkK8/tI1110jx52GyToTP2UArHBvQ4ws2sMISvgp3wTPwW+Yp7rm7IUU4KrRF3tgY7UunCWDz2hranVeoa6i60nFKcxevwPRxli7S1RMWdWCy9Gc7UtpkxdabJcz1ASo4UVxNi+9Po9Ihov0EQTwg8IAySAWTzBmxFGGkkxvoWS1nVGmh9u8vUpFw" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog" value="pzmS4aA3D0CtFKc+NYCgEN69fCIrEl4ptzGa/i77KKvgCd7jWYTuO3J0QPvTWHrkfsMdO5oYgYy1CUfr5680gGNll1+W5s25rFevmgPAJXoGTSQY+yHqoeQP1rBdi+bg+BvHmRa7KcCY93kgGbFPo+1/b7ANt+KAR4ZnCVveXpkNI7tqfPxnbpdRaATiKvyQgGlEpNPZmdiI1n9DmerPQtjCNl9+GrUQ8TZa1WeM1v8Srgjmm1987Oea0+UMlpcI" />
    <add key="ConnectionStringHCVU_EHSDB_REP_InterfaceLog" value="0EZoPVEwQ1VFLtPJvmnV9gXRoAC3zXz0tVOh1Uv0sgtWpsmMVCEA+oScW5sGlcpPa8xkgVPDzQKdPviNt+W71BPUfPkOQzSltPavHZfiuSLyGrpr27lUhZFgSoeAntlICaYZ0N+mrieNZMptVmn5I4ThdqzHmsusdTcS6JUN1VKyrKt+s8voD3Npo4LIR1zrR/u3iXlndqrgh03Ws08NhZtKXSJH7IZMjEaF4bTC0zvDS5On0LLV/mJ66FfJndbq/eSf/8QxiSkf0OYWvCliLQ==" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry" value="IYYL9/+RpO7lgnb7XbLUFu9+rvG3COC3HlfjdmpKC9MDdRj+kGy+JxYt08AUIzvMB5hTb9roqP+JxAEcJxdDqL8RKCep7/RZJwHU0PQ/zMSOywOMeEAlVIG7fdQRcSFC78Pk3wNFLTBNM0IOzlZeUTcgAkFuXkG3KHOVpX7u2wwvEIk4ztwl79gaL0Ynny0d0jkv4NzHgHxvCIQwQMoGpJelP2Ck1/t03Rpsbwt0lX6C0gcml1MCJz5GuQTabsOM" />
    <add key="ConnectionStringPublic_EHSDB_PRI" value="i6GZ3wAni8IpS0uc0ByVmvSn2kDf1FB2TlIXY8Vzr9Xnaa8OGyWgIbYsY8gx5bjVNwODzHL6/KF2gntQCS2igKSHJIFAe1CdNaIijZaSz/PwvH8UjtimNyaNJU6IpSD1OqSafk42mIBA6l1YiWejMAh84a8xrDXa+WicYZvk1khU6KfM1seaEYwMpF8gLFD0PBcgzMXuNZlkUU7Dt1/X+b8bS5sdDaQiWDWBNvoToec=" />
    <add key="ConnectionStringPublic_EHSDB_REP" value="arU6H0G3n1AZNrfnUlkvTMe+sgjlL/SFPryB5Xr1Bsr8tt3+UgSWH1VMJiNfeFHhAf3dW+ykkK8/tI1110jx52GyToTP2UArHBvQ4ws2sMISvgp3wTPwW+Yp7rm7IUU4KrRF3tgY7UunCWDz2hranU71F/JlAcYUeq9uAED7D56EMe8k6Wi+atZzBiQMdhw5wRPm1vzjSggHzOVB4Soy3VTssgE457SJ6yMNfsoknu/httR/8HwVPuoV4bxo1aFb" />
    <add key="ConnectionStringSSOP_EHSDB_PRI" value="A9FotkvG6BOVGgWbKeNHF9BqWRfUw0MJNhlfz/Q+nfbmObhpYl3GEU7Es2reVaPSEn5s1BWPre2Jxvsf+OzaM1O1Yd2LTB1F5kT0BSaY+DAHp6A+R8CKBxbN+FsfgU/lsbRSqGBwZ5i/A6t9EMnNnny2puI9aEBXX5dJK1cC1jPrTX66PDLTPDm1hoT5Y0S0oH9D/LlpEHT21Yl9FPqboquGxNVg4d+V7sGW5yIUeu0=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI" value="9jx4/cc0hPcOdDMATNPM5OBwN/8IYxwYMJO4AUQXx2GTGwIo34eK13UfUxiuiNbAH25XOLEdK6PDaSusSShS2dyV3I6XMT1T05oHa9nstnBXE+7ifjrbTbgDn3m/XZ07hqzwo4cPxENo8w2qXs/Vlp0qTkaFehlz883oZAJMCE4lc03VSkRIMMdABErBjZT+0Eu122PAZOsR/Jk0/Y5mTDa3OokvYuVJdgKrte+bUIc=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog" value="EVnMxrMtx7yqHXIBiM6xIRHY4VkfsrFI0awHSGDChOAJilbw952OmkHn0gh85CeU6qNwB93MEGVvP5m/HXt7fzigE/oC8iqSc36OSi1BgUA+OxVLtv/Kzy0MFUpUo7RKpJjU5L0XEMgpt2gtaD+02slY6kFxZDYlvCH+SuJbT3unKKd1p4YebI8ep5CylPQsFOOBbA5iUl9XtePSSIMCroHKUxDJ3boJy8mT7QlwPN/t0d7F7eryuIVPUsVVxz5e" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI" value="9jx4/cc0hPcOdDMATNPM5OBwN/8IYxwYMJO4AUQXx2GTGwIo34eK13UfUxiuiNbAH25XOLEdK6PDaSusSShS2dyV3I6XMT1T05oHa9nstnBXE+7ifjrbTbgDn3m/XZ07pKDT7IpsCl10TBIi9krBW2T8L+7WObDakA8S9QzsOiFGzyGDR0WkIyl/LyDOd05EKA3482zrP7rI5Myyl1o1RrYMJETpk1lEzk+L7oLwIDc=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog" value="EVnMxrMtx7yqHXIBiM6xIRHY4VkfsrFI0awHSGDChOAJilbw952OmkHn0gh85CeU6qNwB93MEGVvP5m/HXt7fzigE/oC8iqSc36OSi1BgUA+OxVLtv/Kzy0MFUpUo7RKpJjU5L0XEMgpt2gtaD+02k4nJ/PqsKeBm1TDCtMPWkzoxNSweG3lcEuKdnacQPoAolx0hBZ3eLPhzW/eF/G9gp7pb09Qn0j8nCtQL861gHFLzA4/OBv9qNJNW0FRzT5i" />
    <add key="ConnectionStringWsintuser_EHSDB_REP" value="mSGzZ7dABZpyy/++ItOlk+QLEe3Q4UIMEOLlCe9L7lU7Sb9D3AE1y32Wwij0PXeNcAHZGUdosIV/hhOYLUQYA4zIRr7e0umxbQX8ZXNbZa1JaXtKfTJXpUZG0fKdww5ZDa6ax0nt9Fj+p7UwZAGnRNcoqyz3y7ZR5Ao1gsbZYu6BJ06sbIipAv1oLZXsEoIcu+zFU7EOl42qoA61APCuv1T55UiJFjQhbhfD/t1pJX4tXjMgXopEdBGqA4iwJR0q" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog" value="smskTi7tDJsPQG3O7ythuy8zaPPGermSxMqBSW5B9OOiqnqfNIBmraIzFXMHl/FXX8Z6HnV8GjBtHwfruWqnk+Xfpd2gQQ7jmro8Tw27pA0os+smvYab273pZFVoeREutiCDUtTi8VS7Lxq0I2CSGJp1FzpTBxCTWfpGojWKReL/o0rcOB+YGS6fJ6FX5v71hmFEIDM10nTiZFvo6ib7n+76T/MSf25ZpK99gOwsaOsAhdhgNtRv0Op6cDO/15DPiRrPAIa0QhSVpBmR0OKBWQ==" />
    <!-- === Connection String Pool [end] === -->
    <!-- [dbEVS_Dev_1] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_1" value="i6GZ3wAni8IpS0uc0ByVmvSn2kDf1FB2TlIXY8Vzr9Xnaa8OGyWgIbYsY8gx5bjVNwODzHL6/KF2gntQCS2igHmrr8jgJ+hdKppWICUWseTkqfu32nxBQr+zC992O9rSzBK8Gnml+GmEU9iUhXmr1h/C3sc0LIX7QAGD8b0DFlpBNEymV6DW+P+NNKjCqrXWA6LjHHVilU2BunoOfbPN73xn4QeuYmlS0ei69uHZ4jM=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_1" value="pzmS4aA3D0CtFKc+NYCgEN69fCIrEl4ptzGa/i77KKvgCd7jWYTuO3J0QPvTWHrkfsMdO5oYgYy1CUfr5680gN75eQghHGwTMQaCl82H6Qfw2hfWqVYXTebgKmlDNm+CEXEurcIRAC/nGUu6+QHfyJAn1J9rfBdKaQzDv9YpZPVBwfYkfEiuYPHhWKyhfmrQvn10237dAC1FYty7T50H5BTbrv16/IozHcDGFJjDc6J4FTvZ3+LUVUqb1L+cW/y/" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_1" value="+NnJ3INwLJEG7GT252tZavPo3Gp7zil233OBpULIav4gKEteM1PgAUkwgH8NRETZgjYszhVhTpP4B77aIchxJrhyq7uRkNVkxZLysB9AMHAhQC2BcEIwvam1KoBiw2hFzsXtfrIijgU/YXdgQKF6ti3vN6QzhopVDyHHYt0P0+p1vYf2q5ymI5ChJC8pPvHchGSV08v9qVg46Lle/TmV0/t+Opbiy+ruVbWYt6xj7Ko=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_1" value="nwm/EzRJS72VKA6BtIxkjQCecVbKUd5t4Z4EM7fK15XFoXhFumXQka4ajVX42Uw8y8Si0gqAhR47YhNvNJqgKYD+EkGqlP+cYW8Jnhav3Ms0BEF0908NPBYfEFymjFssida58JsJJDWuiMf4ahx2QQuOPb4/bSu8RVwv2qKQjShn5d4uY5XliCGoeG+9aPluR0m22yMVH26sr3X35Eeopx4coxFQI+LiL1vDaGiHwoQTBkxnj3Zk0sYOgnvUeczo" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_1" value="fsBDUEaIyrrE9VDz6Te5524oP0zl9YRByuJHjlHWWZaVJyZZnT5+YNhr7n5x5AiBEgoa/52TCDMAtCNQ15nHxiJl2+jKOAcfn7LN9RqNOnjw7BPHr8672zAIQAl7+5Dmogy+21nPZpLRdQ6M2ourF1vhE8III0C3QNPs49nqC2W2/koQQ/hD4Sn1NTsu9xAJABjEKop+cfB53bZc63alucDytw4N5qESIqNxzt+1ojCHAVONN0IDoQSpPEh9maAp" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_1" value="rldRYwW6RmA4Jn5H4UaFKz01c4b0NzSA4htfNSfdRTdRs0BbztLaLabrUzs8Zrti/E6F7IyXVfTAWQln439LiHVF3vMYG4TUi+2Pb2g69+7OLuifllwCsFk0YwrLAre7hLWDnM1gFuwQ3aBQJFsJRGY+OT19Dd5CbaotF6Su6yMsdVbjHyVHLVZ+dUtkxtJqM0jHOXtG1M7msnhdDPh6GAjN7rXmr8LVmwINAQRoMPLCNOBbxxNRNGs0cQNJaxIi" />
    <add key="ConnectionStringPublic_EHSDB_PRI_1" value="+NnJ3INwLJEG7GT252tZavPo3Gp7zil233OBpULIav4gKEteM1PgAUkwgH8NRETZgjYszhVhTpP4B77aIchxJrhyq7uRkNVkxZLysB9AMHAhQC2BcEIwvam1KoBiw2hFBuBeeVE9QD551WW164r8/qoIIbRUyyVP3r7aOAB+1WxQJppW+Ow4ov1W4HdMSb0uKlooP3lX5QdiMXmTJkwq9bNU0mhgdMWLZG4uSMRaWSU=" />
    <add key="ConnectionStringPublic_EHSDB_REP_1" value="nwm/EzRJS72VKA6BtIxkjQCecVbKUd5t4Z4EM7fK15XFoXhFumXQka4ajVX42Uw8y8Si0gqAhR47YhNvNJqgKYD+EkGqlP+cYW8Jnhav3Ms0BEF0908NPBYfEFymjFssida58JsJJDWuiMf4ahx2QVRB5tBxk5P+At6WFkyp5a44Y97PQAOSDAFNU90692xgux0vpwgVjJJxK3zBXgRwrlmmfnW6qRc356q6DrA1y0dhc96K4Tm2gNYUMBcD2sgx" />
    <add key="ConnectionStringSSOP_EHSDB_PRI_1" value="XtV1fXKPuZYYKoWTKa6ob4pkvCpMTfdJ3OFG+MBu2c5DtLYy8n91wdbuq2SlggWYV+6uK25mkAe4NIM5iPqOwAhWPf9bf2ABpeO8p/UEG2dunmR7TnCAMhWvwow5Eo37m6AQFpJucR2iZcekTXiGaqZvL+qQOykK7enSjOWq5x5KLIJgqCMsRCs+/QYfgQtEtgDZU+k8XOxIbixpeM0GStFuPyX7FYPH5WZ3YUP8W+g=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_1" value="g4ZjVrxSHJjzsuxcaxi454daxfIqYbrP5LBVgGc2ByIfMpOiEF+5XG+n9Kfitl4dWgCgnQ2uwvZeJAfO8BaCYEv6suGuhNIgeJaLo39NND3XRKrhpWb3Xn0goK+2afIEgpvCr7Ih/dqcG6aA3Oa3WsMf1zUDWGOJ5V7COxTM9iNaw0iDhw3XcXNTlHqx2M4SwmmWWPgMJFnFQdglPnEPfIOCKRTyHGAvkUU8HWWE/eQ=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_1" value="l0JwPCWPK8IWGvAwS2Wq8Kuq+OXDpcNSZcsR1ohWhEyTKdXN4HKZTVef5nOkwlv/P5PtLTSMyVDedytqMhug367s6fPVTTu4OeKzYPZEW+viO1WZEGbo6oSiDTMcZG82YwxALTkz3OozMZ89QqPD2gD3uL1PcGEVYpQzRa8sL14nIiaNt0Pktwxq51NvFrOFRRcbxmqSH2ScRIjbYmzqsPlNEpPsW5ASp50Jd5GCNDXHj9Vtfkkje6CnNhC84XHd" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_1" value="g4ZjVrxSHJjzsuxcaxi454daxfIqYbrP5LBVgGc2ByIfMpOiEF+5XG+n9Kfitl4dWgCgnQ2uwvZeJAfO8BaCYEv6suGuhNIgeJaLo39NND3XRKrhpWb3Xn0goK+2afIEf8JgAbVXj/QtfIsii9sO/Duxa7XmSVWBwzXn+3PVg/TfNYc40LvsY9ibIXyiH7bd7m6mk+HWDZmvGqM1nm6h97x0aYsMGjy3LMlL4nddcow=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_1" value="l0JwPCWPK8IWGvAwS2Wq8Kuq+OXDpcNSZcsR1ohWhEyTKdXN4HKZTVef5nOkwlv/P5PtLTSMyVDedytqMhug367s6fPVTTu4OeKzYPZEW+viO1WZEGbo6oSiDTMcZG82YwxALTkz3OozMZ89QqPD2s72AtbRxJLKxYDJ9TLIwCMFFplB2AXwlQrk+fAn0BBZ0nkwK8v5twG93aK3+zVYRkINVpVX0TqEB446aLikNCbd5QSm1hPT6j2zbMTQ8Vk/" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_1" value="BRAcZXh3/SglDUrMee5ZzZYntaj9as/OZ0clNCB6CVqequjEQCQeoqbZoJBvVfrCLJSikD03dVC9CQGJcGULqC+XY7Tj14hxXdZuOeHEaMvRcS8xmNIpXWA0E/HHIDVzUnayBOPqm02s1JpRPFGZmOD7Q/N87UvibSAFah7m/XYxl6MsxZCzK7EGhdnyh1QsY80+BW5g+5wEfNk/k1oJFFnA7wOgJ1GZyEOu3RYa52LzmBRuRS4Xko1kzbhTDugp" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_1" value="N0kh3tNU8YJgSt2NZQM70hZZ0O8v0oeE0OT7outeu93+1whI75LMI/wpO5+tfsmE/K0eDLQDu914vOMcuw07jLcpnCN62a2hLopRWWApm0kXG3g8U/lHvDp/AcMX+i5BlYUAilF6XB27pZbDR026IvCxOt36kNHnXsaiRM4VdzH750S2vpp2tRY+U18zEHZCUYSwIr5lSSEirZYcfpTWZwbySD0T1QcOxJsN/kGt6q1oM2toCl0DqVzMLhcQ7R0bl8mm2xrQxdC0DHidM8CZUg==" />
    <!-- === Connection String Pool [end] === -->
    <!-- [dbEVS_Dev_2] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_2" value="i6GZ3wAni8IpS0uc0ByVmvSn2kDf1FB2TlIXY8Vzr9Xnaa8OGyWgIbYsY8gx5bjVNwODzHL6/KF2gntQCS2igPuaTPFP1ccOqmi5f92v7AQ8KfQ+mwuqBRRrLzWaQiWr+9Fp10U9COC9/l5uTh5Ujw7KQVFQ/UQ0SDdYrA1/KtcsVz9/7U05UE29LREgPAAJaTPiPzi0wUB8dnyvXumRXr6BGHYZW3MSfyvmNcEboho=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_2" value="pzmS4aA3D0CtFKc+NYCgEN69fCIrEl4ptzGa/i77KKvgCd7jWYTuO3J0QPvTWHrkfsMdO5oYgYy1CUfr5680gGiUdW1nQ+bUrwNGeO+a1UbYqasBiTAbtZSIjwZs/rZ7MvM6R6pgncooqRGOCBItFfJEAAn/M5BgfMuAtlluNRaZmTgLCulYWV/FAgZtIeVX2B3llfxVR6anKgSWEIKF4oNLbfRouNF4Xq67K1n6bYOwGKhAoOSetpYZZLMlQmxN" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_2" value="+NnJ3INwLJEG7GT252tZavPo3Gp7zil233OBpULIav4gKEteM1PgAUkwgH8NRETZgjYszhVhTpP4B77aIchxJgbRp2sMGd07YGYZJq7ouqDa92HQbHoxICTOGnuXwl80kaNL155Gzfmc0m1Nwjjrf9RTVa5i6KxJGoP5qFQMnkXaDOSlrjpKbEihP2MXyt0ga+MY859Yjcp8QVmrdXwQSLp0j+r1TI+55eIkT4tkuf0=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_2" value="nwm/EzRJS72VKA6BtIxkjQCecVbKUd5t4Z4EM7fK15XFoXhFumXQka4ajVX42Uw8y8Si0gqAhR47YhNvNJqgKVabfBl1fzFuePCR3y5HwmVEcgO6HBfwp+PEuIVVI7UXZKax+uCWETAuNVQkUDodPta0bFbLXldMa/X4J3ZiVr2e2FutwaVMOBHpjDEzi6T5pOEWnqZnkXkQj25Ew1L278jnkuW6RNbg8BGsw2hdHQ6nISoCm5+I+BTPUId1Rrjp" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_2" value="fsBDUEaIyrrE9VDz6Te5524oP0zl9YRByuJHjlHWWZaVJyZZnT5+YNhr7n5x5AiBEgoa/52TCDMAtCNQ15nHxsuL+L26PK4Tk2Vhun9/C32M7JKkVnMb+fJM4e3ZZ4Fg3k8wOp5yckXlYL56ifcA69p6MHCD7DZvTJe8X5tn0jNZuumzVueWbJknbErQ/QHT01YPxM2ybvyA4y0kvuS2R1Ca8lssmvx/ve4CEhEUgjHXehWJ+Lf+lYbuRL7HzpgX" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_2" value="rldRYwW6RmA4Jn5H4UaFKz01c4b0NzSA4htfNSfdRTdRs0BbztLaLabrUzs8Zrti/E6F7IyXVfTAWQln439LiKybqJ0iKZgNjJ4EdRobtcEWKJQ7CaFENaMZOPBzGJICzhy7pkx71r5MGSSMOmZD/xYSGgGAbiLpWcDpEMFRL8uJ8cq+HpDgZ/AwQPo4LzMFK9Y722bh+tiB/XSpIJpD46M22agpIpaS9PotPEUS77XAGy3nl/07QkTgDZy4249D" />
    <add key="ConnectionStringPublic_EHSDB_PRI_2" value="+NnJ3INwLJEG7GT252tZavPo3Gp7zil233OBpULIav4gKEteM1PgAUkwgH8NRETZgjYszhVhTpP4B77aIchxJgbRp2sMGd07YGYZJq7ouqDa92HQbHoxICTOGnuXwl80qiQwFqbaMmdiZ4MiMcBrA/k7ArSW3qS+HYW+R98jTlPpIMBtxgvSnSZuGazfxu5uOJqJau/iY01l6v91QFLslQhmpqRwNEeBlqpfZT/V75M=" />
    <add key="ConnectionStringPublic_EHSDB_REP_2" value="nwm/EzRJS72VKA6BtIxkjQCecVbKUd5t4Z4EM7fK15XFoXhFumXQka4ajVX42Uw8y8Si0gqAhR47YhNvNJqgKVabfBl1fzFuePCR3y5HwmVEcgO6HBfwp+PEuIVVI7UXZKax+uCWETAuNVQkUDodPkHMEl/cWCMkAehxUnf+T7buT5Kp88q3IfvKUEJnUHDFUG9aGOpRDapJ99iAUcSoBHrBt7MK8F/XSK0uPyEcTtuBWJbkqbLt0mNWK6JPF4gw" />
    <add key="ConnectionStringSSOP_EHSDB_PRI_2" value="XtV1fXKPuZYYKoWTKa6ob4pkvCpMTfdJ3OFG+MBu2c5DtLYy8n91wdbuq2SlggWYV+6uK25mkAe4NIM5iPqOwPigU5EzRLI31n5ODjbiYqIDTC6TAXtMZD8dIkYWXSsaD3+w/QVU1P04MwVNfQ+STOcrHDpYh1Nps0r281TTtFFgJmjQAgkqPEY71xdyQoaIqIkacNxD80YazhRw03KgLmSHXq5P73D3YZ4LAju/vqo=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_2" value="g4ZjVrxSHJjzsuxcaxi454daxfIqYbrP5LBVgGc2ByIfMpOiEF+5XG+n9Kfitl4dWgCgnQ2uwvZeJAfO8BaCYIauAKjqWS0gjPqr3jBaWVdxFxGGmc4QedATgQjdJeERrbVOaLSzDdcevciQUSPvcDl5MuFbn9jVyVxRJM4k0pTWTw1j0ITzmKZrbZt23AG/sd76TOVTRJQZUS1e3NlshVAV+87E9RIx5mo+6oEwB8I=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_2" value="l0JwPCWPK8IWGvAwS2Wq8Kuq+OXDpcNSZcsR1ohWhEyTKdXN4HKZTVef5nOkwlv/P5PtLTSMyVDedytqMhug35hqh/r85sR9x6PYcpwEYFZffnJVOdDVTjaQHUkdBOxAfX8GXU+Aa9XG39cTGmE4OvUl8NSoRCKpDYMlIdPHEAgg4tsx6q2UIoyGLBua+HTddzaINT4mm/oNE4erj4PHitCo5ufzQcz3eHHwHeWNUegB4GgPx9lAeI54YJ2Y+7xr" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_2" value="g4ZjVrxSHJjzsuxcaxi454daxfIqYbrP5LBVgGc2ByIfMpOiEF+5XG+n9Kfitl4dWgCgnQ2uwvZeJAfO8BaCYIauAKjqWS0gjPqr3jBaWVdxFxGGmc4QedATgQjdJeER07w7vzzg+9fO3igmTN7nxZVgacZfWQRpQp08ptvqb8jAmJ1GBdbuKMDbUJDfQ4T1dH/aqrQUQEaE0bIT5Srs2sXYcHcRyMEAS8lMdbcGYrk=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_2" value="l0JwPCWPK8IWGvAwS2Wq8Kuq+OXDpcNSZcsR1ohWhEyTKdXN4HKZTVef5nOkwlv/P5PtLTSMyVDedytqMhug35hqh/r85sR9x6PYcpwEYFZffnJVOdDVTjaQHUkdBOxAfX8GXU+Aa9XG39cTGmE4OjHGCSq2u5WHjYkQ6zW5nc5tlsHT95clXy7GWxM7Ag+VxUJRjYYxX72RUmb3qajFTeIqLTlezSwx5ki1sPbhJBCVb7VuLKf4R59Ld1GBkMm0" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_2" value="BRAcZXh3/SglDUrMee5ZzZYntaj9as/OZ0clNCB6CVqequjEQCQeoqbZoJBvVfrCLJSikD03dVC9CQGJcGULqEC9loP3gARw9f6UZb2gwIsM5Wy1Pv2gTHAl+MBsulRF+P+8kI+lPKBUJWD9ernqxjp1hm8bQk7gJmcAd7CoPZOp/tWm8/ElJKzDodWgIzwkURJT4unOYpd1Ng/ih7Au7X1qBpwd9LvWCTKFtejBKK1S7jesqjLoPQgAOQZ0aath" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_2" value="N0kh3tNU8YJgSt2NZQM70hZZ0O8v0oeE0OT7outeu93+1whI75LMI/wpO5+tfsmE/K0eDLQDu914vOMcuw07jHIKTnki9p3SYoVmdc1AwDyf50ak2CaCAy5x7IhxtIK1BI/VO3RKjt6UAXjV/ZQ39AkDzPOs/2wTwNLLkDD9jD57mhtraZCIEFFKcfVOAf2kzBHLz6YtuHJ5ghT6su1TEsM2wvWddPryFhWL7LzzCJRMXzE8uma0cWqG3AjAHuW2ZeCLPS/9zncCMj8LMXfb9g==" />
    <!-- === Connection String Pool [end] === -->
    <!-- [dbEVS_Dev_3] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_3" value="i6GZ3wAni8IpS0uc0ByVmvSn2kDf1FB2TlIXY8Vzr9Xnaa8OGyWgIbYsY8gx5bjVNwODzHL6/KF2gntQCS2igB39ZjNwUjhpy3hxZ9Sp+Yc/DGezncBRfRNtN0Tp3QkaJLDFHHBrlIScE6p3Att2xlL9OoIsN2+Bkov/Fx4FsWNpBwd31tC6/sXN1qDiXCFy6n/4R2CTflujo+U4fKsWRildAyTMt4mnPNJ1vRvPYbY=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_3" value="pzmS4aA3D0CtFKc+NYCgEN69fCIrEl4ptzGa/i77KKvgCd7jWYTuO3J0QPvTWHrkfsMdO5oYgYy1CUfr5680gMp4odUGsqWO//Xfe7P42NLNGzAAx2DpuNKA4rTb8kQqPHWyPZk0HHiQdnvvceGB2bQ1DTqEJO0bDtYyc1qhcmYO8/DXuexHIiGn9Gxzuz19+yJoWC3ye/YQQbOXAtt/p8jpWifmkR8mlpA7CdFIEkBDxwD0UP1S9RK+j34LvhZo" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_3" value="+NnJ3INwLJEG7GT252tZavPo3Gp7zil233OBpULIav4gKEteM1PgAUkwgH8NRETZgjYszhVhTpP4B77aIchxJi2V9VWpkFbKEvOotxxQ9+QnkuOiwKWxrF+cUF7fP+Q1i0X9bq8QENOtVcCPbv/gbYI9QFYmEXHt0G6JGl4nj3g3Dle7lCBovkFtqph0SvhThPVw/6kUuFyQ4ctrv9+sIctv8BfvL9Kl7L+eOK8HlpU=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_3" value="nwm/EzRJS72VKA6BtIxkjQCecVbKUd5t4Z4EM7fK15XFoXhFumXQka4ajVX42Uw8y8Si0gqAhR47YhNvNJqgKTu/m4vYH4CO8YcHDxbHMkfwvcHJ5UQPcHnWlQS6UpbDsLuh+OePoWSap6cdmxSnAfvp7QyczfB36eX0rNnCjtmzg8EkssEpPvQE6CsMlcxw5/Bj+m5RVfmjycMuYtEBUReF/wSaApOA9+iKhzozQy2Wb1OUVpoHEzIpey3j7QUV" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_3" value="fsBDUEaIyrrE9VDz6Te5524oP0zl9YRByuJHjlHWWZaVJyZZnT5+YNhr7n5x5AiBEgoa/52TCDMAtCNQ15nHxoyvQBtifh8DmUX8lb+xZfkXRf4TqvSeMeULM9LsVlBRmki//88ryDL1uwbdwbAgggdimGqlzPm0KD3bKcGG5DVZvOwXIUrumG+ZXfqriysp/HzVjF58+H3L69fVM1FYt8OT2ON4fhufgdJroLUt74GsNhUrqDBST2/mj4wUb0NM" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_3" value="rldRYwW6RmA4Jn5H4UaFKz01c4b0NzSA4htfNSfdRTdRs0BbztLaLabrUzs8Zrti/E6F7IyXVfTAWQln439LiOaGfImqNngdDqKKduQ+kcMRfZvuXRE2d4LeRJE/O2Lz7LoW+2oTcnm4iCgJYiJ8kj7Bw39U7kL42S0FMnkfM5VWNs3kiy7JaQuOkUCZg7va3guIrFkY/pPhL/KhcnMY2dB/zlbFVklwJWXLZAUrr+49sKc/tgPb3Ft9HMjpWR2N" />
    <add key="ConnectionStringPublic_EHSDB_PRI_3" value="+NnJ3INwLJEG7GT252tZavPo3Gp7zil233OBpULIav4gKEteM1PgAUkwgH8NRETZgjYszhVhTpP4B77aIchxJi2V9VWpkFbKEvOotxxQ9+QnkuOiwKWxrF+cUF7fP+Q1luEVQzYpOd7I0Eab7pr2XhFnqQBkvjJfufOsBhaVbYq4RxJ8P33DvRSuY+ZD64HMCV1p2ER+okI7N3KD/rENKpOkH6kN/6sWRmA8lh+O/hg=" />
    <add key="ConnectionStringPublic_EHSDB_REP_3" value="nwm/EzRJS72VKA6BtIxkjQCecVbKUd5t4Z4EM7fK15XFoXhFumXQka4ajVX42Uw8y8Si0gqAhR47YhNvNJqgKTu/m4vYH4CO8YcHDxbHMkfwvcHJ5UQPcHnWlQS6UpbDsLuh+OePoWSap6cdmxSnAWIK5zH96eVknWo83aYy+6/7YFUVGOkER5uatCVHPlkOUfvnrQp2p80WdHDikUXR4M/2j1y63OmRrKdkRj20+bEsQfXlXmd8AbURyJgAEt6Q" />
    <add key="ConnectionStringSSOP_EHSDB_PRI_3" value="XtV1fXKPuZYYKoWTKa6ob4pkvCpMTfdJ3OFG+MBu2c5DtLYy8n91wdbuq2SlggWYV+6uK25mkAe4NIM5iPqOwCURl77l5sZF5oJUgeZADvYxe+zogwp7omqVarpNR/nDPqt7bFsTVPTXqB+8fWmIXGsg5gF/UgnE3hduMESzMrn3fITciciZXsdnXnLe/FRatbZDDt99SJgBEJKThJI1OtNd7CptBxjQ40WJdOQoKkc=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_3" value="g4ZjVrxSHJjzsuxcaxi454daxfIqYbrP5LBVgGc2ByIfMpOiEF+5XG+n9Kfitl4dWgCgnQ2uwvZeJAfO8BaCYN1ty1AXgf8WL/ggzo5p2ZtXxqxT2aYTyPURUIX7ow7cOk0tPFeYkdILD6ffPfuxO8yn2Y0pA5LSm1Rsa8z0nFvkT/NzBbWhBvgKSbc+IghhdjZTRyQdJTms3BnqY66re914UK3F6c9oiwO8/5LRUBs=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_3" value="l0JwPCWPK8IWGvAwS2Wq8Kuq+OXDpcNSZcsR1ohWhEyTKdXN4HKZTVef5nOkwlv/P5PtLTSMyVDedytqMhug3+aR+pLnFzqpstPVMW/2vDpAP0LKVeo3xdHJxWJOv77fxdyvYSFQrIV5OV33MuG/RadBA0KD9mkKs9djFggN+oQwsVP51Td+hlT4pR+GhbqrAswL1NeXjM7RZbXHbgl3ltm2AB6aCz90HTlaOxw9ocsE3iR3p++EqqsFpm84LaqF" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_3" value="g4ZjVrxSHJjzsuxcaxi454daxfIqYbrP5LBVgGc2ByIfMpOiEF+5XG+n9Kfitl4dWgCgnQ2uwvZeJAfO8BaCYN1ty1AXgf8WL/ggzo5p2ZtXxqxT2aYTyPURUIX7ow7cNYHqU1DKs2elCRgXtRUVNCn0bNdRtM5MGGlfuaRGOcd6bVjHUy8qXT8KWpf13X8M+B2q14DtwtKF6ONREb2OfD6jUl2oU/NAFFTPZFRDvjs=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_3" value="l0JwPCWPK8IWGvAwS2Wq8Kuq+OXDpcNSZcsR1ohWhEyTKdXN4HKZTVef5nOkwlv/P5PtLTSMyVDedytqMhug3+aR+pLnFzqpstPVMW/2vDpAP0LKVeo3xdHJxWJOv77fxdyvYSFQrIV5OV33MuG/RZ52DMK3bKLk05qRBY3kVsamrOtZ2YMxP9G/+QWu+j2XugKEJY3zz2zpbG5QQnF/D+cDGeHkQRoY/vvgniVqYyns9BLNtKEMsHtyt37hDzrJ" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_3" value="BRAcZXh3/SglDUrMee5ZzZYntaj9as/OZ0clNCB6CVqequjEQCQeoqbZoJBvVfrCLJSikD03dVC9CQGJcGULqLnsLBhsawvqJ2lReU2f68ZhSEIEZxCHcxb+E4C9qtqc5fXkWR38Ixs/vN5OznI7ajPngPiiAy8q24OvNr/bHAjwi/7jdWaY76fjPhEKWfv5tcmnTAxKpV7wF/95p2hNKXz8JqeuAtkCp8zz53nPEsiMuVvrQkD2Cy73CZj+rfpe" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_3" value="N0kh3tNU8YJgSt2NZQM70hZZ0O8v0oeE0OT7outeu93+1whI75LMI/wpO5+tfsmE/K0eDLQDu914vOMcuw07jBryu4a3EPAzCgEbrfU86YweP1YE6pU/IeUCXPuyRTEPLg9CaotSUqeynoGXokROmj3jYN/IhalkdSIz34JVNjD2n/MXxxYwK/HP8IRQ3C5v6PunJlRx1Go072KVBJJF8s0U/KJKwEvZVPrYHK8Y058+YaZcKBmiVQgM7nWpMykO4ZFhVOfZ8DsZKzsz8LX/xA==" />
    <!-- === Connection String Pool [end] === -->
    <!-- [dbEVS_Dev_4] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_4" value="i6GZ3wAni8IpS0uc0ByVmvSn2kDf1FB2TlIXY8Vzr9Xnaa8OGyWgIbYsY8gx5bjVNwODzHL6/KF2gntQCS2igIR50dPUt2hLr/xMs5euNUn2Zktv3siQ68M+o7q8WB/fHThOTTXzD4KWDfWwskUEBxvpucqsCBhn8V5yraa62e1RBQdA3oGzyywb3z7OW+/h94P2DoUP99szclQfgcbPI3gXBsK3Hq6P5xKwddSe4qE=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_4" value="pzmS4aA3D0CtFKc+NYCgEN69fCIrEl4ptzGa/i77KKvgCd7jWYTuO3J0QPvTWHrkfsMdO5oYgYy1CUfr5680gCVsl2Gxzz7ewq3oN2jI4ItqZjNn9K1p7QwYjO8Hdit7US9XBpFiWEBCLx5gJchk3wZDmuodlYwdqBU9D764Kk/6Cy/lGlEItMGOnPKJPLswK1mZFyvpCRyucPSjhAR16FuFv7lbghJuBk3QG7t1PqDXTIsBJl6d7/09dik05LJ7" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_4" value="+NnJ3INwLJEG7GT252tZavPo3Gp7zil233OBpULIav4gKEteM1PgAUkwgH8NRETZgjYszhVhTpP4B77aIchxJoxWJK9GPWPk2VveeQYPWgz9WO1LmkP5gDiZQcOlZ1teZ2Iwop/R8ZUWXUbhJd7cN1vQSue8WVIbyKGUP+n7QTTbuJgxGETATL+C3YGr5vZaWgpYucKNhjmr57u6fpNashMzV9Uj3JcDzsp16zZA+OI=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_4" value="nwm/EzRJS72VKA6BtIxkjQCecVbKUd5t4Z4EM7fK15XFoXhFumXQka4ajVX42Uw8y8Si0gqAhR47YhNvNJqgKefClo3Yv6isa5Ua8dVizXXfH+7YzeuhtpuFWSlfGgAFfnhpW5WnKJ36lJgDPq4AzgwtHP+i//EHdh+RcKxGTOAAO9Gz/YwmlaG9+rsGnd2RawXty8KTBhpgGfwOd+hF4r1rC0z2cxMhGlMsufUp5UXZ6Sv4xM5B9Svow9tQ8QdZ" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_4" value="fsBDUEaIyrrE9VDz6Te5524oP0zl9YRByuJHjlHWWZaVJyZZnT5+YNhr7n5x5AiBEgoa/52TCDMAtCNQ15nHxu3T1KAo4RRijvHP9cp71JOkC9+GbT4r54UbH5kCZsR2w9/ACmN19wZMD3/OzbULZJniU6fUWk9RiYKAc7JeviEqI53y5rFJ+ZAFMHKyruUQ0Sds85qj9S+AM+7KxYXwv11B4EskJ1YYpi9Nhweo1sfYV2PQESevcGa6INK4VJzI" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_4" value="rldRYwW6RmA4Jn5H4UaFKz01c4b0NzSA4htfNSfdRTdRs0BbztLaLabrUzs8Zrti/E6F7IyXVfTAWQln439LiHrHkjmunIKK2yCM5Py/4Cm2PPP6BcQg4CvKwX4kb53DAxlFSj2EYe3GBYghMmZ3h73rAC8ck/qKDfsimFUU7NDW2vE8d/h+gkJyPwpVCK+k936W2uzT5Zq9QjThX2BBIY9tQQDeqEFAQlmx6WcqPsCEZE7m/jfENisvghFmYLex" />
    <add key="ConnectionStringPublic_EHSDB_PRI_4" value="+NnJ3INwLJEG7GT252tZavPo3Gp7zil233OBpULIav4gKEteM1PgAUkwgH8NRETZgjYszhVhTpP4B77aIchxJoxWJK9GPWPk2VveeQYPWgz9WO1LmkP5gDiZQcOlZ1tep1D0kqIn7tBOI7F9K4TFp2eKLqGNe/PHdwR+DEW56/BQAvU3w8uAQL/tCC6WkJG2XJKythtB0iu/LxW2xk7e4NXdDzk55FlRi4IvnwAf1ps=" />
    <add key="ConnectionStringPublic_EHSDB_REP_4" value="nwm/EzRJS72VKA6BtIxkjQCecVbKUd5t4Z4EM7fK15XFoXhFumXQka4ajVX42Uw8y8Si0gqAhR47YhNvNJqgKefClo3Yv6isa5Ua8dVizXXfH+7YzeuhtpuFWSlfGgAFfnhpW5WnKJ36lJgDPq4AzhMB8CrZVHZyA9UJIFFhWVvnSysucXtjD9qXfILu9A7vggupKbxl1L/0ioVOU+oKjdnCTtA5QDc2ar09UxXX8g/H730FJsp4ucq/qDRtOThQ" />
    <add key="ConnectionStringSSOP_EHSDB_PRI_4" value="XtV1fXKPuZYYKoWTKa6ob4pkvCpMTfdJ3OFG+MBu2c5DtLYy8n91wdbuq2SlggWYV+6uK25mkAe4NIM5iPqOwM9cW+V8rqdNwf61f669NKl+qRKEpQP/uScb0GRZBjAIri5HgqOG9EK+l6CvLKnfdpMmJqe948Qs4R9XCnZfJLG9E2yVLwBoJA+0LwSWI3P9f3HM02PiNPQbzyRI3iqmIJ5WHxprryWP4nUgpXTjnm8=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_4" value="g4ZjVrxSHJjzsuxcaxi454daxfIqYbrP5LBVgGc2ByIfMpOiEF+5XG+n9Kfitl4dWgCgnQ2uwvZeJAfO8BaCYHa8GUNv/lfn879ogtJoC6aNRaQe+rm86YbktLt3CS+ygU3Vq4PFSFnUjOYJ2/NxT9raYiMoUidAVt8+9Q9B8Jab/rG3EohV1yjVg/HXCQrux2fGyved+l+5QqHnjfDQJWLznPYn3ysKT9RnKYrA/cE=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_4" value="l0JwPCWPK8IWGvAwS2Wq8Kuq+OXDpcNSZcsR1ohWhEyTKdXN4HKZTVef5nOkwlv/P5PtLTSMyVDedytqMhug3zlS0y6gqSPw1qN460XFmqM3kJ5giJvMkDi5Q53j6UKivUWsH2K7nQmH+Wc6/y7rFwLmaLcoJry0eY0PIvPH7P8RY0KPmENsy+wqqRlC20RX0+AFLk3465OCpt6vojaic7PI4QWJVk781gUDJvTr8Npdc9AMiAjjrV7Fqw0xrIUw" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_4" value="g4ZjVrxSHJjzsuxcaxi454daxfIqYbrP5LBVgGc2ByIfMpOiEF+5XG+n9Kfitl4dWgCgnQ2uwvZeJAfO8BaCYHa8GUNv/lfn879ogtJoC6aNRaQe+rm86YbktLt3CS+ydTEnbmxX2RHCYtIZrG1LBXsrDk5sPdhj7TEGpH6kOo/IBwoQ6YSYeyS/XQoru7KVqBlVSB41l5z47dfjEcfAkRlRwv55NE9yk7NyQ5SmDZA=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_4" value="l0JwPCWPK8IWGvAwS2Wq8Kuq+OXDpcNSZcsR1ohWhEyTKdXN4HKZTVef5nOkwlv/P5PtLTSMyVDedytqMhug3zlS0y6gqSPw1qN460XFmqM3kJ5giJvMkDi5Q53j6UKivUWsH2K7nQmH+Wc6/y7rFyKbZknB5WTmb9+mSFyePO0HmidcXR468J2+ZHdxYhNiWMRz+OfOL9/Ctoq7CDbrv7ktOUSIUiFmcOUzSr7XhtlWrMl8x0ypRxom7GHgvHmW" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_4" value="BRAcZXh3/SglDUrMee5ZzZYntaj9as/OZ0clNCB6CVqequjEQCQeoqbZoJBvVfrCLJSikD03dVC9CQGJcGULqNg+Dbmle7ixgFpN0y27H7RGcRqByC5Y3iG4Znt/CiZg/c5+BT+PQz3x/USTIZnrA3ZV58IGNsVcyRYyGS51axpsq9s+Js518dhO2XVfIe5f7LFQysLO6ljXtDSQo22h0kFrPrz3IjAcRvkiVqR8mmlp55A/xc3Zs371eunUu6wb" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_4" value="N0kh3tNU8YJgSt2NZQM70hZZ0O8v0oeE0OT7outeu93+1whI75LMI/wpO5+tfsmE/K0eDLQDu914vOMcuw07jPihB0F4jssC3y8/yZeC1TW7res5knz0j/+D30J68To6aRrpdiEON3KB9u0DpMfAQUHiFTqZQhA6t4Cz+FzBA4ay/Es6P1vJpQja693pXl0v4py4vNwK0Rj151vw/fRPz8XzQyYUz4QFvFZZNIEBO46Jl+NtlkXzO6WKr4iHDNiEUP0p+SDG4HcUl0bMRhOZ7w==" />
    <!-- === Connection String Pool [end] === -->
    <!-- [dbEVS_Dev_5] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_5" value="i6GZ3wAni8IpS0uc0ByVmvSn2kDf1FB2TlIXY8Vzr9Xnaa8OGyWgIbYsY8gx5bjVNwODzHL6/KF2gntQCS2igPCTW7sCZmoTQ4seDm0y1ScWi0kLNXGfcFcouyPiQqR+qUTRaWnIOkqplbfYJU7DGv9UUldWeQ9n1aFHeNYdws08i7YqAGBIcZq8IgoU+aBwgRRI9ZybWcJUFNc0M12+bkBIiXbcohLNGXFCZnCpFuA=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_5" value="pzmS4aA3D0CtFKc+NYCgEN69fCIrEl4ptzGa/i77KKvgCd7jWYTuO3J0QPvTWHrkfsMdO5oYgYy1CUfr5680gMgK4ux91/4idoo8EavWp7ba74cUxRhFIYfa6UT3bWKlYJ62BZpIO4lWliQR2yBYcY4WeA2LhAq6Q6VNmX1o48pjz6NdjYh2ykTvaH5eyWv8MntJgJ7/MfNwDAcQChLvgfZduovOmfkn1qKGY/a28KY9M/tmMpnRyvfVtV+RL2od" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_5" value="+NnJ3INwLJEG7GT252tZavPo3Gp7zil233OBpULIav4gKEteM1PgAUkwgH8NRETZgjYszhVhTpP4B77aIchxJgNWwH734rUhiilnqhKj7N20Svr7I5Q7fjQS59VP5xUeNsCgTsUcAIKQAhiHzHi7uLno8zrd4BATUUl6RTbf3jdCBo/aQJrHVm1zUNLq5FYNi7O9GHmyCh2HhF27YGWgQXBTjTOYD3URRgY89KY7GF4=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_5" value="nwm/EzRJS72VKA6BtIxkjQCecVbKUd5t4Z4EM7fK15XFoXhFumXQka4ajVX42Uw8y8Si0gqAhR47YhNvNJqgKRr2BhzOrrEEL+q+urSJqcCAbz2PZn5ajmsu8kZ9vYhb7lxtCl9UluXXSERTzbKb8e+DrDSs5EWfWp4V6tTGJQyWUqXiJqMcvR0URfUBKaeiXyWC59wNv7ZvDFjYGp4bIWkQ0UILj7cithYi30/rmkFsUuBqBcLPjJm+dapA51A5" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_5" value="fsBDUEaIyrrE9VDz6Te5524oP0zl9YRByuJHjlHWWZaVJyZZnT5+YNhr7n5x5AiBEgoa/52TCDMAtCNQ15nHxonlL3HWkQeU/7d50dmJERNaxggIQgkcFNehF1VCSWY3gaNT5549u1l2QZrXcegtzBrWBjhtcj31DbtZclQjVYi9MqZyqTaZrXfjZJ+Zd+tTz0+LiuB87/UwSaueKadRWN7gFPzaonOijJRStbI4iJvsNLvmyvY5xGbivbyy+gO5" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_5" value="rldRYwW6RmA4Jn5H4UaFKz01c4b0NzSA4htfNSfdRTdRs0BbztLaLabrUzs8Zrti/E6F7IyXVfTAWQln439LiPc9Oi/CDzqEmMCQTZLww38Is5fdjUbrOQEp1F9R+6JJmHr7/+emu6Q/IZ/eey7GIvvfaEO5vBs7qRxay/g9daiIyBBRMprOzAe/B4nOKD5fz1pRxDUljU8rNZCutnP2vti/sPN1QzHlCM7I3239yC8mFU0UVj0QkzMgTzHSfBxk" />
    <add key="ConnectionStringPublic_EHSDB_PRI_5" value="+NnJ3INwLJEG7GT252tZavPo3Gp7zil233OBpULIav4gKEteM1PgAUkwgH8NRETZgjYszhVhTpP4B77aIchxJgNWwH734rUhiilnqhKj7N20Svr7I5Q7fjQS59VP5xUe1d3QTgsW6w7Q5R4gnAHOQTqLiWb1+mNHGwaK7frmcFbVbPKBG705/CuScfCvO9M0adrpldQYqwt1FgDuNJNdOmq8aQgA6E1CwM9ilvdMvyA=" />
    <add key="ConnectionStringPublic_EHSDB_REP_5" value="nwm/EzRJS72VKA6BtIxkjQCecVbKUd5t4Z4EM7fK15XFoXhFumXQka4ajVX42Uw8y8Si0gqAhR47YhNvNJqgKRr2BhzOrrEEL+q+urSJqcCAbz2PZn5ajmsu8kZ9vYhb7lxtCl9UluXXSERTzbKb8XY/DszpzD3HGfDsU1FbKcPDk0l02CDw6TAhHBkNALuWF9LDTdTKZSotxHyZe/XlnUEiQrHjaqzQSy5BEyp2rs2p67eM9767GRcpYf2ZjI30" />
    <add key="ConnectionStringSSOP_EHSDB_PRI_5" value="XtV1fXKPuZYYKoWTKa6ob4pkvCpMTfdJ3OFG+MBu2c5DtLYy8n91wdbuq2SlggWYV+6uK25mkAe4NIM5iPqOwDXdsOgUYlW2q7f0hd3RffKuaa0MA9DZUoMFExjmXbdwxzjitsaE8CyfTf2sB3sjr2JHcEictEkwG+HrEPMZbK3T/uEOihhN9OQ96k8AsoAQEY7Di6s3vyCOYkbEk85aqPrSLVvAH0bX0znMGg90t84=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_5" value="g4ZjVrxSHJjzsuxcaxi454daxfIqYbrP5LBVgGc2ByIfMpOiEF+5XG+n9Kfitl4dWgCgnQ2uwvZeJAfO8BaCYObbAzAh0GzhfC6Itb0A41pkO8amPYHzDLj0Yh8gj6hGk13invRom/7ERkxCfztFOjW5qJYRipILLtFqIAprFZMrP+PQOvaIQJWjzx2dR43LbEV+TYH5MMCYDtZUAkGd28ztgj6ZnX1E9f+s8Wx76uk=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_5" value="l0JwPCWPK8IWGvAwS2Wq8Kuq+OXDpcNSZcsR1ohWhEyTKdXN4HKZTVef5nOkwlv/P5PtLTSMyVDedytqMhug33vV0uP0Ke9ANJ50tjmT6eNAnYUFpGbxN3B9BNuUbdKfBD5/EWqhVS1TXlMT3/hoieXB+nOiy6ASzBFGRXpuffhDSGIc29gUVp7UbX6LYLgilgEdP+j8lCdHPqMspBNHHwfxvOYtImCPWoslvAdE0gwmHCUzmxPxDdsxVbFN7GA2" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_5" value="g4ZjVrxSHJjzsuxcaxi454daxfIqYbrP5LBVgGc2ByIfMpOiEF+5XG+n9Kfitl4dWgCgnQ2uwvZeJAfO8BaCYObbAzAh0GzhfC6Itb0A41pkO8amPYHzDLj0Yh8gj6hGIvylx24j4GR/S4KcgfPy6NwCptwI5uZ9Sebf6w0Igg/BIdF/j6q2pAqvITtT+78oZW12iwDB0iJ9hKWx7AAqxzQ8K71+vvFbTYwEukIvgNc=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_5" value="l0JwPCWPK8IWGvAwS2Wq8Kuq+OXDpcNSZcsR1ohWhEyTKdXN4HKZTVef5nOkwlv/P5PtLTSMyVDedytqMhug33vV0uP0Ke9ANJ50tjmT6eNAnYUFpGbxN3B9BNuUbdKfBD5/EWqhVS1TXlMT3/hoie4KdZ53Hcnyou0lTjV2EEsmHeq4KjfdSzABaTpvTv0fGEdtbkQphYlBZ4vSyAlO4Ba7zOEh51B2OjbWekCgorV/wybhLlT7cy5GkgnxSVIR" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_5" value="BRAcZXh3/SglDUrMee5ZzZYntaj9as/OZ0clNCB6CVqequjEQCQeoqbZoJBvVfrCLJSikD03dVC9CQGJcGULqHZJXAsAIdqhLq8Wk3e2qO6mzHI3xK7ork7g5Rbyj/1iY0PIu39DpRhZXhYu1i7elSl79x6nTCvick64bPLJa/e3FQ/yR3zBGnk7y1grxHtwPXoeFiuASZhMirfFTbRUYmiNpQtdsLc346Bx0vcoe1tbNzGUvv3ruq2YG+leIzVF" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_5" value="N0kh3tNU8YJgSt2NZQM70hZZ0O8v0oeE0OT7outeu93+1whI75LMI/wpO5+tfsmE/K0eDLQDu914vOMcuw07jJJErDDlRKpaumoG7pP+ud4uH159i717p9Ek3Lpm6Bv5+DAL9zAZiLVSobj7JzeUnHFBmGe8sZ1JY647Ru8GK/ilMClHdGnfzadhTLQSZnYZOoDrvL5nOmzibNKbaI3gphthQchrTFdU3UZ2PRSNe1daov8dqOxKGx2wYp9RQxkHyprpSVGez+QuntIH5S49Sg==" />
    <!-- === Connection String Pool [end] === -->
    <!-- [dbEVS_Full] =========================================================================================================-->
    <!-- === Connection String Pool [start] === -->
    <add key="ConnectionStringHCSP_EHSDB_PRI_Full" value="vD3nAzJatQ64Ox3O/UCSr1V+NoH0gevKJEG+2wNmD+pzWWyhNEbXvYJyy79KlMZsiPEgrAyB8gdH0DOFbeXIjqD97lcSgFdPAVYcfKlkJHxYWNoW/jhkE5H6+eoHZltgE+Eto6eTwArrrzIVgmZlE46Ccyr33xby/0QNY2WMzE98kBp0sQhh4dYsFYzCiHfs6g4RK8082SzowMfLAQ+ax9LY7PIwmVIDFHFuvpuds/Y=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog_Full" value="arU6H0G3n1AZNrfnUlkvTMe+sgjlL/SFPryB5Xr1Bsr8tt3+UgSWH1VMJiNfeFHhgWubRgVAHujbn6K3ntNa+d79qDZAy4GNMG/SGNouya1kL676bynp/aKS+vtN00ZfpFNfDs3riQwBZDa5Sf66IHBOtdM88KoCtwe1wQRuQTy5hdgTTHahLM5S1NciYBDInVr8KEaaoETzQ5wYUcbXvRtDdev+6e6Tg2bp8wZBhEDQYIdN2ZIWW87wD6BCeyoJ" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Full" value="xW7FnQwm1C3X8tKqN1+8x4ceCC/dQVAHtlg3Cv5o/L5psqmMnq+94LSLY4osQFM/HZhur/cL2Qq2rZZpTIgm2ssFTPUtcy/3mFZC2BfRFcJoRf06PeXci1Gh78kK7BH320Hvvv5oLNvUrR66EPZQNL8VauloMU+cOQwg2OX8nhG7RyJdBNOvmLg3A0i57CtlM4Ua5LimsB87pOrEarWndx6eomS778g3Y4SjUs20VdQ=" />
    <add key="ConnectionStringHCVU_EHSDB_REP_Full" value="pzmS4aA3D0CtFKc+NYCgEN69fCIrEl4ptzGa/i77KKvgCd7jWYTuO3J0QPvTWHrkyRx74vDQUoo/NhzNFrs1oDWEIyV159P3JuRaHB6Jxf7+MIXxvderFSCcAEIMEF9EapnuoO78r2eZSNXmz0ijGzuBg+XEuO7d6JZ9CfQqrHZrs99rLkWbAx1jGLvp2bjwp+0qY7+lauXu9k68tRMGH35QFXHTj2kV6d7QzQYmjAd4s6g4kj87nCEVL7oAhL05" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog_Full" value="nwm/EzRJS72VKA6BtIxkjQCecVbKUd5t4Z4EM7fK15XFoXhFumXQka4ajVX42Uw8skr/rq6D5Uak8CBGyEIQICxMpZwqMYmGyIuX5eEOr70r69Em9QlLPc751vR9copbBkYuUR8DXi64kH2gSI0PASYKo7xAZtWT9/Ct/Qm/+l5s+EAuaINodopYmRPLAG4DBhK8WM6Xot8AVfPKTs377KfHHvTyEKinEkhDinaYO3J9sPmIKq0jrpvUabPXCyuK" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry_Full" value="AUOvAuKA8JDAHdgxxBe730BdhYOt+hm6lcWutY9sHSV9VywGoMWi2oYGbCtjn/aBnODZTHxrKYFIpQrX+gd81PiWYdzmCopunkpuAQq4mplcrmjbNg6vi+cdfStpMhVGe57SblU4/ARirtBuz4iZTu4+Mu3PKlFgh0IrjDkOMqCnasFZD38gTQeoJuVe1iNvti8Exm9nZN6vxVyiBt8zR2z8VpuEzwQ7/yXhZUdOPU/F0VfPbcwDxjqn2fqGRS50" />
    <add key="ConnectionStringPublic_EHSDB_PRI_Full" value="xW7FnQwm1C3X8tKqN1+8x4ceCC/dQVAHtlg3Cv5o/L5psqmMnq+94LSLY4osQFM/HZhur/cL2Qq2rZZpTIgm2ssFTPUtcy/3mFZC2BfRFcJoRf06PeXci1Gh78kK7BH3lzb0svEly1458W7PhlKZn2xMcjHc21qJYKZCDGoKkUjD+jiaCYfd9X8OMVFEvgfdc3jSxKqmq4+hvOWl3yXF9xLWVZS/5x9Rk5l8wRuUgCE=" />
    <add key="ConnectionStringPublic_EHSDB_REP_Full" value="pzmS4aA3D0CtFKc+NYCgEN69fCIrEl4ptzGa/i77KKvgCd7jWYTuO3J0QPvTWHrkyRx74vDQUoo/NhzNFrs1oDWEIyV159P3JuRaHB6Jxf7+MIXxvderFSCcAEIMEF9EapnuoO78r2eZSNXmz0ijG6MnwJEldNR984thcVQ8KvZLyBDyT8iMGzDt92lfDvsUfmNGdDTa0pU7Ywgo91ueSf9u8PTkE85T8vnt3zXoOrRjLx4zYlLR+sWRWFV5ZFNw" />
    <add key="ConnectionStringSSOP_EHSDB_PRI_Full" value="cRS6i1/S2SG+Y5wH18y9tGDRPnQtbAb1SZ8vtVHy4/G0aJgRgOodBHVFWAxAT5dIozDpWI4eDGk4T63n6vvMF24DxYIsC7gysUHJSANluHqkdoXUdbpM0ynThAf0FohyKgzIKK5ey61ioZ0dzDc8kr1ts/sj2frUmvJcClShaARctxPmY9YcdsnowEq1YpeQmSigDoiOtoiP1+aO21IZRkJeITATVAl499xaUwDZ1nE=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_Full" value="MUnyFgNMfZLLcTsN/Wjeehk63NX1O8AUYGfULS9qClqdN9m3gbV8ihcbyiabDvKHgOT6pBuQuBrP67dWftQHsTpUbZ+d5NjpNs572iURIOfHKvElYFrJrmImGHEJi7/vA/UJF1k11QogfaZ6sRa9pK894EairlyFOdVOODtIoNnPNR32q7j5Zzgv5kVffHLX7tvjdTfMWTYypy6s93W7zXFk8cOqnQpUf1UHP7T6aSs=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog_Full" value="BRAcZXh3/SglDUrMee5ZzZYntaj9as/OZ0clNCB6CVqequjEQCQeoqbZoJBvVfrCCRQhy00z5gh7XpCTOKZbxAvF8ulBHIW1+tltSxCbGRqw9Sty62+uGCpyxHTVVheUQn2gJ6Wnh9Qolo2bYQicF5yyTgHLwM7S9A3i1oY6RT+N04eSfsxK4FIDt/mu5GtVp1d5bfZyA8n+YGoReZVFhoBdSF5y0FR415iGGZv4cAx4WidF2ut+034so4txFswe" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_Full" value="MUnyFgNMfZLLcTsN/Wjeehk63NX1O8AUYGfULS9qClqdN9m3gbV8ihcbyiabDvKHgOT6pBuQuBrP67dWftQHsTpUbZ+d5NjpNs572iURIOfHKvElYFrJrmImGHEJi7/vlpGDXwbWZUy8dDZmfbNkdSwXYhSo1L4Y8Tkag5mNwRxNZddxCqu4OSsbxkn3a0XUNYBkmdrrhomJ3mRR+j5A7eCLJVIE4Xd7NpY58J5pA9k=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog_Full" value="BRAcZXh3/SglDUrMee5ZzZYntaj9as/OZ0clNCB6CVqequjEQCQeoqbZoJBvVfrCCRQhy00z5gh7XpCTOKZbxAvF8ulBHIW1+tltSxCbGRqw9Sty62+uGCpyxHTVVheUQn2gJ6Wnh9Qolo2bYQicF2aURV+tfPU1BLayZ2LOqICNpqOCBB1+YQ5JAhvruhOqTLuL1p5qLtXAllBg2f5G4n9yW0tlCNseASDgs95tRDJAhebyC/hVBD9McEUK8KLV" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_Full" value="EVnMxrMtx7yqHXIBiM6xIRHY4VkfsrFI0awHSGDChOAJilbw952OmkHn0gh85CeUwgjaGmkET3qRlnWKzLhAkmBHGSVPVrcIFVbssD9vTOvvlX7aMvOEVZh3kG1P1NBCbmOWy2suTDF2z2i9LSJZKG8d8KCni/be9cZpgSXzCIhgHkl7Weo4UDUANhCZznR86/GT0WZwh8L1oi0XaIt9qPleVogl9gr3PWeR+yA5QZsbbE6oSIQ1MKgDOCSGxm4G" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog_Full" value="YN++w5b6+H30KiOhcPNofAldCk8GagwwhzwkxDT8XJnN/UwRf5/kG67ZCIMXD9rPKW8VKZbFEbf6z8a2ZoqN4xNTQy1PODWvNuQjPdarepuXXq0DWGbE+EoRDp4S/MRLr1sImRyjS3XB6vRTFHR6Gi2oPlQOZ1F4reQcYSjeFaG3NPb/70fU3guKTODb1GXNdV4QSJFwGFV77NkEXHYTJJALhT44QAt6ctP9Uc1Q60JKeexCfAkR6+zhcbJAeh9Ua43viBpHvF2aaSj6QNbGJA==" />
    <!-- === Connection String Pool [end] === -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>