<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- === Platform setting [start] === -->
    <add key="Platform" value="01"/>
    <add key="XMLPath" value="C:\Project\EHS\UtilizationStat\App_Data\Report.xml"/>
    <add key="VoucherClaimStatisticPath" value="C:\Inetpub\wwwroot\IVSS_20091019\"/>
    <add key="FileExportPath" value="C:\Project\EHS\UtilizationStat\GeneratedXLS\"/>
    <add key="TemplatePath" value="C:\Project\EHS\UtilizationStat\Template\"/>
	<add key="CopyFilePrefixList" value="eHS(S)D0001-Elderly Voucher Claim_[%d].xlsx|eHS(S)D0004-RVP Claim_[%d].xlsx|eHS(S)D0028-VSS Claim_[%d].xlsx|eHS(S)D0031-ENHVSSO Claim_[%d].xlsx|eHS(S)D0032-PPP Claim_[%d].xlsx" />
    <add key="ZipFileType" value="XLS|XLSX"/>
    <add key="DBFlag" value="ConnectionStringHCVU_EHSDB_PRI"/>
    <add key="DBFlag2" value="ConnectionStringHCVU_EHSDB_PRI"/>
    <!-- === Platform setting [end] === -->

    <!-- =========================================================================================================-->

    <!-- Connection String Pool start -->
    <add key="ConnectionStringHCSP_EHSDB_PRI" value="JtXIKlyit5ju4eBXzkIFkk7GiRU3skSVInDGvpr2vniaCZSln3NhKtuq4GFzhgoOK4xEERXR8pkp2ljtimQv0G6Cecn2Ai43NP5z6zFjrSA5eaT3IaYa/h3fOLhh9Lqo0uk+QG9asEMxa8NtwBD5OAPeBTAGmSN51xxbTQuWQIoqemBCE5ZLTqLa792xrBiAUlAYdGy02ZI0cjT8ARwfBysIt6x++y8ZNPfUlPM79Hw=" />
    <add key="ConnectionStringHCSP_EHSDB_PRI_InterfaceLog" value="Eo3norgS0Wc8t1BA/whp5b6tdwpejOtyLw07xv8Sq0vGldqi/DPP5K/TcdSOS4tzzBFhOXvRUOBXY/05+rYbeH0SUCpOjgf1Xakz4Y4EteqJ07WkidRQe5oqoyda+GXeYYtDIyFsV//jH/fpeOAoNYJOW+qtNV7Cg9K0EbZb4Z+yNzTV8Of/5b4aHQcVgoQ3GCjd8+nKeHQBzU74hKtL1JFEbLosVTPhNmsrbUjqP1QYAuiaFjXSv6pYfZfBeUrf" />

    <add key="ConnectionStringHCVU_EHSDB_PRI" value="i6GZ3wAni8IpS0uc0ByVmvSn2kDf1FB2TlIXY8Vzr9Xnaa8OGyWgIbYsY8gx5bjVNwODzHL6/KF2gntQCS2igKSHJIFAe1CdNaIijZaSz/PwvH8UjtimNyaNJU6IpSD16Hb2MTTHFia3lQ9i19r9LJf93HzQatTTTYjOuIrcfuDkSQh9aM0wA9IGzAn5itgLxhzLHCC7mJTc8Jo0T3/lkvMSXuzYv7SzceGJPK9ODMk=" />
    <add key="ConnectionStringHCVU_EHSDB_REP" value="arU6H0G3n1AZNrfnUlkvTMe+sgjlL/SFPryB5Xr1Bsr8tt3+UgSWH1VMJiNfeFHhAf3dW+ykkK8/tI1110jx52GyToTP2UArHBvQ4ws2sMISvgp3wTPwW+Yp7rm7IUU4KrRF3tgY7UunCWDz2hranVeoa6i60nFKcxevwPRxli7S1RMWdWCy9Gc7UtpkxdabJcz1ASo4UVxNi+9Po9Ihov0EQTwg8IAySAWTzBmxFGGkkxvoWS1nVGmh9u8vUpFw" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_InterfaceLog" value="pzmS4aA3D0CtFKc+NYCgEN69fCIrEl4ptzGa/i77KKvgCd7jWYTuO3J0QPvTWHrkfsMdO5oYgYy1CUfr5680gGNll1+W5s25rFevmgPAJXoGTSQY+yHqoeQP1rBdi+bg+BvHmRa7KcCY93kgGbFPo+1/b7ANt+KAR4ZnCVveXpkNI7tqfPxnbpdRaATiKvyQgGlEpNPZmdiI1n9DmerPQtjCNl9+GrUQ8TZa1WeM1v8Srgjmm1987Oea0+UMlpcI" />
    <add key="ConnectionStringHCVU_EHSDB_REP_InterfaceLog" value="0EZoPVEwQ1VFLtPJvmnV9gXRoAC3zXz0tVOh1Uv0sgtWpsmMVCEA+oScW5sGlcpPa8xkgVPDzQKdPviNt+W71BPUfPkOQzSltPavHZfiuSLyGrpr27lUhZFgSoeAntlICaYZ0N+mrieNZMptVmn5I4ThdqzHmsusdTcS6JUN1VKyrKt+s8voD3Npo4LIR1zrR/u3iXlndqrgh03Ws08NhZtKXSJH7IZMjEaF4bTC0zvDS5On0LLV/mJ66FfJndbq/eSf/8QxiSkf0OYWvCliLQ==" />
    <add key="ConnectionStringHCVU_EHSDB_PRI_Enquiry" value="IYYL9/+RpO7lgnb7XbLUFu9+rvG3COC3HlfjdmpKC9MDdRj+kGy+JxYt08AUIzvMB5hTb9roqP+JxAEcJxdDqL8RKCep7/RZJwHU0PQ/zMSOywOMeEAlVIG7fdQRcSFC78Pk3wNFLTBNM0IOzlZeUTcgAkFuXkG3KHOVpX7u2wwvEIk4ztwl79gaL0Ynny0d0jkv4NzHgHxvCIQwQMoGpJelP2Ck1/t03Rpsbwt0lX6C0gcml1MCJz5GuQTabsOM" />

    <add key="ConnectionStringPublic_EHSDB_PRI" value="i6GZ3wAni8IpS0uc0ByVmvSn2kDf1FB2TlIXY8Vzr9Xnaa8OGyWgIbYsY8gx5bjVNwODzHL6/KF2gntQCS2igKSHJIFAe1CdNaIijZaSz/PwvH8UjtimNyaNJU6IpSD1OqSafk42mIBA6l1YiWejMAh84a8xrDXa+WicYZvk1khU6KfM1seaEYwMpF8gLFD0PBcgzMXuNZlkUU7Dt1/X+b8bS5sdDaQiWDWBNvoToec=" />
    <add key="ConnectionStringPublic_EHSDB_REP" value="arU6H0G3n1AZNrfnUlkvTMe+sgjlL/SFPryB5Xr1Bsr8tt3+UgSWH1VMJiNfeFHhAf3dW+ykkK8/tI1110jx52GyToTP2UArHBvQ4ws2sMISvgp3wTPwW+Yp7rm7IUU4KrRF3tgY7UunCWDz2hranU71F/JlAcYUeq9uAED7D56EMe8k6Wi+atZzBiQMdhw5wRPm1vzjSggHzOVB4Soy3VTssgE457SJ6yMNfsoknu/httR/8HwVPuoV4bxo1aFb" />

    <add key="ConnectionStringSSOP_EHSDB_PRI" value="A9FotkvG6BOVGgWbKeNHF9BqWRfUw0MJNhlfz/Q+nfbmObhpYl3GEU7Es2reVaPSEn5s1BWPre2Jxvsf+OzaM1O1Yd2LTB1F5kT0BSaY+DAHp6A+R8CKBxbN+FsfgU/lsbRSqGBwZ5i/A6t9EMnNnny2puI9aEBXX5dJK1cC1jPrTX66PDLTPDm1hoT5Y0S0oH9D/LlpEHT21Yl9FPqboquGxNVg4d+V7sGW5yIUeu0=" />

    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI" value="9jx4/cc0hPcOdDMATNPM5OBwN/8IYxwYMJO4AUQXx2GTGwIo34eK13UfUxiuiNbAH25XOLEdK6PDaSusSShS2dyV3I6XMT1T05oHa9nstnBXE+7ifjrbTbgDn3m/XZ07hqzwo4cPxENo8w2qXs/Vlp0qTkaFehlz883oZAJMCE4lc03VSkRIMMdABErBjZT+0Eu122PAZOsR/Jk0/Y5mTDa3OokvYuVJdgKrte+bUIc=" />
    <add key="ConnectionStringWSEXTUSER_EHSDB_PRI_InterfaceLog" value="EVnMxrMtx7yqHXIBiM6xIRHY4VkfsrFI0awHSGDChOAJilbw952OmkHn0gh85CeU6qNwB93MEGVvP5m/HXt7fzigE/oC8iqSc36OSi1BgUA+OxVLtv/Kzy0MFUpUo7RKpJjU5L0XEMgpt2gtaD+02slY6kFxZDYlvCH+SuJbT3unKKd1p4YebI8ep5CylPQsFOOBbA5iUl9XtePSSIMCroHKUxDJ3boJy8mT7QlwPN/t0d7F7eryuIVPUsVVxz5e" />

    <add key="ConnectionStringWsintuser_EHSDB_PRI" value="9jx4/cc0hPcOdDMATNPM5OBwN/8IYxwYMJO4AUQXx2GTGwIo34eK13UfUxiuiNbAH25XOLEdK6PDaSusSShS2dyV3I6XMT1T05oHa9nstnBXE+7ifjrbTbgDn3m/XZ07pKDT7IpsCl10TBIi9krBW2T8L+7WObDakA8S9QzsOiFGzyGDR0WkIyl/LyDOd05EKA3482zrP7rI5Myyl1o1RrYMJETpk1lEzk+L7oLwIDc=" />
    <add key="ConnectionStringWsintuser_EHSDB_PRI_InterfaceLog" value="EVnMxrMtx7yqHXIBiM6xIRHY4VkfsrFI0awHSGDChOAJilbw952OmkHn0gh85CeU6qNwB93MEGVvP5m/HXt7fzigE/oC8iqSc36OSi1BgUA+OxVLtv/Kzy0MFUpUo7RKpJjU5L0XEMgpt2gtaD+02k4nJ/PqsKeBm1TDCtMPWkzoxNSweG3lcEuKdnacQPoAolx0hBZ3eLPhzW/eF/G9gp7pb09Qn0j8nCtQL861gHFLzA4/OBv9qNJNW0FRzT5i" />
    <add key="ConnectionStringWsintuser_EHSDB_REP" value="mSGzZ7dABZpyy/++ItOlk+QLEe3Q4UIMEOLlCe9L7lU7Sb9D3AE1y32Wwij0PXeNcAHZGUdosIV/hhOYLUQYA4zIRr7e0umxbQX8ZXNbZa1JaXtKfTJXpUZG0fKdww5ZDa6ax0nt9Fj+p7UwZAGnRNcoqyz3y7ZR5Ao1gsbZYu6BJ06sbIipAv1oLZXsEoIcu+zFU7EOl42qoA61APCuv1T55UiJFjQhbhfD/t1pJX4tXjMgXopEdBGqA4iwJR0q" />
    <add key="ConnectionStringWsintuser_EHSDB_REP_InterfaceLog" value="smskTi7tDJsPQG3O7ythuy8zaPPGermSxMqBSW5B9OOiqnqfNIBmraIzFXMHl/FXX8Z6HnV8GjBtHwfruWqnk+Xfpd2gQQ7jmro8Tw27pA0os+smvYab273pZFVoeREutiCDUtTi8VS7Lxq0I2CSGJp1FzpTBxCTWfpGojWKReL/o0rcOB+YGS6fJ6FX5v71hmFEIDM10nTiZFvo6ib7n+76T/MSf25ZpK99gOwsaOsAhdhgNtRv0Op6cDO/15DPiRrPAIa0QhSVpBmR0OKBWQ==" />
    <!-- === Connection String Pool [end] === -->
    
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>

          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
