<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IdeasRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="example" type="CustomConfig.ExampleSection, CustomConfig" />
  </configSections>
  <appSettings>
    <!--=== Platform setting [start] ===-->
    <add key="LogFilePath" value="C:\Project\EHS2015\VerifierIDEAS\Log\Log.txt" />
    <add key="IDEASLang" value="en_US" />
    <!--<add key="IDEASLang" value="zh_HK" />-->
    <add key="IDEAS2_ReadGender" value="N" />
    <add key="IDEAS1_url" value="https://www1.ids.hcv.gov.hk:8443/ideas/TokenService,Dummy" />
    <add key="IDEAS2_url" value="https://www2.ids.hcv.gov.hk:8443/ideas2/services/TokenServicePort,Dummy" />
    <add key="IDEASCombo_url" value="https://192.168.99.89:8443/ideas/services/BrokerTokenService,https://192.168.44.159:8443/ideas2/services/BrokerTokenService,Dummy" />
    <!--=== Platform setting [end] ===-->
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <applicationSettings>

    <IdeasRM.Properties.Settings>
      <setting name="IdeasRM_DefaultHelperType" serializeAs="String">
        <value>web services</value>
      </setting>
      <setting name="IdeasRM_TokenServiceURLList" serializeAs="String">
        <value>https://www1.ids.hcv.gov.hk:8443/ideas/TokenService</value>
      </setting>
      <setting name="IdeasRM_TokenServiceRetryInterval" serializeAs="String">
        <value>360000</value>
      </setting>
      <setting name="IdeasRM_DeptCode" serializeAs="String">
        <value>HA</value>
      </setting>
      <setting name="IdeasRM_RaCode" serializeAs="String">
        <value>EHS</value>
      </setting>
      <setting name="Ideas2RM_RaCode" serializeAs="String">
        <value>EHS2</value>
      </setting>
      <setting name="IdeasRM_VerifyCertStoreLocation" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IdeasRM_VerifyCertStoreName" serializeAs="String">
        <value>AddressBook</value>
      </setting>
      <setting name="IdeasRM_VerifyCertThumbprint" serializeAs="String">
        <value>c3 04 24 5d 25 cf 8d af 97 4b 88 0a 6f e6 e4 c6 5c 26 58 33</value>
      </setting>
      <setting name="IdeasRM_DecryptCertStoreLocation" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IdeasRM_DecryptCertStoreName" serializeAs="String">
        <value>My</value>
      </setting>
      <setting name="IdeasRM_DecryptCertThumbprint" serializeAs="String">
        <value>75 65 34 d1 6e cd c4 14 f7 b4 90 93 b9 88 ca 40 62 8b e0 cb</value>
      </setting>
      <setting name="Ideas2RM_TokenServiceURLList" serializeAs="String">
        <value>https://www2.ids.hcv.gov.hk:8443/ideas2/services/TokenServicePort</value>
      </setting>
      <setting name="Ideas2RM_VerifyCertThumbprint" serializeAs="String">
        <value>70 1e 83 bd 62 3e 2b 88 1b 60 9c 9e 09 4b b4 52 5f fc ee b4</value>
      </setting>
      <setting name="IdeasRM_AllowIdeasVer" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="IdeasRM_BrokerServiceURLList" serializeAs="String">
        <value>Dummy</value>
      </setting>
      <setting name="Ideas2RM_BrokerServiceURLList" serializeAs="String">
        <value>https://192.168.99.89:8443/ideas/services/BrokerTokenService</value>
      </setting>
    </IdeasRM.Properties.Settings>
  </applicationSettings>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=11" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>